{% for block in entry.pageMatrix %}

    {% if block.type == "sectionHead" %}

        {% set linkName = block.linkName ? block.linkName : block.text %}

        <h2 id="{{ linkName | kebab }}">{{ block.text }}</h2>

    {% elseif block.type == "sectionLinks" %}

        <div class="sectionLinks">
            {% if block.head %}
                <h3>{{ block.head is empty }}</h3>
            {% endif %}

            <ul>
                {% for block in entry.pageMatrix.type('sectionHead') %}
                    {% if not block.exclude.contains('1') %}
                        {% set linkName = block.linkName ? block.linkName : block.text %}
                        <li><a href="#{{ linkName | kebab }}">{{ linkName }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

    {% elseif block.type == "body" %}

        {{ block.body }}

    {% elseif block.type == "bodyMultiColumn" %}

        <div class="matrix-multiColumnBody columns-{{ block.columnCount }}">
            {{ block.body }}
        </div>

    {% elseif block.type == "featureImage" %}

        {% set image = block.image.one() %}
        {% if image %}

            <figure>

                <img class="preload-img" src="{{ image.url }}" />

                <figcaption>

                    {% if block.captionHead %}
                        <h3>{{ block.captionHead }}</h3>
                    {% endif %}

                    {% if block.captionBody %}
                        <p>{{ block.captionBody }}</p>
                    {% endif %}

                </figcaption>
            </figure>

        {% endif %}

    {% elseif block.type == "largeImage" %}

        {% set image = block.image.one() %}
        {% if image %}

            <figure>

                <img class="preload-img" src="{{ image.url }}" />

                {% if block.caption %}
                <figcaption>

                        <p>{{ block.caption }}</p>

                </figcaption>
                {% endif %}

            </figure>

        {% endif %}

    {% elseif block.type == "slideshow" %}

        <div class="matrix-slideshow">

            {% for slideRow in block.slides %}

                {% if slideRow.image | length %}

                    <div class="slide-inner-wrapper">
                        <img class="preload-img" src="{{ slideRow.image.one().url }}" />
                        <div class="caption">
                            <p>{{ slideRow.captionBody }}</p>
                        </div>
                    </div>

                {% endif %}

            {% endfor %}

        </div>

    {% endif %}

{% endfor %}