{% set blocks = entry.pageMatrix.all() %}

{% for block in blocks %}

    <div class="m-block m-block--{{ block.type }}">
    {% if block.type == "sectionHead" %}

        {% set linkName = block.linkName ? block.linkName : block.text %}

        <h2 id="{{ linkName | kebab }}">{{ block.text }}</h2>

    {% elseif block.type == "sectionLinks" %}

        <div class="sectionLinks clearfix">
            {% if block.head %}
                <h3>{{ block.head is empty }}</h3>
            {% endif %}

            <ul>
                {% set sectionHeadBlocks = entry.pageMatrix.type('sectionHead').all() %}
                {% for sectionHeadBlock in sectionHeadBlocks %}
                    {% if not sectionHeadBlock.exclude.contains('1') %}
                        {% set linkName = sectionHeadBlock.linkName ? sectionHeadBlock.linkName : sectionHeadBlock.text %}
                        <li><a href="#{{ linkName | kebab }}">{{ linkName }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

    {% elseif block.type == "body" %}

        {{ block.body }}

    {% elseif block.type == "bodyMultiColumn" %}

        <div class="a-multiColumnBody a-multiColumnBody--{{ block.columnCount }}">
            {{ craft.huntermfa.columnize(block.body) | raw }}
        </div>

    {% elseif block.type == "image" %}

        {% set image = block.image.one() %}
        {% if image %}

            {% set cls = block.largeImage ? 'largeImage' : '' %}
            <figure class="{{ cls }}">

                <img class="preload-img" src="{{ image.url }}" />

                {% if block.caption %}
                <figcaption>
                        <p>{{ block.caption }}</p>
                </figcaption>
                {% endif %}
            </figure>

        {% endif %}

    {% elseif block.type == "largeImage" %}

        {% set image = block.image.one() %}
        {% if image %}

            <figure class="imageLarge">

                <img class="preload-img" src="{{ image.url }}" />

                {% if block.caption %}
                <figcaption>
                        <p>{{ block.caption }}</p>
                </figcaption>
                {% endif %}
            </figure>

        {% endif %}

    {% elseif block.type == "video" %}

        <div class="m-videoWrapper">
            <iframe src="https://player.vimeo.com/video/{{ block.vimeoId }}" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
            <p>{{ block.caption }}</p>
        </div>

    {% elseif block.type == "slideshow" %}

        {% set slideshowJson %} {% include "_data/page-matrix-slideshow.json" %} {% endset %}

        <div class="m-pageMatrix__slideshow" data-slick-slideshow data-settings='{{ slideshowJson }}'>

            {% set slideRows = block.slides.all() %}

            {% for slideRow in slideRows %}

                {% if slideRow.image | length %}

                    <div class="slide-inner-wrapper">
                        <img class="preload-img" src="{{ slideRow.image.one().url }}" />
                        <div class="caption">
                            <p>{{ slideRow.captionBody }}</p>
                        </div>
                    </div>

                {% endif %}

            {% endfor %}

        </div>

    {% elseif block.type == "blockQuote" %}

        <div class="a-blockQuote clearfix">

            {% set image = block.image.one() %}

            <div class="a-blockQuote__container">
                {% if image %}
                <div class="a-blockQuote__image">
                    <img src="{{ image.url }}" />
                </div>
                {% endif %}
                <div class="a-blockQuote__text">
                    <div class="a-blockQuote__rule"></div>
                    <p><span class="a-blockQuote__curly">&ldquo;</span>{{ block.quote }}<span class="a-blockQuote__curly">&rdquo;</span></p>
                    <div class="a-blockQuote__rule"></div>
                </div>
            </div>

        </div>

    {% elseif block.type == "table" %}

        <div class="matrix-table">

            {{ block.customTable.table }}

        </div>

    {% elseif block.type == "posts" %}

        <div class="matrix-posts">

            {% set category = block.category.one() %}

            {% set params = {
                section : 'posts',
                id: 'not ' ~ entry.id,
                orderBy: 'postDate desc',
                limit: 3,
                with : ['postThumb'],
                relatedTo: category
            } %}

            {% set posts = craft.entries(params).all() %}

            <div class="m-matrixPosts">

                {% if posts | length %}

                    {% if block.head %}
                    <h3>{{ block.head }}</h3>
                    {% endif %}

                    <ul class="m-matrixPosts__list clearfix">

                        {% for post in posts %}

                            <li class="m-matrixPosts__post">
                                <a href="{{ post.url }}">
                                    {% if post.postThumb %}
                                        <div class="m-matrixPosts__image">
                                            {{ macros.focusPointBackgroundImage(post.postThumb[0]) }}
                                        </div>
                                    {% endif %}
                                    <div class="m-matrixPosts__text">
                                        <div class="m-matrixPosts__type">
                                            {% set categories = craft.categories.relatedTo(post) %}
                                            {% if categories.one() %}
                                                {% set x = categories.one() %}
                                                {{ x.title }}
                                            {% endif %}
                                        </div>
                                        <h4 class="m-matrixPosts__title">{{ post.title }}</h4>

                                        {{ macros.postAuthors(post.authors) }}

                                    </div>
                                </a>
                            </li>

                        {% endfor %}

                    </ul>

                {%  else %}

                    <p>No posts found.</p>

                {%  endif %}

            </div>

        </div>

    {% endif %}
    </div>

{% endfor %}