{# SEO Start #}
<title>{{ title|default( seoTitle ) }} | {{ seoSiteName }}</title>

<link rel="home" href="{{ siteUrl }}" />
<link rel="canonical" href="{{ craft.app.request.absoluteUrl }}">

<meta name="description" content="{{ seoDescription }}" />
<meta name="keywords" content="{{ seoKeywords }}" />

<meta property='og:type' content='website' />
<meta property='og:title' content='{{ seoTitle }}' />
<meta property='og:url' content='{{ craft.app.request.absoluteUrl }}' />
<meta property='og:site_name' content='{{ seoSiteName }}' />
<meta property='og:description' content='{{ seoDescription }}' />
<meta property="og:image" content="{{ seoImage.url }}" />

<meta name="twitter:card" content="summary_large_image">
<meta name='twitter:site' content='{{ social.twitterHandle }}' />
<meta name='twitter:title' content='{{ seoTitle }}' />
<meta name='twitter:description' content='{{ seoDescription }}' />
<meta name='twitter:url' content='{{ craft.app.request.absoluteUrl }}' />
<meta name="twitter:image" content="{{ seoImage.url }}" />
{# SEO End #}
