<div class="svg-sprite">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
        <defs>

            <symbol id="icon--plus" viewBox="0 0 20 20">
                <rect x="10" y="5" width="1" height="11"></rect>
                <rect x="5" y="10" width="11" height="1"></rect>
            </symbol>

            <symbol id="icon--minus" viewBox="0 0 20 20">
                <rect x="5" y="10" width="11" height="1"></rect>
            </symbol>

            <symbol id="icon--menu" viewBox="0 0 32 32">
                <path d="M6.4 9.143h18.286v1.829h-18.286v-1.829z"></path>
                <path d="M6.4 14.629h18.286v1.829h-18.286v-1.829z"></path>
                <path d="M6.4 20.114h18.286v1.829h-18.286v-1.829z"></path>
            </symbol>

            <symbol id="icon--menu-close" viewBox="0 0 32 32">
                <rect x="15.5" y="2.5" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -6.1275 16.207)" width="2" height="26"/>
                <rect x="3.5" y="14.5" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -6.1275 16.207)" width="26" height="2"/>
            </symbol>

            <symbol id="icon--close" viewBox="0 0 35 35">
                <rect x="17" y="5.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -6.7487 17.7071)" width="2" height="22.6"/>
                <rect x="6.7" y="16" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -6.7487 17.7071)" width="22.6" height="2"/>
            </symbol>

            <symbol id="icon--chevron-left" viewBox="0 0 24 24">
                <title>chevron-left</title>
                <path d="M10.4 12l5.3-5.3c0.4-0.4 0.4-1 0-1.4s-1-0.4-1.4 0l-6 6c-0.4 0.4-0.4 1 0 1.4l6 6c0.2 0.2 0.5 0.3 0.7 0.3s0.5-0.1 0.7-0.3c0.4-0.4 0.4-1 0-1.4l-5.3-5.3z"></path>
            </symbol>
            <symbol id="icon--chevron-right" viewBox="0 0 24 24">
                <title>chevron-right</title>
                <path d="M15.7 11.3l-6-6c-0.4-0.4-1-0.4-1.4 0s-0.4 1 0 1.4l5.3 5.3-5.3 5.3c-0.4 0.4-0.4 1 0 1.4 0.2 0.2 0.4 0.3 0.7 0.3s0.5-0.1 0.7-0.3l6-6c0.4-0.4 0.4-1 0-1.4z"></path>
            </symbol>

            <symbol id="icon--chevron-left2" width="32" height="62" viewBox="0 0 62 32">
                <line stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_2" y2="28.999999" x2="8.333333" y1="54.416658" x1="20.333333" stroke-width="2" stroke="#fff" fill="none"/>
                <line stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_3" y2="5.916675" x2="20.500003" y1="29.499999" x1="8.333341" stroke-width="2" stroke="#fff" fill="none"/>
            </symbol>

            <symbol id="icon--chevron-left3" viewBox="0 0 15.92 29.01">
                <polyline points="15.21 0.71 1.41 14.51 15.21 28.31" style="fill:none;stroke-width:1px"/>
            </symbol>

            <symbol id="icon--chevron-right3" viewBox="0 0 15.92 29.01">
                <polyline points="0.71 28.31 14.51 14.51 0.71 0.71" style="fill:none;stroke-width:1px"/>
            </symbol>

            <symbol id="icon--youtube" viewBox="0 0 32 32">
                <path d="M24.32 7.68h-15.36c-2.824 0.009-5.111 2.296-5.12 5.119v7.681c0.009 2.824 2.296 5.111 5.119 5.12h15.361c2.824-0.009 5.111-2.296 5.12-5.119v-7.681c-0.009-2.824-2.296-5.111-5.119-5.12zM14.080 20.48v-7.68l6.4 3.84z"></path>
            </symbol>

            <symbol id="icon--facebook" viewBox="0 0 32 32">
                <path d="M16.64 28.16h-5.12v-10.24h-2.56v-5.12h2.56v-1.677c0-3.443 1.473-7.283 6.552-7.283h3.688v5.12h-3.84c-0.98 0-1.28 0.384-1.28 1.28v2.56h5.12l-1.28 5.12h-3.84z"></path>
            </symbol>

            <symbol id="icon--instagram" viewBox="0 0 32 32">
                <path d="M19.2 8.32c2.474 0 4.48 2.006 4.48 4.48v7.68c0 2.474-2.006 4.48-4.48 4.48h-7.68c-2.474 0-4.48-2.006-4.48-4.48v-7.68c0-2.474 2.006-4.48 4.48-4.48h7.68zM19.2 6.4h-7.68c-3.53 0.011-6.389 2.87-6.4 6.399v7.681c0.011 3.53 2.87 6.389 6.399 6.4h7.681c3.53-0.011 6.389-2.87 6.4-6.399v-7.681c-0.011-3.53-2.87-6.389-6.399-6.4z"></path>
                <path d="M15.36 13.357c1.813 0 3.283 1.47 3.283 3.283s-1.47 3.283-3.283 3.283c-1.813 0-3.283-1.47-3.283-3.283 0.002-1.812 1.471-3.281 3.283-3.283zM15.36 11.437c-2.874 0-5.203 2.33-5.203 5.203s2.33 5.203 5.203 5.203c2.874 0 5.203-2.33 5.203-5.203-0.009-2.87-2.333-5.194-5.202-5.203z"></path>
                <path d="M22.054 11.174c0 0.679-0.55 1.229-1.229 1.229s-1.229-0.55-1.229-1.229c0-0.679 0.55-1.229 1.229-1.229s1.229 0.55 1.229 1.229z"></path>
            </symbol>

        </defs>
    </svg>
</div>

<!-- Generated by IcoMoon.io -->
