/*****************

Structure

*****************/

body {
  background: #eee;
}
.row {
  background: #fff;
  position: relative;
}
.column {
  position: relative;
}
.container {
  max-width: $global-width;
  position: relative;
  background: #fff;
  margin: 0 auto;
}
#content {
  position: relative;
  padding-top: $site-header-total;
  .has-feature-image & {
    padding-top: 0;
  }
}
section {
  margin: 0;
  padding: 0;
}

/*****************

Main

*****************/
.main {
  margin-bottom: 20px;
}
.paddingWrapper {
  padding-left: $side-gutter-small;
  padding-right: $side-gutter-small;
  @include breakpoint(large) {
    padding-left: $side-gutter;
    padding-right: $side-gutter;
  }
}

.sectionLinks {
  ul {
    list-style: none;
    margin: 0;
    li {
      float: left;
      padding-right: 20px;
      a {

      }
    }
  }
}
.layout-3-6-3 {
  #content {
    > .row {
      padding-top: 30px;
    }
  }
  .leftbar {
    padding: 0 20px;
    @include breakpoint(large) {
      padding-left: 40px;
    }
  }
  .sidebar {
    padding-top: 0;
  }
}
article {
  header {
    margin-left: 10px;
    @include breakpoint(large) {
      margin-left: grid-column(2 of 12);
    }
  }
}

/********
  Pages
 ********/
.faculty-page {
  .sidebar {
    padding-top: 0;
  }
}
.post-page,
.thesis-page,
.standard-page {
  .main {
    padding-left: 0;
    margin-top: 25px;
    .sidebar {
      @include breakpoint(large) {
        padding: 25px 20px 0;
        section {
          margin-right: 0;
        }
      }
    }
    figcaption {
      p {
        font-family: $sans-serif-font;
        font-size: 13px;
        line-height: 1.1em;
        margin: 12px 0 7px;
      }
    }
  }
}
.editorial {
  h1 {
    font-family: $serif-font;
    font-weight: 700;
    text-transform: none;
    font-size: 38px;
  }
  main {
    .row {
      article {
        > p {
          font-family: $serif-font;
        }
      }
    }
  }
  .m-block {
    font-family: $serif-font;
  }
}
