// 0. 205 Hudson
// ---------
$site-header-total: 52px;
$site-header-background: #000;

$edge-padding: 20px;
$side-gutter-small: 10px;
$side-gutter: 20px;

// 1. Global
// ---------
$global-font-size: 15px;
$global-width: rem-calc(1440);
$global-lineheight: 1.5;

$body-font-family: 'Libre Franklin', Helvetica, sans-serif;
$body-antialiased: true;
$global-margin: 1rem;
$global-padding: 1rem;
$global-weight-normal: 400;
$global-weight-bold: 700;
$global-radius: 0;
$global-text-direction: ltr;
$global-flexbox: false;

// 2. Color
// --------------
$foundation-palette: (
    primary: #666666,
    secondary: #333333,

    success: #3adb76,
    warning: #ffae00,
    alert: #d2232a, // #ec5840
);
$lighter-gray: #f3f3f3;
$light-gray: #ccc;
$medium-light-gray:lighten(#000, 60%);
$medium-gray: #666;
$dark-gray: #333;
$black-55: lighten(#000, 45%);
$black: #0a0a0a;
$white: #fefefe;
$red: #d2232a;
$blue: #1585cf;
$body-background: $white;
$body-font-color: #333;

$hunter-purple-bright: #6565ff;
$hunter-purple-grey: #a49eaa;

$robins-egg-blue: #8dd7f7;
//$purple: #6565ff;
$green-yellow: #dfdf00;
//$hunter-purple: #482d7b; // actual from hunter.edu
//$hunter-purple-grey: lighten( desaturate( $hunter-purple-bright, 30% ), 15% );

$anchor-color: $dark-gray;
$anchor-color-hover: $hunter-purple-bright;
$anchor-color-underline: $hunter-purple-bright; // lighten(#000, 65%);
$highlight-color: $hunter-purple-bright;


// 2. Breakpoints
// --------------

$breakpoints: (
  small: 0,
  medium: 768px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
);
$breakpoint-classes: (small medium large);

// 3. The Grid
// -----------
$grid-row-width: $global-width;
$grid-column-count: 12;
$grid-column-gutter: (
  small: 0,
  medium: 0,
  large: 0
);

// 4. Base Typography
// ------------------
$custom-font-1: 'Ultra', sans-serif;
//$custom-font-2: 'Playfair Display', serif;

//$serif-font: Georgia, Times, serif;
$serif-font: 'Lora', Georgia, Times, serif;
$sans-serif-font: 'Libre Franklin', serif;

$header-font-family: 'Libre Franklin', serif;
$header-font-weight: 700;
$header-font-style: normal;
$header-styles: (
  small: (
    'h1': ('font-size': 24),
    'h2': ('font-size': 20),
    'h3': ('font-size': 19),
    'h4': ('font-size': 18),
    'h5': ('font-size': 17),
    'h6': ('font-size': 16),
  ),
  medium: (
    'h1': ('font-size': 42),
    'h2': ('font-size': 18),
    'h3': ('font-size': 17),
    'h4': ('font-size': 16),
    'h5': ('font-size': 15),
    'h6': ('font-size': 14),
  )
);
$header-color: inherit;
$header-lineheight: 1.4;
$header-margin-bottom: 0.5rem;


// 17. Dropdown Menu
// -----------------
$dropdownmenu-arrows: false;
$dropdownmenu-min-width: 200px;
$dropdownmenu-background: #fff;
$dropdownmenu-border: 0;

$dropdownmenu-padding: 20px 3px 16px;
$dropdownmenu-submenu-padding: 12px 6px;

$dropdown-menu-item-color-active: $hunter-purple-bright;
