/*****************

Typography

*****************/

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

h1 {
  font-weight: 300;
  margin-top: 20px;
  //margin-left: 10px;
}

h2, h3 {
  margin-top: 15px;
}

a.no-link {
  &:hover {
    color: $anchor-color;
    cursor: default;
  }
}

p {
  //font-family: yrsa, serif;
  //font-weight: 300;
  font-size: 16px;
}

p {
  &.intro {
    font-size: 22px;
    line-height: 32px;
    font-weight: 300;
    margin-bottom: 25px;
  }
  &.footnote {
    font-size: 10px;
    line-height: 12px;
  }
}

/*****************

Standard Pages

*****************/
.standard-page {
  .main {
    .m-block {
      a {
        text-decoration: underline;
      }
    }
  }
}

/*****************

Tables

*****************/
table {
  padding: 15px;
  background-color: $lighter-gray;
  margin-bottom: 10px;
  thead {

  }
  tbody {

  }
  tr {

  }
  td {
    vertical-align: top;
  }
}


/*****************

Figures

*****************/
figure {
  margin: 20px 0;
  figcaption {
    font-weight: 500;
    margin: 0;
    font-size: 9px;
    color: $black-55;
    border-bottom: 1px solid lighten(#000, 80%);
    padding: 8px 0 4px;
    p {
      font-size: 11px;
      line-height: 1.2em;
      margin: 7px 0 0;
    }
  }
}

// attempt to target redactor images that have been positioned
img[style*="margin:0px 20px 20px 0px"] { // left-aligned
  margin: 0 21px 21px 0!important;
}
img[style*="margin:0px 0px 20px 20px"] { // right-aligned
  margin: 0 0 21px 21px!important;
}

/*****************

Modals

*****************/
.reveal {
  padding-top: 40px;
  .close-button {
    position: absolute;
    top: 10px;
    right: 15px;
  }
}