@charset 'utf-8';

@import url(https://fonts.googleapis.com/css?family=Ultra);
@import url(https://fonts.googleapis.com/css?family=Libre+Franklin:300,300i,400,400i,500,500i,700,700i,900);
//@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&amp;subset=latin-ext);

// mixins
@import '_utility/_mixins';

// Foundation default settings
@import 'settings/settings';

// override Foundation settings
@import '_settings';

// load Foundation components
@import '_F6_modules';

// node modules
@import "../../../node_modules/slick-carousel/slick/slick.scss";
//@import "../../../node_modules/slick-carousel/slick/slick-theme.scss";

// site style sheets
@import '_typography';
@import '_general';

@import '_atoms/_a-blockQuote';
@import '_atoms/_a-byLine';
@import '_atoms/_a-facultyHead';
@import '_atoms/_a-featureImage';
@import '_atoms/_a-homeDivider';
@import '_atoms/_a-homeSectionHead';
@import '_atoms/_a-multiColumn';
@import '_atoms/_a-sidebarEvents';
@import '_atoms/_a-sidebarName';
@import '_atoms/_a-sidebarPosts';
@import '_atoms/_a-slick-dots';

@import '_organisms/_o-home';
@import '_organisms/_o-sidebar';
@import '_organisms/_o-student';
@import '_organisms/_o-thesis';
@import '_organisms/_o-submissions';

@import '_molecules/_m-alert';
@import '_molecules/_m-alumniList';
@import '_molecules/_m-block';
@import '_molecules/_m-event';
@import '_molecules/_m-eventsList';
@import '_molecules/_m-newsList';
@import '_molecules/_m-facultyBody';
@import '_molecules/_m-facultyList';
@import '_molecules/_m-facultyPortrait';
@import '_molecules/_m-facultySidebar';
@import '_molecules/_m-footer';
@import '_molecules/_m-homeAlumni';
@import '_molecules/_m-homeEvents';
@import '_molecules/_m-homeFeature';
@import '_molecules/_m-homeInfo';
@import '_molecules/_m-homeNews';
@import '_molecules/_m-homeSocial';
@import '_molecules/_m-homeStudents';
@import '_molecules/_m-homeSubmissions';
@import '_molecules/_m-matrixPosts';
@import '_molecules/_m-pageMatrix';
@import '_molecules/_m-showHideFilters';
@import '_molecules/_m-siteHeader';
@import '_molecules/_m-siteNavigation';
@import '_molecules/_m-studentImages';
@import '_molecules/_m-studentInfo';
@import '_molecules/_m-studentList';
@import '_molecules/_m-studentRoster';
@import '_molecules/_m-submissionsList';
@import '_molecules/_m-thesisStudent';
@import '_molecules/_m-thesisList';
@import '_molecules/_m-videoWrapper';

@import '_utility/_icons';
@import '_utility/_utility';
