{#
 # Event template
 # ---------------
 #
 #}

{% import "_macros/_macros.twig" as macros %}

{% set bodyClasses = "event-page" %}

{% set seoTitle = entry.title %}
{% set seoDescription = 'Speaks at the 205 Hudson Hunter MFA Building ' ~ entry.date | date('l, F j, Y') %}
{% set seoImage = entry.eventFeatureImage.one() %}

{% extends "_layouts/_3-6-3" %}

{#{% requireLogin %}#}

{% block leftbar %}

    <div class="m-event__info" >

        {% set feature_image = entry.eventFeatureImage.one() %}

        {% if feature_image | length %}
            <figure>
                <img class="preload-img" src="{{ feature_image.url }}" />
            </figure>
        {%  endif %}

        <p class="m-event__type">{{ entry.eventCategory.one().title }}</p>
        <h1>{{ entry.title }}</h1>
        <p class="m-event__date">{{ entry.date | date('l, F j, Y') }}</p>
        <p class="m-event__location">{{ entry.eventLocation[0].title }}</p>
        {% if entry.endTime %}
            <p class="m-event__time">{{ entry.startTime | date('g:ia')}} - {{ entry.endTime | date('g:ia')}}</p>
        {% else %}
            <p class="m-event__time">{{ entry.startTime | date('g:ia')}}</p>
        {% endif %}
        <p class="m-event__ical">
            {{ macros.ical( entry.title, entry.shortDescription, "205+Hudson+St,+New+York,+NY",entry.date ,entry.startTime ,entry.date ,entry.endTime ) }}
        </p>
    </div>

{% endblock %}

{% block main %}

    {% cache globally %}

        <div class="m-event__main" >

            {{ entry.description }}

            {% set image = entry.eventDetailImage.one() %}

            {% if image and image.image | length %}
                <figure>
                    <img class="preload-img" src="{{ image.image.one().url }}" />
                    {% if image.caption %}
                    <figcaption>{{ image.caption }}</figcaption>
                    {% endif %}
                </figure>
            {%  endif %}

        </div>

    {% endcache %}

{% endblock %}

{% block sidebar %}

    {% set sidebarContent = eventsSettings.subpageSidebar.one().sidebarContent %}
    {% if sidebarContent %}
        {% include "_sidebars/_sidebars" %}
    {% endif %}

{% endblock %}
