{# @var craft \craft\web\twig\variables\CraftVariable #}

<div class="column m-eventsList__event">
    {% if event.eventFeatureImage | length %}
        {% set x = ( event.eventFeatureImage[0].focusX + 1 ) * 50 %}
        {% set y = 100 - ( ( event.eventFeatureImage[0].focusY + 1 ) * 50 ) %}
    {%  else %}
        {% set x = 50 %}
        {% set y = 50 %}
    {%  endif %}

    <a href="{{ event.url }}">
        {% if event.eventFeatureImage | length %}
        <div class="m-eventsList__event__image"  style="background-image: url( {{ event.eventFeatureImage[0].url }} ); background-position: {{ x }}% {{ y }}%;"></div>
        {% endif %}
        <div class="m-eventsList__event__text">
            <h3 {{ event.smallTitleFont ? 'class="small-head"' : '' }}>{{ event.title }}</h3>
            <p class="m-eventsList__event__date">{{ event.date | date('F j, Y')}}, {{ event.startTime | date('gA')}}</p>
            <p class="m-eventsList__event__type">{{ event.eventCategory[0].title }}</p>
        </div>

    </a>
</div>
