{#
 # Events template
 # ---------------
 #
 #}

{% extends "_layouts/_siteWrapper" %}

{# SEO #}
{% set seoTitle = entry.seo.title | default(entry.title) %}
{% set seoDescription = entry.seo.description | default('') %}
{% set seoKeywords = entry.seo.keywords | default('') %}
{% set seoImage = entry.seo.seoImage[0] | default('') %}
{# end SEO #}

{#{% requireLogin %}#}

{% set futureParams = {
    section : 'events',
    orderBy: 'date asc',
    date : '>= ' ~ date('today') | date('c'),
    with : ['eventFeatureImage','eventCategory']
} %}

{% set futureEvents = craft.entries(futureParams).all() %}

{% set pastParams = {
    section : 'events',
    orderBy : 'date desc',
    date : '< ' ~ date('today') | date('c'),
    with : ['eventFeatureImage','eventCategory','eventLocation']
} %}

{% set pastEvents = craft.entries(pastParams).all() %}

{% set eventImageTransform = {
    width: 200,
    height: 240,
    quality: 80
} %}

{% block content %}

    {% cache globally %}
    <div class="column row">

        {% if futureEvents | length %}
        <div class="m-eventsListCurrent">

            <div class="m-eventsListCurrent__header">
                <h1>Upcoming Events</h1>
            </div>

            <div class="m-eventsListCurrent__content">
                <div class="row medium-up-2">

                    {% for event in futureEvents %}

                        <div class="m-homeEvents__container column">
                            <div class="m-homeEvents__image">
                                <img src="{{ event.eventFeatureImage[0].getUrl(eventImageTransform) }}" alt="{{ event.title }}"/>
                            </div>
                            <div class="m-homeEvents__text">
                                <p class="m-homeEvents__type"><span style="background-color: {{ event.eventCategory[0].eventColor }};">{{ event.eventCategory[0].title }}</span></p>
                                <p class="m-eventsList__event__type" ></p>
                                <h3 class="m-homeEvents__title {{ event.smallTitleFont ? 'small-head' : '' }}"><a class="m-homeEvents__link" href="{{ event.url }}">{{ event.title }}</a></h3>
                                <p class="m-homeEvents__date">{{ event.date | date('l, F')}}&nbsp;{{ event.date | date('j')}}</p>
                                <p class="m-homeEvents__location">{{ event.eventLocation[0].title }}</p>
                                {% if event.endTime %}
                                    <p class="m-homeEvents__time">{{ event.startTime | date('g:ia')}} - {{ event.endTime | date('g:ia')}}</p>
                                {% else %}
                                    <p class="m-homeEvents__time">{{ event.startTime | date('g:ia')}}</p>
                                {% endif %}
                            </div>
                        </div>

                    {% endfor %}

                </div>
            </div>
        </div>
        {% endif %}

        <div class="m-eventsListPast">

            <h2>Past Events</h2>

            <div class="row small-up-2 medium-up-4 large-up-6">

                {% for event in pastEvents %}

                    <div class="column m-eventsList__event">

                        {% set x = 50 %}
                        {% set y = 50 %}

                        {% if event.eventFeatureImage | length %}

                            {% set img = event.eventFeatureImage[0] %}
                            {% if img.hasFocalPoint %}
                                {% set x = ( img.focalPoint | first ) * 100 %}
                                {% set y = ( img.focalPoint | last ) * 100 %}
                            {% endif %}

                        {%  endif %}

                        <a href="{{ event.url }}">
                            {% if event.eventFeatureImage | length %}
                                <div class="m-eventsList__event__image">
                                    <img src="{{ img.getUrl(eventImageTransform) }}" alt="{{ event.title }}"/>
                                </div>
                            {% endif %}
                            <div class="m-eventsList__event__text">
                                <p class="m-eventsList__event__type" ><span style="background-color: {{ event.eventCategory[0].eventColor }};">{{ event.eventCategory[0].title }}</span></p>
                                <h3 {{ event.smallTitleFont ? 'class="small-head"' : '' }}>{{ event.title }}</h3>
                                <p class="m-eventsList__event__date">{{ event.date | date('F j, Y')}}</p>
                            </div>

                        </a>
                    </div>

                {% endfor %}

            </div>

        </div>

    </div>
    {% endcache %}

{% endblock %}
