{# @var craft \craft\web\twig\variables\CraftVariable #}

{% import "_includes/forms" as forms %}

{% if value is iterable %}
<table>
{% for key, val in value %}

    <tr>
        <td class="key">{{ key }}</td>
        <td class="value">{{ val }}</td>
    </tr>

{% endfor %}
</table>
{% elseif value %}
    <p class="value">{{ value }}</p>
{% else %}
    <p class="noValue">-- unset --</p>
{% endif %}

<input name="{{ name }}" type="hidden" value="{{ rawValue }}" />

{% set css %}
    table {
        color: #bbb;
        table-layout: fixed;
        width: 100%;
    }
    table td, table td * {
        vertical-align: top;
    }
    .key {
        font-weight: bold;
        width: 100px;
    }
    .value {
        overflow-wrap: anywhere;
    }
    .noValue {
        color: #bbb;
    }
{% endset %}

{% css(css) %}