{# @var craft \craft\web\twig\variables\CraftVariable #}

{% import "_includes/forms" as forms %}

{{ forms.textField({
        label: "Title"|t,
        instructions: "This title will appear in the browser tab, but not on the page."|t,
        id: id ~ '[title]',
        name: name ~ '[title]',
        value: value.title | default
}) }}

{{ forms.textField({
        label: "Description"|t,
        instructions: "A complete sentence describing the content of this page"|t,
        id: id ~ '[description]',
        name: name ~ '[description]',
        value: value.description | default
}) }}

{{ forms.textField({
        label: "Keywords"|t,
        instructions: "A comma-separated list of keywords for this page"|t,
        id: id ~ '[keywords]',
        name: name ~ '[keywords]',
        value: value.keywords | default
}) }}
