{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * huntermfa module for Craft CMS
 *
 * SEO Field Settings
 *
 * @author    Hunter MFA
 * @copyright Copyright (c) 2020 Hunter MFA
 * @link      mfa205hudson.org
 * @package   HuntermfaModule
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("modules\\huntermfamodule\\assetbundles\\huntermfamodule\\HuntermfaModuleAsset") %}

{{ forms.textField({
    label: 'Some Attribute',
    instructions: 'Enter some attribute here.',
    id: 'someAttribute',
    name: 'someAttribute',
    value: field['someAttribute']})
}}
