.svg-sprite {
  display: none;
}
.icons {
  button {
    height: 100%;
    width: 100%;
    position: relative;
  }
  svg {
    fill: $white;
    &.icon--close {
      fill: #333;
    }
  }
}
.icon {
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3D(-50%,-50%,0);
}
.icon--close {
  display: none;
}
.s-menu-open {
  .icon--menu {
    display: none;
  }
  .icon--close {
    display: block;
  }
}