{#
 # Student template
 # ---------------
 #
 #}

{# if slug is for alumni, then redirect to alumni list page #}

{% import "_macros/_macros.twig" as macros %}

{#{% includeJsFile "/assets/js/student.js" %}#}

{% set currentSemester = craft.huntermfa.getCurrentSemesterCode %}

{# redirect graduated students to the /students page #}
{% if entry.graduationSemester < currentSemester %}
    {% redirect "/students" 302 %}
{% endif %}

{% set bodyClasses = "student-page" %}

{% set concentration = entry.concentration.one() %}

{#{% set params = {#}
    {#section : 'students',#}
    {#limit: null,#}
    {#orderBy: 'firstName,lastName',#}
    {#graduationSemester : '>=' ~ currentSemester,#}
    {#with: [#}
        {#'portraitImage',#}
        {#'portfolioGallery.slide:image',#}
        {#'studioGallery.slide:image'#}
    {#]#}
{#} %}#}

{#{% set students = craft.entries(params).all() %}#}

{% set portraitImageTransform = {
    mode: 'fit',
    width: 300,
    quality: 80
} %}

{% set workImageTransform = {
    mode: 'fit',
    width: 660,
    quality: 80
} %}

{% set seoTitle = entry.firstName ~ ' ' ~ entry.lastName %}
{% set seoDescription = entry.firstName ~ ' ' ~ entry.lastName ~ ' Hunter MFA portfolio page' %}
{% set seoImage = entry.portraitImage[0] %}

{% extends "_layouts/_twoColumn-10-2" %}

{#{% requireLogin %}#}

{% block main %}

    <div class="o-student">

        <header class="m-studentInfo" >
            {% if entry.portraitImage | length %}
            <img src="{{ entry.portraitImage[0].getUrl( portraitImageTransform ) }}" alt="{{ entry.firstName }} {{ entry.lastName }} portrait"/>
            {%  endif %}
            <h1>{{ entry.firstName }} {{ entry.lastName }}</h1>
            <p>Studio {{ entry.studioNumber }}</p>
            <p><a href="{{ entry.websiteUrl }}" target="_blank">{{ entry.websiteLabel }}</a></p>

            <section class="m-studentInfo__details">

                {% if entry.dateOfBirth or entry.placeOfBirth %}
                <p>
                    {% if entry.dateOfBirth %}
                        b. {{ entry.dateOfBirth | date('Y') }}{{ ( entry.dateOfBirth and entry.placeOfBirth ) ? ', ' : '' }}
                    {% endif %}

                    {{ entry.placeOfBirth ? entry.placeOfBirth : '' }}
                </p>
                {% endif %}

                {% if entry.undergraduateDegree %}
                    <p> {{ entry.undergraduateDegree }}</p>
                {% endif %}

                <p>Concentration: {{ concentration.title }}</p>

                <p>Projected Graduation: {{ macros.semesterToString(entry.graduationSemester) }}</p>

                <div class="m-studentInfo__statement">{{ entry.statement }}</div>

            </section>

        </header>

        <div class="m-studentImages" >

            {% if entry.portfolioGallery | length %}

                <div class="m-studentImages--portfolio">

                    {% set slides = entry.portfolioGallery.all() %}

                    {% for slide in slides %}

                        {% set img = slide.image[0] %}

                        <div class="m-studentImages__slide">
                            <img src="{{ img.getUrl( workImageTransform ) }}" alt="{{ entry.lastName }}"/>
                            <div class="m-studentImages__caption">
                                {{ slide.caption }}
                            </div>
                        </div>

                    {% endfor %}

                </div>

            {% endif %}

            {% if entry.studioGallery | length %}

                <div class="m-studentImages--studio">

                    {% set slides = entry.studioGallery.all() %}
                    {% for slide in slides %}

                        <div class="m-studentImages__slide">
                            <img src="{{ slide.image[0].getUrl( workImageTransform ) }}" alt="{{ entry.lastName }}"/>
                            <div class="m-studentImages__caption">
                                {{ slide.caption }}
                            </div>
                        </div>

                    {% endfor %}

                </div>

            {% endif %}

        </div>

    </div>

{% endblock %}

{% block sidebar %}

    {% set sidebarContent = studentsSettings.subpageSidebar.one().sidebarContent %}
    {% if sidebarContent %}
        {% include "_sidebars/_sidebars" %}
    {% endif %}

{% endblock %}


