{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% set bodyClasses = "student-page" %}

{% extends "_layout" %}

{#{% requireLogin %}#}

{% block content %}

    <div class="column row student-profile">

        <header class="columns medium-4">
            <img src="{{ entry.portraitImage.one().url }}" alt="{{ entry.firstName }} {{ entry.lastName }} portrait"/>
            <h1>{{ entry.firstName }} {{ entry.lastName }}</h1>
            <p><a href="{{ entry.websiteUrl }}" target="_blank">{{ entry.websiteLabel }}</a></p>

            <section class="student-details">

                <p>b. {{ entry.dateOfBirth }} {{ entry.placeOfBirth }}</p>
                <p>{{ entry.undergraduateDegree }}</p>
                <p>Area of Concentration at Hunter: {{ entry.concentration }}</p>
                <p>Projected Graduation: {{ entry.projectedGraduationSemester }}</p>

                <div class="portfolio"></div>

                <div class="social"></div>

            </section>
        </header>

        <div class="columns medium-8">

            <div class="studio-gallery">

                {% for slide in entry.studioImageGallery %}

                    {{ dump(slide) }}


                    {#<div class="slide-inner-wrapper">#}
                            {#<img class="preload-img" src="{{ slide.image.one().url }}" />#}
                            {#<div class="caption">#}
                                {#<p>{{ slide.caption }}</p>#}
                            {#</div>#}
                        {#</div>#}

                {% endfor %}

            </div>

            {{ entry.statement }}

        </div>


    </div>

{% endblock %}


