{#
 # Students template
 # ---------------
 #
 #}

{% import "_macros/_macros.twig" as macros %}

{% extends "_layouts/_twoColumn-9-3" %}

{% set seoTitle = entry.title %}

{# SEO #}
{% set seoTitle = entry.seo.title | default(entry.title) %}
{% set seoDescription = entry.seo.description | default('') %}
{% set seoKeywords = entry.seo.keywords | default('') %}
{% set seoImage = entry.seo.seoImage[0] | default('') %}
{# end SEO #}

{% set currentYear = "now" | date('Y') %}
{% set currentSemesterNum = ( "now" | date('n') < 7 ) ? 1 : 2 %}
{% set currentSemester = craft.huntermfa.getCurrentSemesterCode() %}

{% set params = {
    section : 'students',
    limit: null,
    orderBy: 'lastName',
    graduationSemester : '>=' ~ currentSemester,
    with: ['portraitImage','concentration']
} %}

{% set students = craft.entries(params).all() %}

{% set concentrations = craft.categories.group('concentration').all() %}

{% block title %}

    <div class="paddingWrapper">
        <h1>{{ entry.title }}</h1>
    </div>

{% endblock %}

{% block main %}

    {% cache globally %}
    <div class="column row">

        <div class="paddingWrapper">

            <div class="m-filters" data-show-hide-filters data-selector-class="m-studentList__student" >
                <div class="m-filters__toggler"><span class="m-filters__togglerShow">Show Filters</span><span class="m-filters__togglerHide">Hide Filters</span></div>
                <div class="m-filters__wrapper" >
                    <ul class="m-filters__list">
                        <li class="m-filters__filter m-filters__filter--label">Thesis Semester: </li>
                        <li class="m-filters__filter all active" data-filter=""><a href="#" >All</a></li>

                        {% set year = currentYear %}
                        {% set semester = currentSemesterNum %}

                        {# show the next 6 semesters #}
                        {% for i in range(1,6) %}

                            <li class="m-filters__filter" data-filter="thesis-{{ year }}-{{ semester }}"><a href="#" >{{ macros.semesterToString(year ~ '-' ~ semester) }}</a></li>

                            {% set year = semester == 1 ? year : year + 1 %}

                            {% set semester = semester == 1 ? 2 : 1 %}

                        {%  endfor %}

                    </ul>
                    <ul class="m-filters__list">
                        <li class="m-filters__filter m-filters__filter--label">Incoming Semester: </li>
                        <li class="m-filters__filter all active" data-filter=""><a href="#" >All</a></li>

                        {% set year = currentYear - 3%}
                        {% set semester = currentSemesterNum %}

                        {# show the last 7 semesters #}
                        {% for i in range(1,7) %}

                            <li class="m-filters__filter" data-filter="incoming-{{ year }}-{{ semester }}"><a href="#" >{{ macros.semesterToString(year ~ '-' ~ semester) }}</a></li>

                            {% set year = semester == 1 ? year : year + 1 %}

                            {% set semester = semester == 1 ? 2 : 1 %}

                        {%  endfor %}

                    </ul>
                    <ul class="m-filters__list">
                        <li class="m-filters__filter m-filters__filter--label">Concentration: </li>
                        <li class="m-filters__filter all active" data-filter=""><a href="#" >All</a></li>
                        {% for concentration in concentrations %}
                            <li class="m-filters__filter" data-filter="concentration-{{ concentration.id }}"><a href="#" >{{ concentration.title }}</a></li>
                        {%  endfor %}
                    </ul>
                    <ul class="m-filters__list">
                        <li class="m-filters__filter m-filters__filter--label">Floor: </li>
                        <li class="m-filters__filter all active" data-filter=""><a href="#" >All</a></li>
                        {% for floor in [2,3,4] %}
                            <li class="m-filters__filter" data-filter="floor-{{ floor }}"><a href="#" >{{ macros.ordinal(floor) }} Floor</a></li>
                        {%  endfor %}
                    </ul>
                </div>
            </div>

            <div class="m-studentList">
            {% for student in students %}

                {% set floor = student.studioNumber|first|number_format %}
                {% if student.concentration | length %}
                    {% set concentrationId = student.concentration[0].id %}
                {% else %}
                    {% set concentrationId = 0 %}
                {% endif %}

                {% set classes = [ 'm-studentList__student', 'incoming-' ~ student.semesterEntered, 'thesis-' ~ student.graduationSemester , 'concentration-' ~ concentrationId, 'floor-' ~ floor ] %}
                {% set portrait = student.portraitImage[0] ?? null %}
                {% set thumb = {
                    width: 160,
                    height: 175,
                    quality: 75
                } %}

                <div class="{{ classes | join(' ') }}">
                    <a href="{{ student.url }}">
                        {% if portrait %}
                            {% if portrait.hasFocalPoint %}
                                {% set x = ( portrait.focalPoint | first ) * 100 %}
                                {% set y = ( portrait.focalPoint | last ) * 100 %}
                            {% endif %}

                            {% set imagePath = portrait.getUrl(thumb) %}
                        {% else %}
                            {% set imagePath = '' %}
                        {%  endif %}
                        <div class="m-studentList__studentLiner">
{#                            <img src="{{ imagePath }}" title="{{ student.firstName }} {{ student.lastName }}"/>#}
                            <div class="m-studentList__background"  style="background-image: url( {{ imagePath }} ); background-position: {{ x }}% {{ y }}%;"></div>
                        </div>
                        <div class="m-studentList__text">
                            <h3>{{ student.firstName }} {{ student.lastName }}</h3>
                            <p class="m-studentList__studioNumber">Studio {{ student.studioNumber > 0 ? student.studioNumber : '---' }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
            </div>

        </div>


    </div>
    {% endcache %}

{% endblock %}

{% block sidebar %}

    {% set sidebarContent = entry.sidebarContent %}
    {% if sidebarContent %}
        {% include "_sidebars/_sidebars" %}
    {% endif %}

{% endblock %}
