{# @var craft \craft\web\twig\variables\CraftVariable #}

{#
 # Submission template -- for CMS previews only
 # ---------------
 #
 #}

{% set imageTransform = {
    width: 354,
    height: 354,
    quality: 100,
    mode: 'fit'
} %}

{% set submission = entry %}
{% set people = submission.person.all() %}
{% set type = submission.submissionType.all() %}

{#{% requireLogin %}#}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/assets/css/site.css?v=37"/>

    <style>
        body {
            background-color: #fefefe;
        }
        .o-submissions__list__submission {
            width: 355px;
            margin: 70px 0 0 40px;
        }
        .o-submissions__list__image {
            background-color: #efefef;
        }
    </style>

</head>

<body id="body" >

    {% set submissionType = submission.submissionType.one() %}
    {% set formattedName = people ? craft.huntermfa.submissions.formatName(people) : 'Select People' %}
    {% set formattedDescription = submissionType ? craft.huntermfa.submissions.formatDescription(submission) : 'Select a Type' %}

    <div class="o-submissions__list__submission" >

        {% if submission.submissionUrl %}
        <a href="{{ submission.submissionUrl }}" target="_blank">
            {% endif %}

            <p class="o-submissions__list__type" >{{ submissionType.title ?? 'Select a Type' }}</p>
            <div class="o-submissions__list__image">
                {% if submission.submissionsMedia | length %}

                    {% set img = submission.submissionsMedia[0] %}
                    <img src="{{ img.getUrl(imageTransform) }}" alt="{{ submission.title }}"/>

                {%  endif %}

            </div>
            <h3 class="o-submissions__list__name" >{{ formattedName | raw }}</h3>
            <p class="o-submissions__list__description"> {{ formattedDescription | raw }}</p>

            {% if submission.submissionUrl %}
        </a>
        {% endif %}

    </div>

</body>
</html>