{# @var craft \craft\web\twig\variables\CraftVariable #}

{#
 # Submission Form template
 # ---------------
 #
 #}

{% import "_macros/_macros.twig" as macros %}

{% set bodyClasses = "submission-form" %}

{% set seoTitle = 'Hunter MFA Community Submission Form' %}
{% set seoDescription = 'Hunter MFA Community Submission Form' %}

{% extends "_layouts/_siteWrapper.twig" %}

{#{% requireLogin %}#}

{% do view.registerJsFile('https://cdn.jsdelivr.net/npm/vue/dist/vue.js') %}
{% do view.registerJsFile('https://unpkg.com/axios/dist/axios.min.js') %}
{% do view.registerJsFile('https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js') %}
{% do view.registerJsFile('https://unpkg.com/vue-select@latest') %}
{% do view.registerCssFile('https://unpkg.com/vue-select@latest/dist/vue-select.css') %}
{% do view.registerJsFile('/assets/js/submissions.js') %}

{#{% do view.registerJsFile('http://localhost:8092/js/chunk-vendors.js') %}#}
{#{% do view.registerJsFile('http://localhost:8092/js/app.js') %}#}


{% set submissionTypes = craft.categories.group('submissionType').all() %}

{% block content %}

<div class="row">
    <div class="main column">
        <h1>{{ entry.title }}</h1>
    </div>
</div>

<div class="row" id="submissions-form" >
    <div class="main column medium-5">

        <div class="o-submissionsForm">

            <div v-if="!success" >
                <form autocomplete="off">

                    <div v-if="generalError" role="alert">
                        <p class="field-error" >There was a general error with the form. Please check the fields or reload the page and try again.</p>
                    </div>

                    <div class="field-group">
                        <label for="submissionType">Type</label>
                        <p v-if="errors.submissionType" class="field-error">{( errors.submissionType )}</p>
                        <select v-model="submission.fields.submissionType" id="submissionType" @change="handleTypeChange($event)">
                            <option value="-1" data-label="Title">Select a Type</option>
                            {% for submissionType in submissionTypes  %}
                                <option value="{{  submissionType.id }}" data-label="{{ submissionType.submissionsTitleFieldLabel }}">{{ submissionType.title }}</option>
                            {%  endfor %}
                        </select>
                    </div>

                    <div class="field-group">
                        <label for="people">People</label>
                        <p v-if="errors.person" class="field-error">{( errors.person )}</p>
                        <v-select v-model="submission.fields.person" :options="peopleOptions" :reduce="person => person.value" :placeholder="placeholder" multiple @input="handleChange($event)"/>
                    </div>

                    <div class="field-group">
                        <label for="title">{( titleLabel )}</label>
                        <p v-if="errors.title" class="field-error">{( errors.title )}</p>
                        <input v-model="submission.title" id="title" type="text" maxlength="100" @change="handleChange($event)"/>
                    </div>

                    <div v-if="isEventOrExhibition" >
                        <div class="field-group" >
                            <label for="submissionsLocation">Venue</label>
                            <p v-if="errors.submissionsLocation" class="field-error">{( errors.submissionsLocation )}</p>
                            <input v-model="submission.fields.submissionsLocation" id="submissionsLocation" type="text" maxlength="100" @change="handleChange($event)"/>
                        </div>
                        <div class="field-group" >
                            <label for="curator">Curator (optional)</label>
                            <p v-if="errors.curator" class="field-error">{( errors.curator )}</p>
                            <input v-model="submission.fields.curator" id="curator" type="text" maxlength="100" @change="handleChange($event)"/>
                        </div>
                        <div class="o-submissionsForm__dateTime">
                            <div class="field-group">
                                <label for="startDate">{( startDateLabel )}</label>
                                <p v-if="errors.exhibitionStartDate" class="field-error">{( errors.exhibitionStartDate )}</p>
                                <input v-model="submission.fields.exhibitionStartDate" id="startDate" type="date" @change="handleChange($event)"/>
                            </div>
                            <div v-if="isExhibition" class="field-group">
                                <label for="endDate">End Date</label>
                                <p v-if="errors.exhibitionEndDate" class="field-error">{( errors.exhibitionEndDate )}</p>
                                <input v-model="submission.fields.exhibitionEndDate" id="endDate" type="date" @change="handleChange($event)"/>
                            </div>
                            <div v-else class="field-group">
                                <label for="startTime">Time</label>
                                <p v-if="errors.startTime" class="field-error">{( errors.startTime )}</p>
                                <input v-model="submission.fields.startTime" id="startTime" type="time" @change="handleChange($event)"/>
                            </div>
                        </div>
                    </div>

                    <div v-if="!isEventOrExhibition" class="field-group">
                        <label for="descriptionTextarea">Description</label>
                        <p v-if="errors.descriptionTextarea" class="field-error">{( errors.descriptionTextarea )}</p>
                        <textarea v-model="submission.fields.descriptionTextarea" id="descriptionTextarea" rows="2" maxlength="140"
                                  placeholder="Describe in 140 characters or less"
                                  @change="handleChange($event)"></textarea>
                    </div>

                    <div class="field-group">
                        <label for="url">Link</label>
                        <p v-if="errors.submissionUrl" class="field-error">{( errors.submissionUrl )}</p>
                        <input v-model="submission.fields.submissionUrl" id="url" type="url" maxlength="200" @change="handleChange($event)"/>
                    </div>

                    <div class="field-group">
                        <label for="email">Your Email (optional)</label>
                        <p v-if="errors.email" class="field-error">{( errors.email )}</p>
                        <input v-model="submission.fields.email" id="email" type="email" maxlength="100" @change="handleChange($event)"/>
                    </div>

                    <div class="field-group o-submissionsForm__media" :class="{hasFile: imageUploadSrc}" @drop.prevent="handleImage($event)" @dragover.prevent >
                        <label>Image (jpg or png)</label>
                        <div class="o-submissionsForm__dropZone">
                            <p v-if="errors.submissionsMedia" class="field-error">{( errors.submissionsMedia )}</p>
                            <label for="submissionsMedia" class="button" v-text="imageUploadButtonText"></label>
                            <input @change="handleImage($event)" type="file" accept=".jpg,.jpeg,.png" id="submissionsMedia" class="show-for-sr">
                            <div v-if="submission.fields.submissionsMedia" >
                                <img :src="imageUploadSrc" alt="Submission Preview Image"/>
{#                                <button @click="removeImage($event)">#}
{#                                    <svg class="icon icon--close" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon--close"></use></svg>#}
{#                                </button>#}
                            </div>
                        </div>
                    </div>

                    <div class="field-group">
                        <button @click="submitForm($event)" type="submit" class="button">Submit</button>
                    </div>

                    {{ csrfInput({ id: 'csrf' }) }}
                    {{ actionInput('entries/save-entry') }}

                    <div v-if="saving" class="o-submissionsForm__saving" role="alert">
                        <p>Submitting...</p>
                    </div>

                </form>
            </div>

            <div v-else class="o-submissionsForm__thanks">
                {{ entry.description }}
            </div>

            <div id="fieldData">
{#                <pre>{( $data.submission )}</pre>#}
            </div>

        </div>

    </div>

    <div class="sidebar column medium-6">

        <div class="o-submissions__preview">
            <div class="o-submissions__previewWrapper">
                <h2>Submission Preview</h2>
                <p>This is how your submission will appear on the site.</p>

                <p class="o-submissions__list__type"  v-html="previewType"></p>
                <div class="o-submissions__list__image">
                    <img v-if="imageUploadSrc" :src="imageUploadSrc" alt="Submission Preview Image">
                    <div v-else >Upload an image in the form</div>
                </div>
                <p class="o-submissions__list__name" v-html="previewName"></p>
                <p class="o-submissions__list__description" v-html="previewDescription"></p>
            </div>
        </div>

        {{ entry.body }}

    </div>

</div>

{% endblock %}

