{#
 # Submission Form template
 # ---------------
 #
 #}

{% import "_macros/_macros.twig" as macros %}

{% set bodyClasses = "submission-form" %}

{% set seoTitle = 'Hunter MFA Alumni Submission Form' %}
{% set seoDescription = 'Hunter MFA Alumni Submission Form' %}

{% extends "_layouts/_3-6-3" %}

{#{% requireLogin %}#}

{% macro errorList(errors) %}
    {% if errors %}
        <ul class="errors">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% block main %}

<form method="post" accept-charset="UTF-8">
    {{ csrfInput() }}
    {{ actionInput('entries/save-entry') }}
    {{ redirectInput('submissions/thank-you') }}
    {{ hiddenInput('sectionId', '23') }}
    {{ hiddenInput('enabled', '0') }}

    <label for="title">Title</label>
    <input id="title" type="text" name="title"
            {%- if entry is defined %} value="{{ entry.title }}"{% endif -%}>

    {% if entry is defined %}
        {{ _self.errorList(entry.getErrors('title')) }}
    {% endif %}

    <label for="body">Body</label>
    <textarea id="body" name="fields[body]">
        {%- if entry is defined %}{{ entry.body }}{% endif -%}
    </textarea>

    {% if entry is defined %}
        {{ _self.errorList(entry.getErrors('body')) }}
    {% endif %}

    <label for="body">Image</label>
    <input type="file" name="fields[submissionsMedia]">

    {% if entry is defined %}
        {{ _self.errorList(entry.getErrors('submissionsMedia')) }}
    {% endif %}

    <input type="submit" value="Publish">
</form>

{% endblock %}