{#
 # Faculty Entry template
 # ---------------
 #
 #}

{% import "_macros/_macros.twig" as macros %}

{% set bodyClasses = "faculty-page" %}

{#{% set facultyType = craft.categories.id(entry.facultyType).one() %}#}

{% set portraitImageTransform = {
    mode: 'fit',
    width: 200,
    quality: 80
} %}

{% set seoTitle = entry.firstName ~ ' ' ~ entry.lastName %}
{% set seoDescription = entry.firstName ~ ' ' ~ entry.lastName ~ ' Hunter MFA Faculty' %}
{% if entry.facultyPortraitImage | length %}
    {% set seoImage = entry.facultyPortraitImage.one() %}
{%  endif %}

{% extends "_layouts/_feature-main-sidebar2" %}

{#{% requireLogin %}#}

{% block feature %}

<header class="a-facultyHead large-offset-3">
    <h1>{{ entry.firstName }} {{ entry.lastName }}</h1>
    <p>{{ entry.theTitle }}</p>
</header>

{% endblock %}

{% block main %}

    <div class="m-facultyPortrait">
        <div class="m-facultyPortrait__liner" >
            {% if entry.facultyPortraitImage | length %}
                <img src="{{ entry.facultyPortraitImage.one().getUrl( portraitImageTransform ) }}" alt="{{ entry.firstName }} {{ entry.lastName }} portrait"/>
            {%  endif %}

            <p><a href="mailto:{{ entry.email }}" target="_blank">{{ entry.email }}</a></p>
            <p><a href="{{ entry.websiteUrl }}" target="_blank">{{ entry.websiteLabel }}</a></p>

        </div>
    </div>

    <div class="m-facultyBody">
        <section>

        {{ entry.body }}

        </section>

        {% if entry.facultyWorkImage | length %}
            <figure>
                <img src="{{ entry.facultyWorkImage.one().image.one().getUrl() }}" alt="{{ entry.firstName }} {{ entry.lastName }} artwork"/>
                <figcaption>
                    {{ entry.facultyWorkImage.one().caption }}
                </figcaption>
            </figure>
        {%  endif %}
    </div>

{% endblock %}

{% block sidebar %}

    {% set sidebarContent = facultySettings.subpageSidebar.one().sidebarContent %}
    {% if sidebarContent %}
        {% include "_sidebars/_sidebars" %}
    {% endif %}

{% endblock %}


