{#
 # Faculty List template
 # ---------------
 #
 #}

{% import "_macros/_macros.twig" as macros %}

{% extends "_layouts/_twoColumn-9-3" %}

{% set seoTitle = entry.title %}

{#{% requireLogin %}#}

{# SEO #}
{% set seoTitle = entry.seo.title | default(entry.title) %}
{% set seoDescription = entry.seo.description | default('') %}
{% set seoKeywords = entry.seo.keywords | default('') %}
{% set seoImage = entry.seo.seoImage[0] | default('') %}
{# end SEO #}

{% set facultyStudioArtID = craft.categories.group('facultyType').slug('studio-art').one().id %}
{% set facultyArtHistoryID = craft.categories.group('facultyType').slug('art-history').one().id %}

{% set params = {
    section : 'faculty',
    orderBy: 'lastName',
    with: [
        'facultyPortraitImage'
    ]
} %}

{% set faculty = craft.entries(params).all() %}

{% set bodyClasses = 'faculty-page' %}

{% block title %}

    <div class="paddingWrapper">
        <h1>{{ entry.title }}</h1>
    </div>

{% endblock %}

{% block main %}

    {% cache globally %}

    <div class="paddingWrapper">

        <div class="m-facultyList">

            {% for fac in faculty %}

                {% if fac.facultyPortraitImage %}
                {% set portrait = fac.facultyPortraitImage[0] %}
                {% set thumb = {
                    height: 250,
                    width: 188,
                    quality: 100,
                    mode: 'fit'
                } %}
                {% endif %}

                <div class="m-facultyList__item">
                    <div class="m-facultyList__liner">
                        <a href="{{ fac.url }}">
                            {% if portrait %}
                                {% if portrait.hasFocalPoint %}
                                    {% set x = ( portrait.focalPoint | first ) * 100 %}
                                    {% set y = ( portrait.focalPoint | last ) * 100 %}
                                {% endif %}
                                <div class="m-facultyList__image">
                                    <img data-fit-image
                                         src="{{ portrait.getUrl( thumb ) }}"
                                         alt="{{ fac.firstName }} {{ fac.lastName }} Portrait"
                                         data-focusX="{{ x }}"
                                         data-focusY="{{ y }}"
                                    />
                                </div>

                                {#<img src="{{ portrait.getUrl(thumb) }}"/>#}
                            {%  endif %}
                            <div class="m-facultyList__text">
                                <h3>{{ fac.firstName }} {{ fac.lastName }}</h3>
                                <p> {{ fac.theTitle }}</p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}

        </div>

    </div>

    {% endcache %}

{% endblock %}

{% block sidebar %}

    {% set sidebarContent = entry.sidebarContent %}
    {% if sidebarContent %}
        {% include "_sidebars/_sidebars" %}
    {% endif %}

{% endblock %}
