{#
 # Page template
 # ---------------
 #
 #}
{% import "_macros/_macros.twig" as macros %}

{# SEO #}
{% set seoTitle = entry.seo.title | default(entry.title) %}
{% set seoDescription = entry.seo.description | default('') %}
{% set seoKeywords = entry.seo.keywords | default('') %}
{% set seoImage = entry.seo.seoImage[0] | default('') %}
{# end SEO #}

{% if entry.pageFeatureImage %}
    {% set hasFeature = entry.pageFeatureImage.one() ? true : false %}
{% else %}
    {% set hasFeature = false %}
{% endif %}

{% set bodyClasses = hasFeature ? 'standard-page has-feature-image' : 'standard-page' %}

{# determine which layout to use #}
{#{% set layoutHandle = hasFeature ? '_feature-8-3' : '_noFeature-8-3' %}#}

{#{% extends "_layouts/" ~ layoutHandle %}#}
{% extends "_layouts/_feature-main-sidebar3" %}


{#{% requireLogin %}#}

{% set featureImageTransform = {
    mode: 'fit',
    width: 1440,
    quality: 80
  }
%}

{% block feature %}
    {% if hasFeature %}
    <div class="a-featureImageFixed">
        <div class="a-featureImageFixed__container">
            <figure class="a-featureImageFixed__figure">
                <img src="{{ entry.pageFeatureImage.one().getUrl( featureImageTransform ) }}" alt="{{ entry.title }} Feature Image" data-fit-image/>
                {#{% set alt = entry.title ~ "Feature Image" %}#}
                {#{{ macros.focusPointImageObjectFit(entry.pageFeatureImage.one(), featureImageTransform, alt ) }}#}
            </figure>
        </div>
        <div class="a-featureImage__backgroundGradient"></div>
        <div class="row">
            <div class="columns large-push-2 large-7">
                <div class="a-featureImage__header">
                    <h1>{{ entry.title }}</h1>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block main %}

    {% if not hasFeature %}
        <header class="m-block">
            <h1>{{ entry.title }}</h1>
        </header>
    {% endif %}

    {% include "pages/_types/_" ~ entry.type %}

{% endblock %}

{% block sidebar %}

    {% set sidebarContent = craft.huntermfa.resolveSidebarContent(entry) %}
    {% if sidebarContent %}
        {% include "_sidebars/_sidebars" %}
    {% endif %}

{% endblock %}
