{#
 # Students Sidebar template
 # ---------------
 #
 #}

{#{% set params = {#}
    {#limit: count,#}
    {#orderBy: order,#}
    {#graduationSemester : '>=' ~ currentSemester#}
{#} %}#}

{#{% set links = craft.entries(params).all() %}#}

<div id="linkList">

    {% if block.head %}
        <h3>{{ block.head }}</h3>
    {% endif %}

    <ul>
        {% for link in links %}

            <li>
                <a href="{{ link.url }}">{{ link.title }}</a>
            </li>

        {% endfor %}
    </ul>

</div>

