{# set flag in case this template was loaded by itself -- see sidebarEntry below #}
{% if isChild is defined and isChild %}
    {% set sidebarContent = childContent %}
    {% set isChild = false %}
{% endif %}

{% set blocks = sidebarContent.all() %}

{% for block in blocks %}

    <section>
    {% if block.type == "sidebarEntry" %}

        {% set isChild = true %}
        {% set childContent = block.entry.one().sidebarContent %}
        {% include '_sidebars/_sidebars' %}

    {% elseif block.type == "staticHtml" %}

        {{ block.htmlContent }}

    {% elseif block.type == "subpages" %}

        {% set parentPage = block.parentPage.one() %}
        {% include '_sidebars/_subpages' %}

    {% elseif block.type == "linkList" %}

        {% set head = block.head %}
        {% set links = block.entryLink %}
        {% include '_sidebars/_linklist' %}

    {% elseif block.type == "events" %}

        {% set count = block.count %}
        {% set eventType = block.eventType %}
        {% set head = block.head %}
        {% include '_sidebars/_contentTypes/_events' %}

    {% elseif block.type == "posts" %}

        {% set category = block.category.one() %}
        {% set count = block.count %}
        {% set head = block.head %}
        {% include '_sidebars/_contentTypes/_posts' %}

    {% elseif block.type == "students" %}

        {% set count = block.count %}
        {% set order = block.order %}

        {% include '_sidebars/_contentTypes/_students' %}

    {% elseif block.type == "faculty" %}

        {% set count = block.count %}
        {% set order = block.order %}
        {% set type = block.facultyType %}

        {% include '_sidebars/_contentTypes/_faculty' %}

    {% endif %}
    </section>

{% endfor %}