{% set subPages = craft.entries.descendantOf(parentPage).with('pageFeatureImage').all() %}

{% if block.head %}
    <h3>{{ block.head }}</h3>
{% endif %}

<ul class="m-sidebarImageMenu">

    {% for subPage in subPages %}

        <li>
            <a href="{{ subPage.slug }}">
                <img src="{{ subPage.pageFeatureImage[0].url }}" alt="{{ subPage.title }}" />
                {{ subPage.title }}
            </a>
        </li>

    {% endfor %}

</ul>
