{#
 # Student template
 # ---------------
 #
 #}

{% import "_macros/_macros.twig" as macros %}

{% set bodyClasses = "student-page alumni-page" %}

{% set entry = craft.entries({slug: matches['slug']}).one() %}

{# if the slug matches a current student redirect to the student section #}
{% if not craft.huntermfa.studentIsAlumni(entry) %}
    {% redirect entry.url 302 %}
{% endif %}

{% set concentration = craft.categories.id(entry.concentration).one() %}

{% set params = {
    section : 'students',
    limit: null,
    orderBy: 'firstName,lastName',
    graduationSemester : entry.graduationSemester
} %}

{% set students = craft.entries(params).all() %}

{% set portraitImageTransform = {
    mode: 'fit',
    width: 300,
    quality: 80
} %}

{% set workImageTransform = {
    mode: 'fit',
    width: 660,
    quality: 80
} %}

{% set seoTitle = entry.firstName ~ ' ' ~ entry.lastName %}
{% set seoDescription = entry.firstName ~ ' ' ~ entry.lastName ~ ' Hunter MFA alumni page' %}
{% set seoImage = entry.portraitImage.one() %}

{% extends "_layouts/_siteWrapper" %}

{#{% requireLogin %}#}

{% block content %}

    <div class="column row student-profile">

        <header id="student_info" class="columns medium-3">
            {% if entry.portraitImage | length %}
            <img src="{{ entry.portraitImage.one().getUrl( portraitImageTransform ) }}" alt="{{ entry.firstName }} {{ entry.lastName }} portrait"/>
            {%  endif %}
            <h1>{{ entry.firstName }} {{ entry.lastName }}</h1>
            <p>Studio {{ entry.studioNumber }}</p>
            <p><a href="{{ entry.websiteUrl }}" target="_blank">{{ entry.websiteLabel }}</a></p>

            <section class="student-details">

                {% if entry.dateOfBirth or entry.placeOfBirth %}
                <p>
                    {% if entry.dateOfBirth %}
                        b. {{ entry.dateOfBirth | date('Y') }}{{ ( entry.dateOfBirth and entry.placeOfBirth ) ? ', ' : '' }}
                    {% endif %}

                    {{ entry.placeOfBirth ? entry.placeOfBirth : '' }}
                </p>
                {% endif %}

                {% if entry.undergraduateDegree %}
                    <p> {{ entry.undergraduateDegree }}</p>
                {% endif %}

                <p>Area of Concentration at Hunter: {{ concentration.title }}</p>

                <p>Projected Graduation: {{ macros.semesterToString(entry.graduationSemester) }}</p>

                <div class="statement">{{ entry.statement }}</div>

                <div class="social"></div>

            </section>

        </header>

        <div id="student_images" class="columns medium-7">

            {% if entry.portfolioGallery | length %}

                <div class="portfolio-images">

                    {% for slide in entry.portfolioGallery %}

                        {% set img = slide.image.one() %}

                        <div class="slide">
                            <img src="{{ img.getUrl( workImageTransform ) }}" alt="{{ entry.lastName }}"/>
                            <div class="caption">
                                {{ slide.caption }}
                            </div>
                        </div>

                    {% endfor %}

                </div>

            {% endif %}

            {% if entry.studioGallery | length %}

                <div class="studio-images">

                    {% for slide in entry.studioGallery %}

                        <div class="slide">
                            <img src="{{ slide.image.one().getUrl( workImageTransform ) }}" alt="{{ entry.lastName }}"/>
                            <div class="caption">
                                {{ slide.caption }}
                            </div>
                        </div>

                    {% endfor %}

                </div>

            {% endif %}

        </div>

        <div id="student_roster" class="columns medium-2 sidebar">

            <h4>Class of {{ macros.semesterToString(entry.graduationSemester) }}</h4>
            <ul class="students">
                {% for student in students %}

                    <li>
                        <a href="{{ student.url | replace('/student', '/alumni') }}">{{ student.firstName }} {{ student.lastName }}</a>
                    </li>

                {% endfor %}
            </ul>

            <p><a href="/alumni">All Alumni</a></p>


        </div>


    </div>

{% endblock %}


