{#
 # Alumni template
 # ---------------
 #
 #}

{% import "_macros/_macros.twig" as macros %}

{% extends "_layouts/_twoColumn-9-3" %}

{% set seoTitle = entry.title %}

{#{% requireLogin %}#}

{# SEO #}
{% set seoTitle = entry.seo.title | default(entry.title) %}
{% set seoDescription = entry.seo.description | default('') %}
{% set seoKeywords = entry.seo.keywords | default('') %}
{% set seoImage = entry.seo.seoImage[0] | default('') %}
{# end SEO #}

{% set currentSemester = craft.huntermfa.getCurrentSemesterCode() %}

{% set params = {
    section : 'students',
    limit: null,
    orderBy: 'lastName',
    graduationSemester : '<' ~ currentSemester
} %}

{% set alumni = craft.entries(params).all() %}
{% set alumniGrouped = alumni | group('lastName|upper|slice(0, 1)') %}

{% block title %}

    <div class="paddingWrapper">
        <h1>{{ entry.title }}</h1>
    </div>

{% endblock %}

{% block main %}

    {% cache globally %}
    <div class="column row">

        <div class="paddingWrapper">

            {% for letter, alumni in alumniGrouped %}
                <h3>{{ letter }}</h3>
                <ul class="m-alumniList">

                {% for alum in alumni %}

                    {% set portrait = alum.portraitImage.one() %}
                    {% set thumb = {
                        width: 150,
                        quality: 75
                    } %}

                    {% set linkText = alum.title|trim ~ ', ' ~ alum.graduationSemester | split('-') | slice(0, 1) | first %}

                    <li class="m-alumniList__student">
                        {% if(alum.websiteUrl)  %}
                            <a target="_blank" href="{{ alum.websiteUrl }}">{{ linkText }}</a>
                        {% else %}
                            <a class="no-link">{{ linkText }}</a>
                        {% endif  %}
                    </li>
                {% endfor %}

                </ul>

            {% endfor %}

        </div>
    </div>
    {% endcache %}

{% endblock %}

{% block sidebar %}

    {% set sidebarContent = entry.sidebarContent %}
    {% if sidebarContent %}
        {% include "_sidebars/_sidebars" %}
    {% endif %}

{% endblock %}
