{#
 # Students template
 # ---------------
 #
 #}

{% import "_macros/_macros.twig" as macros %}

{% extends "_layout" %}

{% set seoTitle = entry.title %}

{#{% includeJsFile "/assets/js/alumni.js" %}#}

{#{% requireLogin %}#}

{% set currentYear = "now" | date('Y') %}
{% set precedingSemesterNum = ( "now" | date('n') < 7 ) ? 2 : 1 %}
{% set precedingSemesterYear = precedingSemesterNum == 1 ? currentYear : currentYear -1 %}
{% set alumniSemester = precedingSemesterYear ~ '-' ~ precedingSemesterNum %}
{% set alumniSemesterNum = precedingSemesterNum %}
{% set alumniSemesterYear = precedingSemesterYear %}

{# if semester set in URL #}
{% if year %}

    {% set alumniSemester = year ~ '-' ~ number %}
    {% set alumniSemesterNum = year %}
    {% set alumniSemesterYear = number %}

{% endif %}

{% set params = {
    section : 'students',
    limit: null,
    orderBy: 'lastName',
    graduationSemester : '=' ~ alumniSemester
} %}

{% set students = craft.entries(params).all() %}



{% block content %}

    {#{{ d(students) }}#}


    <div class="column row">

        <h1>Alumni Class of {{ macros.semesterToString( alumniSemester ) }}</h1>

        {#<p>{{ entry.body }}</p>#}

        <div class="filters-wrapper">

            {# TODO: how to determine how many semesters to go back #}

            <ul class="filter-list">
                <li class="filter filter-set-label">Class: </li>

                {% set year = precedingSemesterYear %}
                {% set semester = precedingSemesterNum %}
                {% set numberOfSemesters = 2 %}

                {% for i in range(1, numberOfSemesters) %}

                    {%  set activeClass = alumniSemesterNum == semester and alumniSemesterYear == year ? 'active' : '' %}

                    <li class="filter {{ activeClass }}" ><a href="/alumni/{{ year }}-{{ semester }}" >{{ macros.semesterToString(year ~ '-' ~ semester) }}</a></li>

                    {% set year = semester == 2 ? year : year - 1 %}

                    {% set semester = semester == 2 ? 1 : 2 %}

                {%  endfor %}

            </ul>
        </div>

        <div class="students alumni">
        {% for student in students %}

            {% set classes = [ 'student', 'thesis-' ~ student.graduationSemester , 'concentration-' ~ student.concentration, 'floor-' ~ floor ] %}
            {% set portrait = student.portraitImage.one() %}
            {% set thumb = {
                width: 150,
                quality: 75
            } %}

            <div class="{{ classes | join(' ') }}">
                <div class="student-inner-wrapper">
                    <a href="{{ student.url | replace('student/', 'alumni/') }}">
                        {% if portrait %}
                            {% set x = ( portrait.focusX + 1 ) * 50 %}
                            {% set y = 100 - ( ( portrait.focusY + 1 ) * 50 ) %}
                            <div class="background-image"  style="background-image: url( {{ portrait.getUrl(thumb) }} ); background-position: {{ x }}% {{ y }}%;"></div>
                        {%  endif %}
                        <div class="name-block">
                            <h3>{{ student.firstName }} {{ student.lastName }}</h3>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>

    </div>

{% endblock %}
