<template>
  <div id="appX">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'

export default {
  name: 'App',
  components: {
    HelloWorld
  }
}
</script>

<!-- load all styles -->
<style lang="scss">
  @import "~@/assets/style/app.scss";
</style>

