.slick-initialized {
  visibility: visible;
}

.home {
  .slick-arrow {
    display: none;
    cursor: pointer;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 40px;
    z-index: 101;
    opacity: 1;
    filter: alpha(opacity=100);
    transition: opacity 0.5s ease-out;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 15px;
    }
    @include breakpoint(medium) {
      display: block;
    }
  }
  .slick-next {
    right: 0;
  }
  .slick-slider .slick-list {
    height: 100%;
    .slick-track {
      height:100%;
    }
    .background-image {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      left: 0;
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
  .slick-slide {
    position: relative;
    img {
      width: 100%;
    }
  }
  .arrow-box {
    background-color: rgba(255,255,255,0.8);
    height: 25px;
    width: 100%;
    @extend .vcenter;
    @include breakpoint(medium) {
      height: 35px;
    }
  }
}
