.sidebar {
  padding: 10px;
  section {
    margin-bottom: 30px;
  }
  @include breakpoint(large) {
    > section {
      margin-right: grid-column(2 of 12);
    }
    padding-left: 20px;
  }
}
.m-sidebarImageMenu {
  list-style: none;
  margin: 0;
  li {
    margin-bottom: 20px;
    font-weight: bold;
    img {
      margin-bottom: 5px;
    }
  }
}