// body class
.submission-form {
  #content {
    padding-left: 20px;
    padding-right: 20px;
  }
  @include breakpoint(large) {
    #content {
      padding-left: 100px;
      padding-right: 100px;
    }
  }
  h1 {
    margin-top: 50px;
  }
  .sidebar {
    padding: 0;
  }
  p {
    a {
      text-decoration: underline;
    }
  }

}

#submissions-form {
  display: none;
}

.o-submissionsForm {
  form {
    position: relative;
    z-index: 1;
  }

  label {
    font-weight: bold;
  }

  .field-group {
    margin-top: 15px;
  }
  button[type=submit] {
    padding: 15px 40px;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
  }
  .field-error {
    color: $input-error-color;
    margin: 0 0 5px;
    font-weight: bold;
    font-size: 0.9em;
  }
  .vs__search::placeholder {
    color:#999!important;
  }

}

.o-submissionsForm__saving {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.8);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.o-submissionsForm__dropZone {
  padding: 40px 50px;
  display: flex;
  justify-content: center;
  border: 1px dashed #aaa;
  border-radius: 5px;
  background-color: #eee;
  .hasFile & {
    padding: 15px 50px 55px;
  }
}
.o-submissionsForm__media {
  label.button {
    background-color: #aaa;
    margin-bottom: 0;
    border-radius: 3px;
  }
  > div {
    position: relative;
  }
  img {
    width: 170px;
    height: 170px;
    object-fit: contain;
    background-color: #eee;
  }
  button {
    position: absolute;
    top: -10px;
    left: 160px;
    z-index: 1;
    width: 20px;
    height: 20px;
    background: #333;
    border-radius: 10px;
    cursor: pointer;
    svg {
      display: block;
      fill: #fff;
    }
  }
  &.hasFile {
    label.button {
      position: absolute;
      bottom: 10px;
      top: unset;
    }
  }
}
.o-submissionsForm__dateTime {
  display: flex;
  justify-content: space-between;
  > div {
    width: calc(50% - 10px);
  }
  #startDate {

  }
  #endDate {

  }
  #eventStartTime {

  }
}
.o-submissions__preview {
  margin: 30px 0 50px;
  padding: 10px 20px 20px;
  border: 1px solid #eee;
  border-radius: 5px;
}
.o-submissions__previewWrapper {
  width: 345px;
  span.incomplete {
    color: $input-error-color;
  }
}
.o-submissions__list {
  @include clearfix();
  padding: 10px;
  @include breakpoint(medium) {
    padding: 40px 20px;
  }
}
.o-submissions__list__grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  @include breakpoint(large) {
    //margin: 0 -20px;
  }
}
.o-submissions__list__submission {
  padding: 0 10px;
  margin-bottom: 15px;
  @include breakpoint(medium) {
    width: 50%;
  }
  @include breakpoint(large) {
    width: 25%;
    padding: 0 10px;
    margin-bottom: 30px;
  }
}

.o-submissions__list__image {
  padding-top: 66.67%;
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  div {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #eee;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #aaa;
  }
}
.o-submissions__list__type {
  font-size: 12px;
  text-transform: uppercase;
  color: $hunter-purple-bright;
  margin: 0 0 3px;
}
.o-submissions__list__name {
  font-weight: bold;
  font-size: 15px;
  line-height: 1.2em;
  border-bottom: 1px solid #333;
  padding-bottom: 3px;
  margin: 10px 0 5px;
  span.personName {
    padding-right: 5px;
    text-transform: none;
  }
  span.personLabel {
    font-weight: normal;
    font-size: 11px;
    color: #666666;
    text-transform: uppercase;
  }
}
.o-submissions__list__description {
  font-size: 11px;
  text-transform: uppercase;
  line-height: 1.4em;
  .title {
    font-style: italic;
    color: #999;
  }
  .slash {
    color: #bbb;
  }
}

#fieldData {
  margin-top: 120px;
  opacity: 0.3;
}

