// fix for placing the thesis show title on mobile screens
.thesis-page {
  .a-featureImage__backgroundGradient + .row {
      width: 100%;
      height: 100%;
      background: transparent;
      .columns {
        width: 100%;
        height: 100%;
        .a-featureImage__header--thesis {
          top: unset;
        }
      }
    }
  }


.a-featureImage__header--thesis {
  h1 {
    font-family: $serif-font;
    font-weight: 300;
    font-size: 30px;
    line-height: 1em;
    text-transform: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
  }
  @include breakpoint(medium) {
    bottom: 20px;
    h1 {
      font-size: 65px;
    }
  }
}
.o-thesis__part {
  @include breakpoint(medium) {
    width: 50%;
    float: left;
  }
  @include breakpoint(large) {
    width: grid-column(3 of 9);
    margin-left: grid-column(1 of 9);
    padding-left: 30px;
  }
}
.o-thesis__studentList {
  margin-top: 20px;
}

.o-thesis__parts {
  @include clearfix;
  margin-bottom: 15px;
}
.o-thesis__part {
  h2 {
    text-transform: uppercase;
    font-size: 21px;
  }
  h3 {
    margin-top: 2px;
    font-size: 13px;
    font-family: $serif-font;
    color: $medium-gray;
    text-transform: none;
    font-style: italic;
  }
}
.o-thesis__studentLists {
  clear: left;
  @include clearfix;
}
.o-thesis__studentList {
  ul {
    list-style: none;
    margin: 0;
  }
  li {
    font-size: 17px;
    line-height: 1.3em;
    text-indent: -16px;
    padding-left: 16px;
    @include breakpoint(medium) {
      font-size: 24px;
    }
  }
}
.o-thesis__pages {
  margin-top: 20px;
  padding-left: 40px;
}
.o-thesis__partDates {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 0;
}
.o-thesis__events {
  list-style: none;
  margin: 0;
  color: $highlight-color;
}
.o-thesis__eventTitle {
  margin-bottom: 0;
  text-transform: uppercase;
}
.o-thesis__eventDate {
  font-size: 13px;
  padding-left: 10px;
}
.o-thesis__subpages {
  clear: both;
  list-style: none;
  margin: 0 0 30px;
  li {
    float: left;
    padding-right: 5px;
    font-size: 22px;
    line-height: 1.1em;
  }
}
.o-thesis__links {
  clear: both;
  list-style: none;
  margin: 0 0 45px;
  padding: 12px 0;
  li {
    font-size: 12px;
    line-height: 1.2em;
    text-transform: uppercase;
    padding: 0 0 5px;
    @include breakpoint(medium) {
      display: inline-block;
      a {
        padding: 0 7px 0 6px;
        &:after {
          content: "";
          display: block;
          position: absolute;
          top: 3px;
          right: -1px;
          margin-top: 0;
          background: $medium-light-gray;
          width: 1px;
          height: 10px;
        }
      }
      &:last-of-type {
        a {
          &:after {
            content: none;
          }
        }
      }
    }
    a {
      color: $medium-gray;
      position: relative;
      &:hover {
        color: $hunter-purple-bright;
      }
    }
    &:first-of-type {
      a {
        padding-left: 0;
      }
    }
  }
}
.o-thesis__link {
  width: 250px;
  border-top: 1px solid $medium-gray;
  padding-top: 5px;
  font-size: 15px;
  font-family: $serif-font;
  a {
    color: $hunter-purple-bright;
  }
}

.thesis-page {
  @media (orientation: portrait) and #{breakpoint(medium down)} {
  //@include breakpoint(medium down) {
    .a-featureImage__header--thesis {
      top: 280px;
      padding-left: 10px;
    }
    .a-featureImageFixed {
      width: inherit;
      height: calc(100vh - #{$site-header-total});
      .a-featureImageFixed__container {
        //position: absolute;
        img {
          height: 100vh;
          max-width: none;
          width: auto;
          transform: translateX(-50%);
          left: 50%;
          position: fixed;
        }
      }
    }
  }
}

.thesis-page {
  #content {
    padding-top: 0;
  }
  .a-featureImage {
    h1 {
      margin-left: -4px;
      color: #fff;
    }
    .a-featureImage__container {
      width: inherit;
      padding-top: 100vh;
    }
  }
  .main {
    padding: 15px;
  }
  .sidebar {
    @include breakpoint(small only) {
      padding: 0;
    }
    > div {
      margin-bottom: 50px;
    }
  }
  @include breakpoint(large) {
    .a-featureImageFixed {
      .a-featureImageFixed__container {
        width: 100%;
      }
      .a-featureImageFixed__header {
        bottom: 20px;
      }
    }
  }
}
.o-thesis__extras {
  @include breakpoint(large) {
    margin-left: 30px;
  }
}
.m-thesisFeaturePosts {
  list-style: none;
  margin: 40px 0 15px;
  padding: 0;
  border-bottom: 1px solid;
}
.m-thesisFeaturePost {
  @include clearfix;
  margin-top: 40px;
  border-top: 1px solid;
  padding: 20px 0;
  h4 {
    font-family: $serif-font;
    font-size: 26px;
    text-transform: none;
    color: $hunter-purple-bright;
    line-height: 1.2em;
  }
  .a-byLine {
    font-size: 12px;
    line-height: 1.2em;
    margin-bottom: 5px;
  }
}
.m-thesisFeaturePost__image {
  height: 150px;
  position: relative;
  margin-bottom: 15px;
  @include breakpoint(480) {
    height: 225px;
  }
  @include breakpoint(medium) {
    width: 50%;
    height: 300px;
    float: left;
    margin-right: 20px;
    margin-bottom: 0;
  }
  .background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    left: 0;
    position: absolute;
    top: 0;
  }
}
.m-thesisFeaturePost__text {
  position: relative;
}
.m-thesisFeaturePost__authors {
  margin-top: 20px;
  @include breakpoint(large) {
    margin-top: 45px;
  }
}
