{# --- Alumni --- #}
{% set alumni = block.alumni %}

{% set studentWorkImageTransform = {
    mode: 'fit',
    width: 550,
    quality: 80
} %}

{% set studentsJson %} {% include "_data/home-students-slideshow.json" %} {% endset %}

<section class="m-homeAlumni">

    <div class="m-homeAlumni" data-slick-slideshow data-settings='{{ studentsJson }}'>
        {% for alum in alumni %}
            <div>
                <div class="slide-inner-wrapper">
                    <a href="{{ alum.url }}">
                        {% if alum.alumniFeatureImage | length %}
                            {% set img = alum.alumniFeatureImage.one() %}
                        {% else %}
                            {% set img = '' %}
                        {% endif %}
                        {{ macros.focusPointBackgroundImage( img, studentWorkImageTransform ) }}
                        <div class="m-homeAlumni__slideCaption">{{ alum.firstName }} {{ alum.lastName }}</div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- end Alumni -->
</section>