{% import "_macros/_macros.twig" as macros %}

{% set futureEventsParams = {
    section : 'events',
    orderBy: 'date asc',
    date : '>= ' ~ date('today') | date('c'),
    with : ['eventFeatureImage','eventCategory']
} %}

{% set events = craft.entries(futureEventsParams).all() %}

{% set eventImageTransform = {
    width: 200,
    height: 240,
    quality: 80
} %}

{% if events is not empty %}
<section class="m-homeEvents">

    <!-- start Events -->
    <div class="m-homeEvents__titleBlock">
        <h3>{{ block.head }}</h3>
    </div>

{#    {% cache %}#}
    <div class="m-homeEvents__contentBlock" >
        <div class="row medium-up-2">

        {% for event in events %}
            <div class="m-homeEvents__container column">
                <div class="m-homeEvents__image">
                    <img src="{{ event.eventFeatureImage[0].getUrl(eventImageTransform) }}" alt="{{ event.title }}"/>
                </div>
                <div class="m-homeEvents__text">
                    <p class="m-homeEvents__type"><span style="background-color: {{ event.eventCategory[0].eventColor }};">{{ event.eventCategory[0].title }}</span></p>
                    <p class="m-eventsList__event__type" ></p>
                    <h3 class="m-homeEvents__title {{ event.smallTitleFont ? 'small-head' : '' }}"><a class="m-homeEvents__link" href="{{ event.url }}">{{ event.title }}</a></h3>
                    <p class="m-homeEvents__date">{{ event.date | date('l, F')}}&nbsp;{{ event.date | date('j')}}</p>
                    <p class="m-homeEvents__location">{{ event.eventLocation[0].title }}</p>
                    {% if event.endTime %}
                        <p class="m-homeEvents__time">{{ event.startTime | date('g:ia')}} - {{ event.endTime | date('g:ia')}}</p>
                    {% else %}
                        <p class="m-homeEvents__time">{{ event.startTime | date('g:ia')}}</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        </div>
    </div>
    <!-- end Events -->

    {% if block.message %}
    <div class="m-homeEvents__messageBlock">
        {{ block.message }}
    </div>
    {% endif %}

    {#{% endcache %}#}

</section>
{% endif %}