{% import "_macros/_macros.twig" as macros %}

{% set futureEventsParams = {
    section : 'events',
    orderBy: 'date asc',
    date : '>= ' ~ date('today') | date('c'),
    with: [
        ['eventFeatureImage', {
            withTransforms: [{ mode: 'fit', width: 500, quality: 80 }]
        }],
        'eventCategory'
    ]
} %}

{% set events = craft.entries(futureEventsParams).all() %}

{% set eventImageTransform = {
    width: 200,
    height: 240,
    quality: 80
} %}

{% set eventsJson %} {% include "_data/home-events-slideshow.json" %} {% endset %}

<section class="m-homeEvents">

    <!-- start Events -->
    <div class="m-homeEvents__titleBlock">
        <h3>Upcoming Events</h3>
        <div class="m-homeEvents__archive"><a href="/events">Events Archive</a></div>
    </div>

{#    {% cache %}#}
    <div class="m-homeEvents__slideshow" data-slick-slideshow data-settings='{{ eventsJson }}'>

        {% for event in events %}
            <div class="m-homeEvents__slide event-{{ event.slug }}">
                <div class="m-homeEvents__container">
                    <div class="m-homeEvents__image">
                        <img src="{{ event.eventFeatureImage[0].getUrl(eventImageTransform) }}" alt="{{ event.title }}"/>
                        {#{{ macros.focusPointBackgroundImage( event.eventFeatureImage[0] ) }}#}
                    </div>
                    <div class="m-homeEvents__text">
                        <p class="m-homeEvents__type" ><span style="background-color: {{ event.eventCategory[0].eventColor }};">{{ event.eventCategory[0].title }}</span></p>
                        <h3 class="m-homeEvents__title {{ event.smallTitleFont ? 'small-head' : '' }}"><a class="m-homeEvents__link" href="{{ event.url }}">{{ event.title }}</a></h3>
                        <p class="m-homeEvents__date">{{ event.date | date('l, F j')}}</p>
                        <p class="m-homeEvents__location">{{ event.eventLocation[0].title }}</p>
                        <p class="m-homeEvents__time">{{ event.startTime | date('g:ia')}} - {{ event.endTime | date('g:ia')}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
    <!-- end Events -->
{#    {% endcache %}#}

</section>