{% import "_macros/_macros.twig" as macros %}

{% set homeSlidesParams = {
    section : 'homepageSlides',
    with : ['entryLink','homepageSlideFeatureImage']
} %}

{% set topJson %} {% include "_data/home-top-slideshow.json" %} {% endset %}

{% set featureImageTransform = {
    mode: 'fit',
    width: 550,
    quality: 80
} %}

{% set slides = craft.entries(homeSlidesParams).all() %}

<!-- top slideshow section -->
<section class="m-homeFeature">

{#    {% cache %}#}
    <!-- top slideshow -->
    <div class="m-homeFeature__container slideshow" >

        <div class="m-homeFeature__slideshow" data-slick-slideshow data-settings='{{ topJson }}'>
            {% for slide in slides %}
                <div class="slide-{{ slide.slug }}">
                    <div class="m-homeFeature__backgroundGradient"></div>

                    {% if slide.linkType == "entry" and slide.entryLink | length %}
                        {% set slideUrl = slide.entryLink[0].url %}
                    {%  else %}
                        {% set slideUrl = slide.urlLink %}
                    {%  endif %}

                    <a href="{{ slideUrl }}">

                        {{ macros.focusPointBackgroundImage( slide.homepageSlideFeatureImage[0] ) }}

                        {% if slide.shortLeadText %}
                            <div class="m-homeFeature__credit">{{ slide.shortLeadText }}</div>
                        {% endif %}

                        {% if slide.type == 'link' %}

                            <div class="m-homeFeature__caption {{ slide.alternateStyle ? 'altStyle' : '' }}">
                                <h3>{{ slide.subtitle | nl2br }}</h3>
                                {% if slide.description %}
                                    <div class="m-homeFeature__description">
                                    {% if slide.description %}
                                        {{ slide.description }}
                                    {% endif %}
                                    </div>
                                {% endif %}
                            </div>

                        {% else %}

                            <div class="m-homeFeature__caption m-homeFeature__caption--custom-html">
                                {{ slide.body }}
                            </div>

                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- end top slideshow -->
{#    {% endcache %}#}

</section>