{# --- Info --- #}
{% set homeInfo = craft.entries({
    'section' : 'homepageInfo',
    'level' : 2,
    'descendantOf' : block.infoGroup[0].id
}) %}

<section class="m-homeInfo">
    {% for info in homeInfo %}
        <div class="m-homeInfo__panel" style="background-color: {{ info.color.color }};flex-basis: {{ info.infoboxWidthPercentage }}%;">
            <h3 class="m-homeInfo__title">{{ info.title }}</h3>
            <div class="m-homeInfo__body">{{ info.body }}</div>
        </div>
    {% endfor %}
</section>