{# --- News --- #}
{% import "_macros/_macros.twig" as macros %}

{% set featurePost = block.featurePost.one() %}

{% set params = {
    section : 'posts',
    limit: 3,
    orderBy: 'postDate desc',
    with: [
        ['postThumb', {
            withTransforms: [{ mode: 'fit', width: 550, quality: 80 }]
        }]
    ]
} %}

{% if featurePost %}
    {% set params = params|merge({'id': 'not ' ~ featurePost.id, 'limit': 2}) %}
{% endif %}

{% set posts = craft.entries(params).all() %}

{% if not featurePost %}
    {% set featurePost = posts[0] %}
    {% set posts = posts | slice(1) %}
{% endif %}

<section class="m-homeNews">
    <div class="m-homeNews__imageBlock">
        <div class="m-homeNews__featureImage">
            <h3 class="m-homeNews__featureLabel">MFA Program News</h3>
            {% if featurePost.postThumb | length%}
                {% set img = featurePost.postThumb[0] %}
            {% else %}
                {% set img = featurePost.topImage.one() %}
            {% endif %}
            {{ macros.focusPointBackgroundImage( img ) }}
        </div>
    </div>
    <div class="m-homeNews__textBlock">
        <div class="m-homeNews__featureText">
            <div class="m-homeNews__featureType">{{ featurePost.postType[0].title }}</div>
            <h3 class="m-homeNews__featureTitle"><a href="{{ featurePost.url }}">{{ featurePost.title }}</a></h3>
            <div class="m-homeNews__featureDescription">{{ featurePost.shortLeadText }}</div>
        </div>
        <div class="m-homeNews__posts">
            {% for post in posts %}
                {% if post.postThumb | length%}
                    {% set thumb = post.postThumb[0] %}
                {% else %}
                    {% set thumb = post.topImage.one() %}
                {% endif %}

                <div class="m-homeNews__post">
                    <div class="m-homeNews__postType">{{ post.postType[0].title }}</div>
                    <div class="m-homeNews__postImage">
                        {{ macros.focusPointBackgroundImage( thumb ) }}
                    </div>
                    <h3 class="m-homeNews__postTitle"><a href="{{ post.url }}">{{ post.title }}</a></h3>
                </div>
            {% endfor %}
        </div>
    </div>
</section>