{# --- News 2 --- #}

{% set postType = block.postType %}

{% set params = {
    section : 'posts',
    limit: 6,
    orderBy: 'postDate desc',
    with: [
        ['postThumb', {
            withTransforms: [{ mode: 'fit', width: 550, quality: 80 }]
        }]
    ]
} %}

{% set posts = craft.entries(params).all() %}

{% set newsImageTransform = {
    width: 475,
    quality: 75
} %}

<section class="m-homeNews m-homeNews--grid">

    <div class="m-homeNews__posts">
        {% for post in posts %}
            {% if post.postThumb | length%}
                {% set thumb = post.postThumb[0] %}
            {% else %}
                {% set thumb = post.topImage.one() %}
            {% endif %}

            <div class="m-homeNews__post">
                <div class="m-homeNews__postImage">
                    {{ macros.focusPointBackgroundImage( thumb, newsImageTransform ) }}
                </div>
                <div class="m-homeNews__postType">{{ post.postType[0].title }}</div>
                <h3 class="m-homeNews__postTitle"><a href="{{ post.url }}">{{ post.title }}</a></h3>

            </div>
        {% endfor %}
    </div>

</section>