{# --- News 2 --- #}

{% set featurePosts = block.featurePosts %}

{% set params = {
    section : 'posts',
    limit: 3,
    orderBy: 'postDate desc',
    with: [
        ['postThumb', {
            withTransforms: [{ mode: 'fit', width: 550, quality: 80 }]
        }]
    ]
} %}

{% set morePosts = [] %}

{% if featurePosts | length < 3 %}
    {% set featuredPostIdsString = 'and' %}
    {% for featurePost in featurePosts %}
        {% set featuredPostIdsString = featuredPostIdsString ~ ', not ' ~ featurePost.id %}
    {% endfor %}

    {% set limit = 3 - featurePosts | length %}
    {% set params = params|merge({'id': featuredPostIdsString, 'limit': limit}) %}

    {% set morePosts = craft.entries(params).all() %}
{% endif %}


{% set allPosts = featurePosts|merge(morePosts) %}

{% set featurePost = allPosts[0] %}
{% set allPosts = allPosts | slice(1) %}

{% set newsImageTransform = {
    width: 475,
    quality: 75
} %}

{% set featureImageTransform = {
    width: 820,
    quality: 75
} %}

<section class="m-homeNews m-homeNews--alt2">
    <div class="m-homeNews__imageBlock">
        <div class="m-homeNews__featureImage">
            <h3 class="m-homeNews__featureLabel"><a href="/news">MFA Program News</a></h3>
            {% if featurePost.postThumb | length %}
                {% set img = featurePost.postThumb[0] %}
            {% else %}
                {% set img = featurePost.topImage.one() %}
            {% endif %}
            {{ macros.focusPointBackgroundImage( img, featureImageTransform ) }}
            <div class="m-homeNews__featureText--alt2">
                <div class="m-homeNews__featureType">{{ featurePost.postType[0].title }}</div>
                <h3 class="m-homeNews__featureTitle"><a href="{{ featurePost.url }}">{{ featurePost.title }}</a></h3>
            </div>
        </div>
    </div>

    <div class="m-homeNews__featureDescription">{{ featurePost.shortLeadText }}</div>

    <div class="m-homeNews__textBlock--alt2">
        <div class="m-homeNews__posts">
            {% for post in allPosts %}
                {% if post.postThumb | length%}
                    {% set thumb = post.postThumb[0] %}
                {% else %}
                    {% set thumb = post.topImage.one() %}
                {% endif %}

                <div class="m-homeNews__post">
                    <div class="m-homeNews__postType">{{ post.postType[0].title }}</div>
                    <div class="m-homeNews__postImage">
                        {{ macros.focusPointBackgroundImage( thumb, newsImageTransform ) }}
                    </div>
                    <h3 class="m-homeNews__postTitle"><a href="{{ post.url }}">{{ post.title }}</a></h3>
                    <div class="m-homeNews__postDescription">{{ post.shortLeadText }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>