<section class="m-homeSocial">
    <!-- start Social Media -->
    <h3>Social Wall</h3>
    <ul class="m-homeSocial__hashtags">
        <li>#HunterMFA</li>
        <li>#HunterMFAShows</li>
        <li>#HunterOpenStudios</li>
        <li>#HunterMFAalumni</li>
    </ul>
    <div>
        <script src="https://assets.juicer.io/embed.js" type="text/javascript"></script>
        <link href="https://assets.juicer.io/embed.css" media="all" rel="stylesheet" type="text/css" />
        <ul class="juicer-feed" data-feed-id="huntermfa" data-columns="4"></ul>
    </div>
    <!-- end Social Media -->
</section>