{# --- Students --- #}

{# All current students eligible for frontpage in random order, determine current semester as earlier than July #}

{% set params = {
    section : 'students',
    limit: 3,
    eligibleForFrontpage : 1,
    graduationSemester : '>=' ~ currentSemester,
    with: [
        ['inTheStudioImage', {
            withTransforms: [{ mode: 'fit', width: 550, quality: 80 }]
        }]
    ]
} %}

{% set students = craft.entries(params) %}

{% set studentWorkImageTransform = {
    mode: 'fit',
    width: 550,
    quality: 80
} %}

{% set studentsJson %} {% include "_data/home-students-slideshow.json" %} {% endset %}

<section class="m-homeStudents">

    <div class="m-homeStudents__slideshow" data-slick-slideshow data-settings='{{ studentsJson }}'>
        {% for student in students %}
            <div>
                <div class="slide-inner-wrapper">
                    <a href="{{ student.url }}">
                        {% if student.inTheStudioImage | length %}
                            {% set img = student.inTheStudioImage[0] %}
                        {% else %}
                            {% set img = '' %}
                        {% endif %}
                        {{ macros.focusPointBackgroundImage( img, studentWorkImageTransform ) }}
                        <div class="m-homeStudents__slideCaption">{{ student.firstName }} {{ student.lastName }}</div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- end Students -->
</section>