{% import "_macros/_macros.twig" as macros %}

{% set status = block.showExpiredSubmissions ? 'live, expired' : 'live' %}

{% set params = {
    section : 'submissions',
    status : status,
    orderBy : 'postDate desc',
    with : ['submissionsMedia','person','submissionType']
} %}

{% set submissions = craft.entries(params).all() %}

{% set imageTransform = {
    width: 354,
    height: 354,
    quality: 100,
    mode: 'fit'
} %}

<section class="m-homeSubmissions">

    <!-- start Submissions -->
    <div class="m-homeSubmissions__titleBlock">
        <h3>{{ block.sectionTitle | default('MFA Community') }}</h3>
{#        <div class="m-homeSubmissions__archive"><a href="/community">MFA Community Archive</a></div>#}
    </div>

    <div class="o-submissions__list__grid">

        {% for submission in submissions %}

            {# if the related person(s) is disabled we have to do this to find the relation #}
            {% if not submission.person %}
                {% set submission = craft.entries.section('submissions').id(submission.id).status(null).one() %}
                {% set persons = submission.person.status(null).all() %}
            {% else %}
                {% set persons = submission.person %}
            {% endif %}

            {% set formattedName = craft.huntermfa.submissions.formatName(persons) %}
            {% set formattedDescription = craft.huntermfa.submissions.formatDescription(submission) %}

            <div class="column o-submissions__list__submission">

                {% if submission.submissionUrl %}
                <a href="{{ submission.submissionUrl }}" target="_blank">
                    {% endif %}
                    <p class="o-submissions__list__type" >{{ submission.submissionType[0].title }}</p>
                    <div class="o-submissions__list__image">
                        {% if submission.submissionsMedia | length %}

                            {% set img = submission.submissionsMedia[0] %}
                            <img src="{{ img.getUrl(imageTransform) }}" alt="{{ submission.title }}"/>

                        {%  endif %}

                    </div>
                    <h3 class="o-submissions__list__name" >{{ formattedName | raw }}</h3>
                    <p class="o-submissions__list__description"> {{ formattedDescription | raw }}</p>
                    {% if submission.submissionUrl %}
                </a>
                {% endif %}
            </div>

        {% endfor %}

    </div>
    <!-- end Submissions -->

</section>