{#
 # Thesis overview template
 # ---------------
 #
 #}
{% import "_macros/_macros.twig" as macros %}

{#{% extends "_layouts/_feature-9-3" %}#}
{% extends "_layouts/_feature-main-sidebar3" %}

{# get thesis #}
{% set thesisSlug = craft.app.request.segments|last %}

{% set entry = craft.entries().section('thesis').slug(thesisSlug).one() %}

{% set baseUrl = '/' ~ craft.app.request.segments|first ~ '/' ~ thesisSlug ~ '/' %}

{% set seoTitle = entry.title %}
{% if entry.featureImage | length %}
    {% set seoImage = entry.featureImage.one() %}
{%  endif %}

{# defaults #}
{% set defaultParams = {
    section : 'thesis',
    descendantOf : entry
} %}

{# get all parts #}
{% set parts = craft.entries(defaultParams).type('part').all() %}

{# get all students #}
{% set students = craft.entries(defaultParams).type('student').all() %}

{# sort thesis students by related student entry lastName field #}
{#{% set students = students | supersort('sortAs', '{student.first.lastName}') %}#}

{# group students by part #}
{% set studentsByPart = students|group('parent.id') %}

{# get all thesis subpages #}
{% set subpages = craft.entries(defaultParams).type('page').level(2).all() %}

{# get all feature posts related to this page : 4219 = category id for feature thesis posts #}
{% set thesisFeatureCategory = craft.categories.id(4219).one() %}
{% set features = craft.entries().type('posts').relatedTo({ targetElement: entry }).postType( thesisFeatureCategory.id ).orderBy('date asc').with('topImage').all() %}

{# get all events #}
{% set events = craft.entries().type('events').orderBy('date asc').relatedTo(entry).with('eventFeatureImage','eventCategory').all() %}

{# get all posts related to this page : 4226 = category id for thesis posts  #}
{% set thesisPostCategory = craft.categories.id(4226).one() %}
{% set posts = craft.entries().type('posts').relatedTo({ targetElement: entry }).postType( thesisPostCategory.id ).orderBy('date asc').with('topImage').all() %}

{% set featureImageTransform = {
    mode: 'fit',
    width: 1440,
    quality: 80
}
%}

{# find feature image -- first image from a random student that has images #}
{% set featureImages = {} %}
{% for student in students %}
    {% if student.portraitImage.one() %}
        {% set featureImages = featureImages|merge( [ student.portraitImage.one() ] ) %}
    {% endif %}
{% endfor %}
{% if featureImages | length %}
    {% set randomImage = random(featureImages) %}
    {% set randomImageUrl = randomImage.getUrl() %}
{% else %}
    {% set randomImageUrl = '/media/general/front-page-image-TL.jpg' %}
{% endif %}

{#{% requireLogin %}#}

{% set bodyClasses = 'thesis-page has-feature-image' %}

{% block feature %}
    <div class="a-featureImageFixed">
        <div class="a-featureImageFixed__container">
            <figure class="a-featureImageFixed__figure">
                <img data-fit-image src="{{ randomImageUrl }}" alt="Thesis Feature Image"/>
                {#{{ macros.focusPointImageObjectFit(randomImage, featureImageTransform, "Thesis Feature Image") }}#}
            </figure>
        </div>
        <div class="a-featureImage__backgroundGradient"></div>
        <div class="row">
            <div class="columns">
                <div class="a-featureImage__header a-featureImage__header--thesis">
                    <h1>MFA Thesis Exhibition <br/>{{ entry.title }}</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}

    {% if events | length %}
    <h3 class="a-sidebarName">Events</h3>

    <div class="a-sidebarEvents">

            <ul class="a-sidebarEvents__list">

                {% for event in events %}

                    <li class="a-sidebarEvent clearfix">
                        <a href="{{ event.url }}">
                            {% if event.eventFeatureImage %}
                                <div class="a-sidebarEvent__image">
                                    {{ macros.focusPointBackgroundImage(event.eventFeatureImage[0]) }}
                                </div>
                            {% endif %}
                            <div class="a-sidebarEvent__text">
                                <h4 class="a-sidebarEvent__title">{{ event.title }}</h4>
                                <p class="a-sidebarEvent__date">{{ event.date | date('F j')}}, {{ event.startTime | date('gA')}}</p>
                                <p class="a-sidebarEvent__type">{{ event.eventCategory[0].title }}</p>
                            </div>
                        </a>
                    </li>

                {% endfor %}

            </ul>

    </div>
    {%  endif %}

    {% if posts | length %}
    <h3 class="a-sidebarName">Stories</h3>

    <div class="a-sidebarPosts">

            <ul class="a-sidebarPosts__list">

                {% for post in posts %}

                    <li class="a-sidebarPost clearfix">
                        <a href="{{ post.url }}">
                            {% if post.postThumb %}
                                <div class="a-sidebarPost__image">
                                    {{ macros.focusPointBackgroundImage(post.postThumb[0]) }}
                                </div>
                            {% endif %}
                            <div class="a-sidebarPost__text">
                                <div class="a-sidebarPost__type">
                                    {% set categories = craft.categories.relatedTo(post) %}
                                    {% if categories.one() %}
                                        {% set x = categories.one() %}
                                        {{ x.title }}
                                    {% endif %}
                                </div>
                                <h4 class="a-sidebarPost__title">{{ post.title }}</h4>

                                {{ macros.postAuthors(post.authors) }}

                                {% if post.shortLeadText %}
                                    <div class="a-sidebarPost__description">{{ post.shortLeadText }}</div>
                                {% endif %}
                            </div>
                        </a>
                    </li>

                {% endfor %}

            </ul>

    </div>
    {%  endif %}

{% endblock %}

{% block main %}

    <div class="o-thesis__parts">
        {% for part in parts %}
        <div class="o-thesis__part">
            <h2>{{ part.title }}</h2>
            <p class="o-thesis__partDates">{{ part.exhibitionStartDate | date('F d') }} - {{ part.exhibitionEndDate | date('F d, Y') }}</p>
            {% if part.exhibitionSubtitle %}
                <h3>{{ part.exhibitionSubtitle }}</h3>
            {% endif %}
            <div class="o-thesis__studentList">
                {% set studentsInPart = studentsByPart[part.id] %}
                <ul class="">
                    {% for student in studentsInPart %}
                        <li><a href="{{ baseUrl }}{{ student.slug }}">{{ student.student[0].title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="o-thesis__extras">
        <ul class="m-thesisFeaturePosts clearfix">

            {% for feature in features %}

                <li class="m-thesisFeaturePost">
                    <a href="{{ feature.url }}">
                        {% if feature.topImage %}
                            <div class="m-thesisFeaturePost__image">
                                {{ macros.focusPointBackgroundImage(feature.topImage[0]) }}
                            </div>
                        {% endif %}
                        <div class="m-thesisFeaturePost__text">
                            <h4 class="m-thesisFeaturePost__title">{{ feature.title }}</h4>
                            {% if feature.authors | length %}
                                {#<p class="a-byLine">by</p>#}
                                <div class="m-thesisFeaturePost__authors">
                                    {{ macros.postAuthors(feature.authors) }}
                                </div>
                            {% endif %}
                        </div>
                    </a>
                </li>

            {% endfor %}

        </ul>

        <ul class="o-thesis__links">
            {% for subpage in subpages %}
                <li><a href="{{ baseUrl }}{{ subpage.slug }}">{{ subpage.title }}</a></li>
            {% endfor %}
        </ul>
        <p class="o-thesis__link"><a href="/{{ craft.app.request.segments|first }}/">Thesis Exhibition Archive</a></p>
    </div>

{% endblock %}
