{#
 # Thesis Subpage template
 # ---------------
 #
 #}

{% extends "_layouts/_siteWrapper" %}

{% set seoTitle = entry.title %}
{% if entry.featureImage | length %}
    {% set seoImage = entry.featureImage.one() %}
{%  endif %}

{% set bodyClasses = "thesis-subpage" %}

{#{% requireLogin %}#}

{% block content %}

    <div class="row">

        <div class="columns">

            <h1>{{ entry.title }}</h1>

            <div class="columns medium-8">

                {% include "_partials/_pageMatrix" %}

            </div>
        </div>


    </div>

{% endblock %}
