{#
 # Thesis Student page template
 # ---------------
 #
 #}

{% extends "_layouts/_siteWrapper" %}

{# get thesis student by last url segment slug #}
{#{% set studentSlug = craft.request.lastSegment %}#}
{#{% set studentThesis = craft.entries().section('thesis').slug(studentSlug).one() %}#}

{% set studentThesis = entry %}
{% set student = studentThesis.student.one() %}

{% set concentration = craft.categories.id(student.concentration).one() %}

{# get thesis show by penultimate url segment slug #}
{% set thesisSlug = craft.app.request.segment(2) %}
{% set thesis = craft.entries().section('thesis').slug(thesisSlug).one() %}

{% set baseUrl = '/' ~ craft.app.request.segments|first ~ '/' ~ thesisSlug ~ '/' %}

{# get subpages #}
{% set subpages = craft.entries().section('thesis').type('page').descendantOf(student).all() %}

{# get all parts #}
{% set parts = craft.entries().section('thesis').type('part').descendantOf(thesis).all() %}

{# get all students #}
{% set students = craft.entries().section('thesis').type('student').descendantOf(thesis).all() %}

{# group students by part #}
{% set studentsByPart = students|group('parent.id') %}

{% set thumbImageTransform = {
    mode: 'fill',
    width: 265,
    height: 200,
    quality: 80
} %}

{% set seoTitle = student.title ~ ' MFA Thesis' %}
{% if studentThesis.studentThesisFeatureImage.one() %}
    {% set seoImage = studentThesis.studentThesisFeatureImage.one() %}
{% endif %}

{% set bodyClasses = 'thesis-student-page' %}
{% if studentThesis.studentThesisFeatureImage.one() %}
    {% set bodyClasses = bodyClasses ~ ' s-thesis-student-page-has-feature-image' %}
{% endif %}

{% block content %}

    {% if studentThesis.studentThesisFeatureImage.one() %}
    <div class="row">

        <div class="m-studentThesis__featureImage">
            <div class="m-studentThesis__featureImageWrapper">
                <div class="a-featureImage__backgroundGradient"></div>
                <a href="#slideshow" data-smooth-scroll data-offset="45" data-animation-easing="swing">
                    {% set img = studentThesis.studentThesisFeatureImage.one() %}
                    <img src="{{ img.getUrl() }}" alt="{{ student.title }} Studio Image">
                    <div class="m-studentThesis__featureChevron" >
                        <svg class="icon icon--chevron" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon--chevron-left3"></use></svg>
                    </div>
                </a>
                <h1 class="m-studentThesis__featureTitle">{{ student.title }}</h1>
            </div>
        </div>

    </div>
    {% endif %}

    <div class="row">

        <div id="slideshow" class="m-studentThesisSlideshow clearfix" data-set-height data-target="m-studentThesisSlideshow__featureWrapper">

            <div class="columns large-3">
                <p class="a-thesisStudent__thesisShow"><a href="{{ baseUrl }}">MFA Thesis Exhibition {{ thesis.title }}</a></p>
                <header class="a-thesisStudent__header">
                    <h1>{{ student.title }}</h1>

                    {% if student.placeOfBirth %}
                        <p>b. {{ student.placeOfBirth }}</p>
                    {% endif %}

                    {% if student.undergraduateDegree %}
                        <p>{{ student.undergraduateDegree }}</p>
                    {% endif %}

                    <p>Concentration: {{ concentration }}</p>
                    <p class="a-thesisStudent__website"><a href="{{ student.websiteUrl }}" target="_blank">{{ student.websiteLabel }}</a></p>
                </header>
                <div class="m-studentThesisSlideshow__viewSwitcher">
                    <div><a class="m-studentThesisSlideshow__viewSwitcher--thumbs" href="#">Thumbnails</a></div>
                </div>
            </div>

            {% if studentThesis.thesisGallery.one() %}
            <div class="columns large-9 float-right">
                <div class="m-studentThesisSlideshow__featureWrapper">
                    <div class="m-studentThesisSlideshow__feature">
                        <ul data-thesis-slideshow>
                        {% set slides = studentThesis.thesisGallery.all() %}
                        {% for slide in slides %}
                                {% if slide.type == 'image' %}
                                    {% set img = slide.image.one() %}
                                    {% set orientation = img.width > img.height ? 'landscape' : 'portrait' %}
                                    <li class="orientation-{{ orientation }}">
                                        <img src="{{ img.getUrl() }}" alt="{{ student.title }} Thesis Image">
                                        {% if slide.caption %}
                                        <div class="m-studentThesisSlideshow__caption">
                                            <div class="m-studentThesisSlideshow__featureCaptionsRule"></div>
                                            {{ slide.caption }}
                                        </div>
                                        {% endif %}
                                    </li>
                                {% else %}
                                    <li class="is-video" data-vimeoId="{{ slide.vimeoId }}">
                                        <div class="m-studentThesisSlideshow__vidWrapper">
                                            <div class="m-studentThesisSlideshow__vidOverlay"></div>
                                            <iframe id="vivid" src="https://player.vimeo.com/video/{{ slide.vimeoId }}" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
                                        </div>
                                        <div class="m-studentThesisSlideshow__caption">
                                            <div class="m-studentThesisSlideshow__featureCaptionsRule"></div>
                                            {{ slide.caption }}
                                        </div>
                                    </li>
                                {% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="m-studentThesisSlideshow__thumbs">
                        <div class="row">
                        <ul class="small-up-2 medium-up-3 large-up-4">
                            {% for slide in slides %}
                                {% if slide.type == 'image' %}
                                    <li class="column">
                                        <img src="{{ slide.image.one().getUrl(thumbImageTransform) }}" alt="{{ student.title }} Thesis Image">
                                    </li>
                                {% else %}
                                    <li class="column m-studentThesisSlideshow__videoThumb" data-vimeoId="{{ slide.vimeoId }}">
                                        <img src="{{ slide.posterImage.one().getUrl(thumbImageTransform) }}" alt="{{ student.title }} Thesis Video" >
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        </div>
                    </div>

                </div>
            </div>

            <div class="m-studentThesisSlideshow__featureCaptions"></div>

            <div class="m-studentThesisSlideshow__featureNav clearfix">
                <div class="m-studentThesisSlideshow__viewSwitcher clearfix">
                    <div><a class="m-studentThesisSlideshow__viewSwitcher--slides" href="#">Slideshow</a></div>
                    <div>I</div>
                    <div><a class="m-studentThesisSlideshow__viewSwitcher--thumbs" href="#">Thumbnails</a></div>
                </div>
                <div class="m-studentThesisSlideshow__featureNavArrows">
                    <div class='m-studentThesisSlideshow__featureNavPrevious'>
                        <button>
                            <svg class="icon icon--chevron" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon--chevron-left3"></use></svg>
                        </button>
                        {#<img src='/assets/img/left-arrow.svg' />#}
                    </div>
                    <div class="m-studentThesisSlideshow__dots m-studentThesisSlideshow__dots--desktop"></div>
                    <div class='m-studentThesisSlideshow__featureNavNext'>
                        <button>
                            <svg class="icon icon--chevron" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon--chevron-right3"></use></svg>
                        </button>
                        {#<img src='/assets/img/right-arrow.svg' />#}
                    </div>
                </div>
            </div>

            {% endif %}

        </div>

        <div class="m-studentThesisSlideshow__dots m-studentThesisSlideshow__dots--mobile"></div>

        {% if subpages | length %}
        <ul class="o-thesis__subpages clearfix">
            {% for subpage in subpages %}
                <li>/ <a href="{{ subpage.url }}">{{ subpage.title }}</a></li>
            {% endfor %}
            <li> /</li>
        </ul>
        {% endif %}

    </div>


    <div class="m-studentThesis__additionalContent">

        <div class="row">
            {% include "_partials/_pageMatrix" %}
        </div>

    </div>

    <div class="a-thesisRoster row">
        <div class="row">

        <div class="a-thesisRoster__wrapper">
        <div class="clearfix">
            <div class="a-thesisRoster__title">
                <h3><a href="{{ baseUrl }}">MFA Thesis Exhibition {{ thesis.title }}</a></h3>
            </div>
            <div class="a-thesisRoster__parts">

                <div class="clearfix">
                    {% for part in parts %}
                        <div class="a-thesisRoster__part">
                            <h4>{{ part.title }}</h4>
                            <p class="a-thesisRoster__partDates">{{ part.exhibitionStartDate | date('F d') }} - {{ part.exhibitionEndDate | date('F d, Y') }}</p>
                            {#{% if part.exhibitionSubtitle %}#}
                                {#<h3>{{ part.exhibitionSubtitle }}</h3>#}
                            {#{% endif %}#}
                        </div>
                    {% endfor %}
                </div>

                <div class="clearfix">
                    {% for part in parts %}
                        <div class="a-thesis__studentList">
                            {% set studentsInPart = studentsByPart[part.id] %}
                            <ul class="">
                                {% for student in studentsInPart %}
                                    <li><a href="{{ baseUrl }}{{ student.slug }}">{{ student.student[0].title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
        </div>
        </div>

    </div>

{% endblock %}
