{#
 # Thesis List view template
 # ---------------
 #
 #}

{% extends "_layouts/_siteWrapper" %}

{# SEO #}
{#{% set seoTitle = entry.seo.title | default(entry.title) %}#}
{#{% set seoDescription = entry.seo.description | default('') %}#}
{#{% set seoKeywords = entry.seo.keywords | default('') %}#}
{#{% set seoImage = entry.seo.seoImage[0] | default('') %}#}
{# end SEO #}

{#{% requireLogin %}#}

{% set thesisShows = craft.entries.section('thesis').type('thesis').orderBy('exhibitionStartDate desc').with('thesisFeatureImage').all() %}

{% set thesisImageTransform = {
    width: 400,
    height: 300,
    quality: 75,
    mode: 'crop'
} %}

{% block content %}

     <div class="m-thesisList">

        <div class="paddingWrapper">

            <h1>Thesis Exhibition Archive</h1>

            <div class="row small-up-2 medium-up-3">

                {% for thesisShow in thesisShows %}

                    <div class="column m-thesisList__exhibit">
                        {#{% if thesisShow.thesisFeatureImage | length %}#}
                            {#{% set x = ( thesisShow.thesisFeatureImage[0].focusX + 1 ) * 50 %}#}
                            {#{% set y = 100 - ( ( thesisShow.thesisFeatureImage[0].focusY + 1 ) * 50 ) %}#}
                        {#{%  else %}#}
                            {#{% set x = 50 %}#}
                            {#{% set y = 50 %}#}
                        {#{%  endif %}#}

                        <a href="{{ craft.app.request.absoluteUrl }}/{{ thesisShow.slug }}">
                            <img src="{{ thesisShow.thesisFeatureImage[0].getUrl( thesisImageTransform ) }}" alt="{{ thesisShow.title }} MFA Exhibition">
                            {#<img data-fit-image#}
                                 {#src="{{ thesisShow.thesisFeatureImage[0].getUrl( thesisImageTransform ) }}"#}
                                 {#alt="{{ thesisShow.title }} MFA Exhibition"#}
                                 {#data-focusX="{{ x }}"#}
                                 {#data-focusY="{{ y }}"#}
                            {#/>#}
                            <h3>{{ thesisShow.title }}</h3>
                            <p>{{ thesisShow.exhibitionStartDate | date('F d, Y') }}</p>
                        </a>
                    </div>

                {% endfor %}

            </div>
        </div>

    </div>

{% endblock %}
