{#
 # Search Results template
 # ---------------
 #
 #}

{% set bodyClasses = 'search-results-page' %}

{% extends "_layouts/_siteWrapper" %}

{# SEO #}

{# end SEO #}

{#{% requireLogin %}#}

{% set query = craft.request.getParam('q') %}
{% set sectionsToSearch = [] %}
{% set results = craft.entries.search(query).orderBy('score') %}

{% block content %}

    <div class="column row">

        <h1>Search Results</h1>

        {% if results|length %}

        <ul class="search-items-list-text">
            {% for item in results %}

                <li>
                    {% if item.section.handle in ['students','events','faculty'] %}
                        <span class="search-section-name">{{ item.section.name }}: </span>
                    {% endif %}
                    <a href="{{ item.url }}">
                        {{ item.title }}
                    </a>
                </li>

            {% endfor %}
        </ul>

        {% else %}

            <p>Your search for “{{ query }}” didn’t return any results.</p>

        {% endif %}
    </div>

{% endblock %}
