{#
 # On View template
 # ---------------
 #
 #}

{% extends "_layouts/_siteWrapper" %}

{% set seoTitle = entry.title %}
{% set seoImage = entry.featureImage.one() %}

{#{% requireLogin %}#}

{% block content %}

    <div class="row">

        <div id="exhibitionInfo" class="columns medium-4">
            <h1>{{ entry.title }}</h1>
            <p class="exhibit-date">{{ entry.exhibitionStartDate | date('F d') }} - {{ entry.exhibitionEndDate | date('F d, Y') }}</p>
        </div>

        <div id="on_view_main" class="columns medium-8">

            {{ entry.exhibitionDescription }}

            {% set image = entry.featureImage.one() %}
            <figure>
                <img class="preload-img" src="{{ image.url }}" />
                <figcaption></figcaption>
            </figure>

        </div>


    </div>

{% endblock %}
