{#
 # On View List template
 # ---------------
 #
 #}

{% extends "_layouts/_siteWrapper" %}

{# SEO #}
{% set seoTitle = entry.seo.title | default(entry.title) %}
{% set seoDescription = entry.seo.description | default('') %}
{% set seoKeywords = entry.seo.keywords | default('') %}
{% set seoImage = entry.seo.seoImage[0] | default('') %}
{# end SEO #}

{#{% requireLogin %}#}

{% set exhibits = craft.entries.section('exhibitions').order('exhibitionStartDate asc').all() %}


{% block content %}

    <div class="column row list-view">

        <h1>On View</h1>

        {% for exhibit in exhibits %}
            {% set gallery = craft.categories.id(exhibit.gallery).one() %}

            <div class="list-item-large">
                {#<img class="preload-img" src="{{ exhibit.featureimage.one().url }}" />#}
                {% set x = 50 %}
                {% set y = 50 %}
                {% if exhibit.featureImage.one() %}
                    {% set img = exhibit.featureImage.one() %}
                    {% if img.hasFocalPoint %}
                        {% set x = ( img.focalPoint | first ) * 100 %}
                        {% set y = ( img.focalPoint | last ) * 100 %}
                    {% endif %}
{#                    {% set x = ( exhibit.featureImage.one().focusX + 1 ) * 50 %}#}
{#                    {% set y = 100 - ( ( exhibit.featureImage.one().focusY + 1 ) * 50 ) %}#}
                {%  endif %}
                <a href="{{ exhibit.url }}">
                    <div class="background-image" style="background-image: url( {{ img.url }} ); background-position: {{ x }}% {{ y }}%;"></div>
                    <div class="caption">
                        <h3>{{ exhibit.title }}</h3>
                        <p class="exhibit-date">{{ exhibit.exhibitionStartDate | date('F j') }} — {{ exhibit.exhibitionEndDate | date('F j') }}, {{ exhibit.exhibitionEndDate | date('Y') }} </p>
                        <p class="gallery">{{ gallery }} </p>
                    </div>
                </a>
            </div>
        {% endfor %}

    </div>

{% endblock %}
