{% if page is not defined %}
    {% set page = "month" %}
{% endif %}

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ siteUrl }}calendar_demo/month">Calendar Demo</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="{{ page == "month" ? "active" }}"><a href="{{ siteUrl }}calendar_demo/month">Month</a></li>
                <li class="{{ page == "week" ? "active" }}"><a href="{{ siteUrl }}calendar_demo/week">Week</a></li>
                <li class="{{ page == "day" ? "active" }}"><a href="{{ siteUrl }}calendar_demo/day">Day</a></li>
                <li class="{{ page == "calendars" ? "active" }}"><a href="{{ siteUrl }}calendar_demo/calendars">Calendars</a></li>
                <li class="{{ page == "events" ? "active" }}"><a href="{{ siteUrl }}calendar_demo/events">Events List</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="https://solspace.com">Solspace.com</a></li>
                        <li><a href="https://solspace.com/craft/calendar/docs">Documentation</a></li>
                        <li><a href="https://solspace.com/craft/support">Support</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
