<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Demo Templates for Calendar">
    <meta name="author" content="Solspace">
    <title>Calendar | {{ pageTitle ? pageTitle : "Home" }}</title>
    <link href="{{ siteUrl }}assets/calendar_demo/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ siteUrl }}assets/calendar_demo/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="{{ siteUrl }}assets/calendar_demo/css/main.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        /* Helpful for testing and debugging. Comment this line out to make more data visible in template. */
        .solspace-debug {
            display: none;
        }
    </style>
</head>

<body role="document">

{% block nav %}{% include "calendar_demo/layouts/_header.html" %}{% endblock %}

<div class="container">
    {% block content %}{% endblock %}

    {% block pageInfo %}{% endblock %}

    {% block footer %}
        <div class="footer">
            <p>&copy; {{ "now"|date('Y') }} Solspace, Inc.</p>
        </div>
    {% endblock %}
</div>

{# Begin Testing and Debugging #}
<div class="panel panel-default solspace-debug">
    <div class="panel-heading">
        <h3 class="panel-title">Logged In/Out Testing &amp; Debugging</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li>Are you Logged in?: {{ currentUser ? "Your are Logged In" : "Your are Logged Out" }}</li>
            <li>Currently Logged in Member ID: {{ currentUser ? currentUser.id }}</li>
            <li>Currently Logged in Username: {{ currentUser ? currentUser.username }}</li>
            <li>Currently Logged in Screen Name: {{ currentUser ? currentUser.fullName }}</li>
            {#<li>Currently Logged in Member Group ID: {{ currentUser ? currentUser.groups }}</li>#}
        </ul>
    </div>
</div>
{# End Testing and Debugging #}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="{{ siteUrl }}assets/calendar_demo/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({
            trigger: 'hover',
            placement: 'bottom',
            html: true,
            title: function() {
                return $(".qtip .title", $(this)).html();
            },
            content: function() {
                return $(".qtip .content", $(this)).html();
            }
        });
    });
</script>
</body>
</html>
