{#
 # Post template
 # ---------------
 #
 #}

{# determine which layout to use #}
{#{% set layoutHandle1 = hasFeature ? '_feature-' : '_noFeature-' %}#}
{#{% set layoutHandle2 = entry.showSidebar ? '8-3' : 'oneColumn' %}#}

{% extends "_layouts/_feature-main-sidebar3" %}

{% import "_macros/_macros.twig" as macros %}

{# SEO #}
{% set seoTitle = entry.seo.title | default(entry.title) %}
{% set seoDescription = entry.seo.description | default('') %}
{% set seoKeywords = entry.seo.keywords | default('') %}
{% set seoImage = entry.seo.seoImage[0] | default('') %}
{# end SEO #}

{% set hasFeature = entry.topImage.one() ? true : false %}

{% set bodyClasses = hasFeature ? 'post-page has-feature-image' : 'post-page' %}

{% set bodyClasses = bodyClasses ~ ' ' ~ entry.postStyle %}

{% set bodyClasses = entry.showSidebar ? bodyClasses ~ ' with-sidebar' :  bodyClasses ~ ' no-sidebar' %}

{% set postType = ( entry.postType | length ) ? entry.postType[0].title : '' %}

{#{% requireLogin %}#}

{% set topImageTransform = {
        mode: 'fit',
        width: 1440,
        quality: 80
    }
%}

{% block feature %}
    <div class="a-featureImageFixed">
        <div class="a-featureImageFixed__container">
            <figure class="a-featureImageFixed__figure">
                {#<img src="{{ entry.topImage.one().getUrl( topImageTransform ) }}" alt="{{ entry.title }} Feature Image"/>#}
                {% set alt = entry.title ~ " Feature Image" %}
                {{ macros.focusPointImageObjectFit(entry.topImage.one(), topImageTransform, alt ) }}
            </figure>
        </div>
        <div class="a-featureImage__backgroundGradient"></div>
        <div class="row">
            <div class="columns large-push-2 large-7">
                <div class="a-featureImage__headerBox a-featureImage__headerBox--{{ entry.postStyle }}">
                    <p class="a-featureImage__postType">{{ postType }}</p>
                    <h1>{{ entry.title }}</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}

    <header class="m-block">
        {% if not hasFeature %}
            <p class="a-featureImage__postType">{{ postType }}</p>
            <h1>{{ entry.title }}</h1>
        {% endif %}

        {{ macros.postAuthors(entry.authors) }}

        <p class="date a-byLine__date">{{ entry.postDate | date('F j, Y') }}</p>

    </header>

    {% include "_partials/_pageMatrix" %}

{% endblock %}

{% block sidebar %}

    {% set sidebarContent = entry.sidebarContent %}
    {% if sidebarContent %}
        {% include "_sidebars/_sidebars" %}
    {% endif %}

{% endblock %}
