{#
 # Posts/News template
 # ---------------
 #
 #}

{% set bodyClasses = 'posts-page' %}

{% extends "_layouts/_siteWrapper" %}

{# SEO #}
{% set seoTitle = entry.seo.title | default(entry.title) %}
{% set seoDescription = entry.seo.description | default('') %}
{% set seoKeywords = entry.seo.keywords | default('') %}
{% set seoImage = entry.seo.seoImage[0] | default('') %}
{# end SEO #}

{#{% requireLogin %}#}

{% set params = {
    section : 'posts',
    orderBy : 'postDate desc',
    with : [
        ['topImage', {
            withTransforms: [{ mode: 'fit', width: 500, quality: 80 }]
        }],
        'postType'
    ]
} %}

{% set thumbTransform = {
    mode: 'fit',
    width: 500,
    quality: 80
} %}

{% set posts = craft.entries(params).all() %}

{% block content %}

    {% cache globally %}

    <div class="column row">

        <div class="paddingWrapper">

            <h1>{{ entry.title }}</h1>

            <div class="m-newsList row medium-up-3 large-up-4">
                
                {% for post in posts %}

                    {% set postType = ( post.postType | length ) ? post.postType[0].title : '' %}

                    {% if post.postThumb | length%}
                        {% set thumb = post.postThumb %}
                    {% else %}
                        {% set thumb = post.topImage %}
                    {% endif %}

                    {% if thumb | length %}
                        {% set x = 50 %}
                        {% set y = 50 %}
                        {% if thumb[0].hasFocalPoint %}
                            {% set x = ( thumb[0].focalPoint | first ) * 100 %}
                            {% set y = ( thumb[0].focalPoint | last ) * 100 %}
                        {% endif %}
                    {% endif %}

                    <div class="column m-newsList__post">

                        <p class="m-newsList__post__type">{{ postType }}&nbsp;</p>

                        <a href="{{ post.url }}">
                            {% if thumb | length %}
                                <div class="m-newsList__post__imageWrapper">
                                    <div class="m-newsList__post__image"  style="background-image: url( {{ thumb[0].getUrl( thumbTransform ) }} ); background-position: {{ x }}% {{ y }}%;"></div>
                                </div>
                            {% endif %}
                        </a>

                        <h3 class="m-newsList__post__title">
                            <a href="{{ post.url }}">{{ post.title }}</a>
                        </h3>

                        <p class="m-newsList__post__date">Published {{ post.postDate | date('F j, Y')}}</p>

                    </div>


                {% endfor %}
            </div>

        </div>

    </div>

    {% endcache %}

{% endblock %}
