{% extends "_layouts/_siteWrapper.twig" %}

{% set bodyClasses = bodyClasses ~ " layout-3-6-3" %}

{% block content %}
<div class="row">
    <div class="leftbar column medium-3">

        {% block leftbar %}{% endblock %}

    </div>
    <div class="main column medium-6">

        {% block main %}{% endblock %}

    </div>
    <div class="sidebar column medium-3">

        {% block sidebar %}{% endblock %}

    </div>
</div>
{% endblock %}
