{% extends "_layouts/_siteWrapper.twig" %}

{% block content %}

    {% block feature %}{% endblock %}

    <div class="row">
        <div class="main column medium-9">

            {% block main %}{% endblock %}

        </div>
        <div class="sidebar column medium-3">

            {% block sidebar %}{% endblock %}

        </div>
    </div>

{% endblock %}


