{% extends "_layouts/_siteWrapper.twig" %}

{% block content %}

    <div class="row">

        {% block feature %}{% endblock %}

    </div>

    <div class="row">

        <div class="main column large-9">

            {% block main %}{% endblock %}

        </div>
        <div class="sidebar column large-3">

            {% block sidebar %}{% endblock %}

        </div>

    </div>

{% endblock %}


