{% set seoSiteName = seoGlobal.seoSiteName %}
{% set seoTitle = seoTitle|default( title|default( seoGlobal.seoTitle ) ) %}
{% set seoDescription = seoDescription|default( seoGlobal.seoDescription ) %}
{% set seoKeywords = seoKeywords|default( seoGlobal.seoKeywords ) %}
{% set seoImage = seoImage|default( seoGlobal.seoImage.one() ) %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107861102-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-107861102-1');
    </script>

    <meta charset="utf-8" />

    {% include '_partials/_seo.twig' %}

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="/assets/css/site.css?v=42"/>

    <script type="text/javascript">
        var siteConfig = {

        };
    </script>

</head>

<body id="body" class="loading {{ bodyClasses|default('') }}" data-toggler=".s-menu-open">

    {% include "_partials/_sprite.twig" %}

    <div class="container">
        <header class="m-siteHeader">

            {% if alert.alertStatus %}

            <div class="m-alert {{ alert.alertLevel }}" >
                <div class="m-alert__icon"></div>
                <div class="m-alert__message">
                    <h3>{{ alert.alertTitle }}</h3>
                    <p>{{ alert.alertText }}</p>
                </div>
            </div>

            {% endif %}

            <div class="m-siteHeader__innerWrapper">

                <div class="m-logo">
                    <a href="/">
                        <div class="m-logo__mfa"><span class="m">M</span>FA</div>
                        <div class="m-logo__name">Hunter College MFA in Studio Art</div>
                    </a>
                </div>

                <div class="m-siteNavigation">

                    <nav>

                        {% set navConfig = {
                            'startwithActive' : true,
                            'maxDepth' : 3,
                            'activeClassOnAncestors' : true,
                            'ancestorActiveClass' : 'activeAncestor',
                        } %}

                        {% set nodes = craft.navigation.nodes('newMainNavigation').all() %}

                        <ul class="vertical large-horizontal menu"
                            data-responsive-menu="accordion large-dropdown"
                            data-parent-link="true"
                        >
                            {% nav node in nodes %}
                            {% if node.active %}
                                {% set sidebarContent = node.sidebarContent %}
                            {% endif %}
                            <li>
                                {{ node.link }}
                                {% ifchildren %}
                                <ul>{% children %}</ul>
                                {% endifchildren %}
                            </li>
                            {% endnav %}
                        </ul>

                    </nav>

                </div>

                <div class="icons">

                    <div class="m-nav__mobile-button">
                        <button data-toggle="body">
                            <svg class="icon icon--menu" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon--menu"></use></svg>
                            <svg class="icon icon--close" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon--close"></use></svg>
                        </button>
                    </div>

                    <div class="m-socialActions">
                        <a href="https://hunter.cuny.edu/" target="_blank"><img alt="Hunter College logo" src="/assets/img/Hunter-CUNYLogo-no-text.svg" ></a>
                    </div>

                </div>

            </div>

        </header>
    </div>

    <!-- main content -->
    <div class="container">
        <main id="content" role="main">

            {% block content %}{% endblock %}

        </main>
    </div>

    <div class="container">
        <footer>
            <div class="m-footer__socialRoster">
                <ul>
                    {% set sites = footerSettings.socialSites.all() %}
                    {% for site in sites %}

                        <li><a target="_blank" href="{{ site.siteLink }}"><img src="{{ site.svgIconFile[0].url }}" alt="{{ site.siteName }}"></a></li>

                    {% endfor %}

                </ul>
            </div>
            <div class="m-footer__contact">

                <div class="m-footer__address">
                    {{ footerSettings.footerAddress }}
                </div>
                <div class="m-footer__logo">
                    <img class="svglogo" alt="Hunter College logo" src="/assets/img/hunter-logo-gray.svg" >
                </div>

            </div>

        </footer>
    </div>

    <script type="text/javascript" src="/assets/js/site.js?v=31" ></script>

</body>
</html>
