{% extends "_layouts/_siteWrapper.twig" %}

{% block content %}
<div class="row">
    <div class="main column medium-10">

        {% block main %}{% endblock %}

    </div>
    <div class="sidebar column medium-2">

        {% block sidebar %}{% endblock %}

    </div>
</div>
{% endblock %}


