.a-blockQuote {

    margin: 35px 0;

}

.a-blockQuote__container {
    display: table;
}

.a-blockQuote__text {
    p {
        font-size: 22px;
        line-height: 28px;
        font-family: $custom-font-1;
        font-weight: normal;
        text-transform: uppercase;
        padding: 30px;
        text-align: center;
    }
}
.a-blockQuote__rule,
.a-blockQuote__curly {
    display: none;
}


.editorial {
    .a-blockQuote {
        .a-blockQuote__container {
        }
        .a-blockQuote__text {
            p {
                font-family: $header-font-family;
                font-weight: 300;
                font-size: 24px;
                line-height: 1.4em;
                text-align: left;
                text-transform: none;
                padding: 25px 25px 25px 0;
                margin-bottom: 0;
            }
        }
    }
    .a-blockQuote__rule {
        display: block;
        width: 100px;
        border-top: 3px solid;
    }
    .a-blockQuote__curly {
        display: inline;
        font-size: 60px;
        font-family: $serif-font;
        line-height: 0;
        vertical-align: -0.4em;
        padding-right: 10px;
        &:last-of-type {
            padding-left: 10px;
        }
    }
}

@include breakpoint(medium up) {

    .editorial {
        .a-blockQuote__container {
            margin-left: 100px;
        }
    }
    .a-blockQuote__container {
        direction: rtl;
    }

    .a-blockQuote__text {
        display: table-cell;
        vertical-align: middle;
        width: 66%;
        direction: ltr;
    }

    .a-blockQuote__image {
        display: table-cell;
        width: 33%;
    }

}

