.a-byLine {
  font-family: $serif-font;
  font-size: 12px;
  font-style: italic;
  color: $medium-gray;
  margin-bottom: 0;
  strong, b, span {
    font-family: $sans-serif-font;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
  }
}
.a-byLine__date {
  font-weight: 400;
  color: $medium-gray;
  font-family: $sans-serif-font;
  font-size: 9px;
  text-transform: uppercase;
  margin: 15px 0 25px;
}