// TODO: see object-fit IE fix: https://medium.com/@primozcigler/neat-trick-for-css-object-fit-fallback-on-edge-and-other-browsers-afbc53bbb2c3

.a-featureImage {

  position: relative;
  margin-bottom: 20px;

  .a-featureImage__container {
    width: 100%;
    padding-top: 60%;
    @include breakpoint(480) {
      padding-top: 42.86%;
    }
  }
  .a-featureImage__cropper {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
  }

  figure {
    margin: 0;
  }

  img {
    position: absolute;
    &.vertical-crop {
      width: 100%;
      height: auto;
      top: 50%;
      transform: translateY(-50%);
    }
    &.horizontal-crop {
      width: auto;
      max-width: none;
      height: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  //.a-featureImage__headerBox {
  //    padding-left: 10px;
  //}
  h1 {
    margin: 0;
    color: #fff;
    line-height: 1em;
  }

  + .row {
    padding-top: 0;
  }
}

.a-featureImage {
  min-height: 280px;
  margin-bottom: 0;
}

.a-featureImageFixed {
  //@include breakpoint(450) {
  //    padding-top: 65%;
  //}
  //@include breakpoint(medium) {
  //    padding-top: 50%;
  //}
  @include breakpoint(large) {
    padding-top: 42%;
  }
}

.a-featureImageFixed__container {
  margin-top: $site-header-total;
  max-width: $global-width;
  width: 100%;
  @include breakpoint(large) {
    margin: 0;
    position: fixed;
    top: $site-header-total;
    height: calc(42vw - #{$site-header-total});
  }
}

.a-featureImageFixed__figure {
  margin: 0;
  img {
    width: 100%;
  }
  @include breakpoint(large) {
    height: 100%;
    img {
      object-position: 50% 50%;
      object-fit: cover;
      height: 100%;
    }
  }
}

.a-featureImage__header {
  position: absolute;
  bottom: 130px;
  padding-left: 40px;
  @include breakpoint(large) {
    bottom: 10px;
  }
  h1 {
    color: #fff;
  }
}

.a-featureImage__headerBox {
  background-color: #fff;
  width: 100%;
  padding: 20px 20px 0 10px;
  margin: 0;
  color: #000;
  h1 {
    color: #000;
    line-height: 1.1em;
    margin-bottom: 0; // descenders align with line
  }
  @include breakpoint(large) {
    position: absolute;
    bottom: 0;
    padding: 20px 40px 0;
  }
}

.a-featureImage__postType {
  font-size: 10px;
  color: $hunter-purple-bright;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.a-featureImage__backgroundGradient {
  position: absolute;
  bottom: 0;
  height: 150px;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0) 100%);
}
