.a-facultyHead {
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 0 10px;
  @include breakpoint(medium) {
    padding: 0 40px;
  }
  h1 {
    font-size: 22px;
    text-transform: none;
    font-weight: 700;
    margin: 0 0 5px;
  }
  p {
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
  }
  @include breakpoint(medium only) {
    margin-left: grid-column(3 of 10);
  }
}