.a-multiColumnBody {
  p {
    font-size: 14px;
  }
}
@include breakpoint(medium up) {
  .a-multiColumnBody__column {
    float: left;
    padding-right: 20px;
    &.a-multiColumnBody__column--last {
      padding-right: 0;
    }
  }
  .a-multiColumnBody--2 {
    .a-multiColumnBody__column {
      width: 50%;
    }
  }
  .a-multiColumnBody--3 {
    .a-multiColumnBody__column {
      width: 33%;
    }
  }
}
