.a-sidebarPosts {

}
.a-sidebarPosts__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.a-sidebarPost {
  a {
    text-decoration: none;
    display: table;
    position: relative;
    &:hover {
      color: inherit;
      h4 {
        color: $anchor-color-hover;
      }
    }
  }
  padding-bottom: 15px;
  border-bottom: 1px solid $light-gray;
  margin-bottom: 20px;
  &:last-of-type {
    border-bottom: 0;
    padding-bottom: 0;
  }
  .a-byLine {
    font-size: 10px;
    margin: 14px 0;
  }
}

.a-sidebarPost__image {
  float: left;
  width: 100px;
  height: 125px;
  position: relative;
  margin-right: 20px;
  .background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    left: 0;
    position: absolute;
    top: 0;
  }

}
.a-sidebarPost__type {
  //position: absolute;
  //left: 120px;
  //top: -3px;
  font-size: 8px;
  font-weight: 700;
  text-transform: uppercase;
  color: $hunter-purple-bright;
  padding-bottom: 15px;
}
.a-sidebarPost__text {
  display: table-cell;
  vertical-align: bottom;
}
.a-sidebarPost__title {
  font-weight: 700;
  font-family: $serif-font;
  text-transform: none;
  font-size: 15px;
  line-height: 16px;
  margin-bottom: 7px;
}
.a-sidebarPost__description {
  p {
    margin: 0;
    font-family: $serif-font;
    font-size: 12px;
    line-height: 13px;
  }
}
