.slick-dots {
  margin: 0;
  li {
    list-style: none;
    display: inline-block;
    &.slick-active {
      button {
        background-color: $primary-color;
      }
    }
  }
  button {
    text-align: center;
    width: 7px;
    height: 7px;
    display: block;
    background: transparent;
    cursor: pointer;
    text-indent: -9999px;
    border-radius: 15px;
    box-sizing: content-box;
    margin-right: 5px;
    border: 2px solid;
    color: $primary-color !important;
  }
}