.a-sidebarEvents {

}
.a-sidebarEvents__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.a-sidebarEvent {
  a {
    text-decoration: none;
    display: table;
  }
  padding-bottom: 15px;
  border-bottom: 1px solid $light-gray;
  margin-bottom: 15px;
  &:last-of-type {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.a-sidebarEvent__image {
  float: left;
  width: 70px;
  height: 70px;
  position: relative;
  margin-right: 10px;
  .background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    left: 0;
    position: absolute;
    top: 0;
  }

}
.a-sidebarEvent__text {
  display: table-cell;
  vertical-align: middle;
  font-weight: 700;
  p {
    //font-family: $body-font-family;
  }
}

.a-sidebarEvent__title {
  margin: -5px 0 2px;
  font-family: $serif-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  @include breakpoint(medium) {
    //font-size: 24px;
    //line-height: 27px;
  }
}

.a-sidebarEvent__date {
  font-family: $serif-font;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 15px;
  @include breakpoint(medium) {
    //font-size: 15px;
    //line-height: 17px;
  }
}

.a-sidebarEvent__type {
  display: inline-block;
  vertical-align: top;
  font-family: $sans-serif-font;
  font-size: 10px;
  line-height: 10px;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  padding: 2px 3px;
  background-color: $hunter-purple-bright;
}

