{# create ical link #}
{% macro ical(title, description, location, startDate, startTime, endDate, endTime) %}

    <a class="ical-link" href="http://www.google.com/calendar/event?
action=TEMPLATE
&text={{ title }}
&dates={{ startDate | date('Ymd') }}T{{ startTime | date('Hi') }}00/{{ endDate | date('Ymd') }}T{{ endTime | date('Hi') }}00
&details={{ description }}
&ctz=America/New_York
&location={{ location | default("205+Hudson+St,+New+York,+NY") }}
&trp=false
&sprop=
&sprop=name:"
       target="_blank" rel="nofollow">Add to calendar</a>

{% endmacro %}



{# convert number to ordinal #}
{% macro ordinal(number) %}
    {%- spaceless %}
        {% if ((number % 100) >= 11) and ((number % 100) <= 13) %}
            {{ number }}th
        {% else %}
            {% set ends = ['th','st','nd','rd','th','th','th','th','th','th'] %}
            {{ number ~ ends[number % 10] }}
        {% endif %}
    {% endspaceless -%}
{% endmacro %}

{# convert semester key into string #}
{% macro semesterToString(semester) %}

    {%- spaceless %}

        {% if semester %}

            {% set semesterYear = semester | split('-') | slice(0, 1) | first %}
            {% set semesterIndex = semester | split('-') | slice(1, 1) | first %}
            {% set semesterSeason = semesterIndex == 1 ? 'Spring' : 'Fall' %}
            {{ semesterSeason ~ ' ' ~  semesterYear }}

        {% else %}

            {{ 'not specified' }}

        {% endif %}

    {% endspaceless -%}

{% endmacro %}

{# background image positioned according to focusPoint settings #}
{% macro focusPointBackgroundImage(image, transform) %}
    {%- spaceless %}
        {% if image %}

            {% set x = ( image.focalPoint | first ) * 100 %}
            {% set y = ( image.focalPoint | last ) * 100 %}

{#            {% set x = ( image.focusX + 1 ) * 50 %}#}
{#            {% set y = 100 - ( ( image.focusY + 1 ) * 50 ) %}#}

            {% if transform %}
                {%  set imageUrl = image.getUrl( transform ) %}
            {% else %}
                {%  set imageUrl = image.url %}
            {% endif %}
        {%  else %}
            {%  set imageUrl = '' %}
            {% set x = 50 %}
            {% set y = 50 %}
        {%  endif %}

        <div class="background-image"  style="background-image: url( {{ imageUrl }} ); background-position: {{ x }}% {{ y }}%;"></div>

    {% endspaceless -%}
{% endmacro %}

{# image positioned according to focusPoint settings #}
{% macro focusPointImage(image, transform, alt) %}
    {%- spaceless %}
        {% if image %}

            {% set x = ( image.focalPoint | first ) * 100 %}
            {% set y = ( image.focalPoint | last ) * 100 %}

{#            {% set x = ( image.focusX + 1 ) * 50 %}#}
{#            {% set y = 100 - ( ( image.focusY + 1 ) * 50 ) %}#}

            {% if transform %}
                {%  set imageUrl = image.getUrl( transform ) %}
            {% else %}
                {%  set imageUrl = image.url %}
            {% endif %}
        {%  else %}
            {%  set imageUrl = '' %}
            {% set x = 50 %}
            {% set y = 50 %}
        {%  endif %}

        <div class="cropped-image">
            <img src="{{ imageUrl }}" style="left: -{{ x }}%; top: -{{ y }}%;" alt="{{ alt }}"/>
        </div>

    {% endspaceless -%}
{% endmacro %}

{# image positioned according to focusPoint settings #}
{% macro focusPointImageObjectFit(image, transform, alt) %}
    {%- spaceless %}
        {% if image and image.hasFocalPoint %}
            {% set x = ( image.focalPoint | first ) * 100 %}
            {% set y = ( image.focalPoint | last ) * 100 %}
        {%  else %}
            {% set x = 50 %}
            {% set y = 50 %}
        {%  endif %}

        {% if transform %}
            {%  set imageUrl = image.getUrl( transform ) %}
        {% else %}
            {%  set imageUrl = image.url %}
        {% endif %}

        <img src="{{ imageUrl }}" style="object-position: {{ x }}% {{ y }}%;" alt="{{ alt }}"/>

    {% endspaceless -%}
{% endmacro %}


{# image positioned according to focusPoint settings #}
{% macro postAuthors(authors) %}
    {%- spaceless %}
        {% set authors = authors.all() %}
        {% for author in authors %}
            {% set authorTitle = '' %}
            {% switch author.type %}
                {% case 'people' or 'faculty' %}
                    {% set authorTitle = author.theTitle ? author.theTitle : '' %}
                {% default %}
            {% endswitch %}
            {% set comma = authorTitle ? ", " : "" %}
            <p class="a-byLine"><span>{{ author.title }}</span>{{ comma }}{{ authorTitle }}</p>
        {% endfor %}
    {% endspaceless -%}
{% endmacro %}

