{# --------------------------------------------

   The Craft Field Cheat Sheet

   Author:     Focus Lab, LLC
   Version:    1.0.0
   Repo/Help:  https://github.com/focuslabllc/craft-field-cheat-sheet

-------------------------------------------- -#}



{# ---------------------------------------------
   Only render this template in dev mode
--------------------------------------------- #}
{%- if not craft.config.devMode %}
    {% exit 404 %}
{% endif -%}



{# ---------------------------------------------
   Define your whitespace for when copying code
   samples. The default is a tab character. You
   can change this to a specific number of tabs
   or spaces to suite your preference.
--------------------------------------------- #}
{%- set whitespace = '	' -%}



{# ---------------------------------------------
   Settings that don't need changing
--------------------------------------------- #}
{%- set cs = {
pageTitle: 'The Craft Field Cheat Sheet',
version:   '1.0.0',
groups:    craft.fields.getAllGroups(),
fields:    craft.fields.getAllFields(),
currentContext: craft.request.getParam('context')|default('entry'),
tagContexts: {
asset:  { 'title': 'Assets',     'tag': 'asset' },
cat:    { 'title': 'Categories', 'tag': 'category' },
entry:  { 'title': 'Entries',    'tag': 'entry' },
global: { 'title': 'Globals',    'tag': 'globalSet' },
tag:    { 'title': 'Tags',       'tag': 'tag' },
user:   { 'title': 'Users',      'tag': 'user' }
},
nativeFieldTypes: [
'Assets',
'Categories',
'Checkboxes',
'Color',
'Date',
'Dropdown',
'Entries',
'Lightswitch',
'Matrix',
'MultiSelect',
'Number',
'PlainText',
'PositionSelect',
'RadioButtons',
'RichText',
'Table',
'Tags',
'Users'
],
remoteAssetRoot: 'http://shared.focus.build/craft-cheat-sheet/'
} -%}
{%- set sampleTag  = cs.tagContexts[cs.currentContext].tag -%}

{#
   Right, so this mess is solely because I'm a whitespace nut
   and I want my code comments to align vertically in the code
   snippet regardless of the legth of the column name. Twig
   doesn't have a php equivalent to str_repeat so we're making
   one that will let us repeat the space character based on
   the difference between the "current column name length" and the
   "longest column name length". Nerdy. I know.
#}
{%- macro strRepeat(string, multiplier) -%}
    {%- for i in range(0, multiplier) %}{{- string -}}{% endfor -%}
{%- endmacro -%}
{# end whitespace nutjob code


{# ---------------------------------------------
   A little macro to extract code block
   content from markup/form
--------------------------------------------- #}
{%- macro codeBlock(title, code, helpText) %}
    <div class="code_block">
        <h3>{{ title }}</h3>
        {% if helpText %}
            <div class="description">
                <p>{{ helpText|md }}</p>
            </div>
        {% endif %}
        <div class="code">
            <pre><code class="language-twig">{{ code|trim|replace('&quot;', '"') }}</code></pre>
        </div>
    </div>
{% endmacro -%}

{# ---------------------------------------------
   Loop through our fields and make small macros
   for code snippets. These are macros so the Matrix
   field can easily show code snippets as desired
   and macros easily support recursion in this way.
--------------------------------------------- #}
{%- macro cs_Assets(data) %}


    {{ _self.codeBlock('Total number of assets', '
		{{ ' ~ data.sampleTag ~ '|length }}'
    )}}


    {{ _self.codeBlock('Common conditional', '
		{% if ' ~ data.sampleTag ~ '|length %}\n'
    ~ data.whitespace ~ '...\n'
    ~ '{% endif %}'
    )}}


    {{ _self.codeBlock('Loop through assets', '
		{% for myAsset in '
    ~ data.sampleTag
    ~ ' %}\n'
    ~ data.whitespace
    ~ '{{ myAsset.url }}\n{% endfor %}'
    )}}


    {{ _self.codeBlock('Only return the first asset', '
		{% set myAsset = '
    ~ data.sampleTag
    ~ '.first() %}\n{% if myAsset %}\n'
    ~ data.whitespace
    ~ '{{ myAsset.url }}\n{% endif %}'
    )}}


    {{ _self.codeBlock('Adjusting the limit', '
		{% for block in ' ~ data.sampleTag ~ '.limit(5) %}'
    )}}


    {{ _self.codeBlock('All asset variables', '
		{% set myAsset = '
    ~ data.sampleTag
    ~ '.first() %}\n{% if myAsset %}\n'
    ~ data.whitespace
    ~ '{{ myAsset.dateCreated }}\n'
    ~ data.whitespace
    ~ '{{ myAsset.dateUpdated }}\n'
    ~ data.whitespace
    ~ '{{ myAsset.extension }}\n'
    ~ data.whitespace
    ~ '{{ myAsset.filename }}\n'
    ~ data.whitespace
    ~ '{{ myAsset.folder }}\n'
    ~ data.whitespace
    ~ '{{ myAsset.folderId }}\n'
    ~ data.whitespace
    ~ '{{ myAsset.height }}\n'
    ~ data.whitespace
    ~ '{{ myAsset.id }}\n'
    ~ data.whitespace
    ~ '{{ myAsset.img }}\n'
    ~ data.whitespace
    ~ '{{ myAsset.kind }}\n'
    ~ data.whitespace
    ~ '{{ myAsset.locale }}\n'
    ~ data.whitespace
    ~ '{{ myAsset.link }}\n'
    ~ data.whitespace
    ~ '{{ myAsset.mimeType }}\n'
    ~ data.whitespace
    ~ '{{ myAsset.next }}\n'
    ~ data.whitespace
    ~ '{{ myAsset.prev }}\n'
    ~ data.whitespace
    ~ '{{ myAsset.size }}\n'
    ~ data.whitespace
    ~ '{{ myAsset.source }}\n'
    ~ data.whitespace
    ~ '{{ myAsset.sourceId }}\n'
    ~ data.whitespace
    ~ '{{ myAsset.url }}\n'
    ~ data.whitespace
    ~ '{{ myAsset.width }}\n{% endif %}'
    )}}


    {{ _self.codeBlock('All asset methods', '
		{% set myAsset = '
    ~ data.sampleTag
    ~ '.one() %}\n{% if myAsset %}\n'
    ~ data.whitespace
    ~ '{{ myAsset.getExtension() }}\n'
    ~ data.whitespace
    ~ '{{ myAsset.getFolder() }}\n'
    ~ data.whitespace
    ~ '{{ myAsset.getHeight( transform ) }}\n'
    ~ data.whitespace
    ~ '{{ myAsset.getImg() }}\n'
    ~ data.whitespace
    ~ '{{ myAsset.getLink() }}\n'
    ~ data.whitespace
    ~ '{{ myAsset.getMimeType() }}\n'
    ~ data.whitespace
    ~ '{{ myAsset.getNext( params ) }}\n'
    ~ data.whitespace
    ~ '{{ myAsset.getPrev( params ) }}\n'
    ~ data.whitespace
    ~ '{{ myAsset.getSource() }}\n'
    ~ data.whitespace
    ~ '{{ myAsset.getUrl( transform ) }}\n'
    ~ data.whitespace
    ~ '{{ myAsset.getWidth( transform ) }}\n'
    ~ data.whitespace
    ~ '{{ myAsset.setTransform( transform ) }}\n{% endif %}'
    )}}

{% endmacro -%}

{%- macro cs_Categories(data) %}

    {{ _self.codeBlock('Check if entry has categories', '
		{% if ' ~ data.sampleTag ~ '|length %}\n'
    ~ data.whitespace ~ '...\n'
    ~ '{% endif %}'
    )}}


    {{ _self.codeBlock('Rename for easier access', '
		{% set categories = '
    ~ data.sampleTag
    ~ ' %}\n'
    ~ '{% if categories|length %}\n'
    ~ data.whitespace ~ '<h3>My Categories<h3/>\n'
    ~ data.whitespace
    ~ '{% nav myCategory in categories %}\n'
    ~ data.whitespace ~ data.whitespace ~ '...\n'
    ~ data.whitespace ~ '{% endnav %}\n'
    ~ '{% endif %}'
    )}}


    {{ _self.codeBlock('Pass parameters to the ElementCriteria Model', '
		{% set myCategories = ' ~ data.sampleTag ~ '.order(\'name\') %}'
    )}}


    {{ _self.codeBlock('Select just the first category', '
		{% set myCategory = '
    ~ data.sampleTag
    ~ '.first() %}\n'
    ~ '{% if myCategory %}\n'
    ~ data.whitespace ~ '...\n'
    ~ '{% endif %}'
    , 'This is mostly used in a scenario where you only expect one category to be selected. The result is still a "set" of categories so we just grab the "first" one.')}}

{% endmacro -%}

{%- macro cs_Checkboxes(data) %}

    {{ _self.codeBlock('Field name', '
		{{ ' ~ data.sampleTag ~ ' }}'
    )}}


    {{ _self.codeBlock('Single checkbox conditional', '
		{% if ' ~ data.sampleTag ~ '|length %} ... {% endif %}'
    )}}


    {{ _self.codeBlock('Loop through the *selected* options', '
		<ul>\n'
    ~ data.whitespace ~ '{% for option in '
    ~ data.sampleTag
    ~ ' %}\n'
    ~ data.whitespace ~ data.whitespace
    ~ '<li>{{ option }}</li>\n'
    ~ data.whitespace
    ~ '{% endfor %}\n'
    ~ '</ul>'
    )}}


    {{ _self.codeBlock('Loop through <em>all</em> of the options', '
		<ul>\n'
    ~ data.whitespace ~ '{% for option in '
    ~ data.sampleTag
    ~ '.options %}\n'
    ~ data.whitespace ~ data.whitespace
    ~ '<li>{{ option }}</li>\n'
    ~ data.whitespace
    ~ '{% endfor %}\n'
    ~ '</ul>'
    )}}


    {{ _self.codeBlock('See if a specific option is selected', '
		{% if '
    ~ data.sampleTag
    ~ '.contains(\'value\') %}\n'
    ~ data.whitespace
    ~ '...\n'
    ~ '{% endif %}'
    )}}

{% endmacro -%}

{%- macro cs_Color(data) %}

    {{ _self.codeBlock('Field name', '
		{{ ' ~ data.sampleTag ~ ' }}'
    )}}


    {{ _self.codeBlock('"If exists" conditional', '
		{% if ' ~ data.sampleTag ~ '|length %} ... {% endif %}'
    )}}

{% endmacro -%}

{%- macro cs_Date(data) %}

    {{ _self.codeBlock('Sample date formatting', '
		{% if ' ~ data.sampleTag ~ ' %}\n'
    ~ data.whitespace
    ~ '{{ ' ~ data.sampleTag ~ ' | date(\'M j, Y\') }}\n'
    ~ '{% endif %}'
    )}}


    {{ _self.codeBlock('Get the Unix timestamp of the date', '
		{{ ' ~ data.sampleTag ~ '.getTimestamp() }}'
    )}}

    <div class="extra">
        <p>There are many methods you can use on date fields. More documentation available <a href="http://buildwithcraft.com/docs/templating/datetime">here</a>.</p>
    </div>

{% endmacro -%}

{%- macro cs_Dropdown(data) %}

    {{ _self.codeBlock('Field name', '
		{{ ' ~ data.sampleTag ~ ' }}'
    )}}


    {{ _self.codeBlock('Field label', '
		{{ ' ~ data.sampleTag ~ '.label }}'
    )}}


    {{ _self.codeBlock('Loop through the options', '
		<ul>\n'
    ~ data.whitespace
    ~ '{% for option in '
    ~ data.sampleTag
    ~ '.options %}\n'
    ~ data.whitespace ~ data.whitespace
    ~ '<li>{{ option }}</li>\n'
    ~ data.whitespace
    ~ '{% endfor %}\n</ul>'
    )}}

{% endmacro -%}

{%- macro cs_Entries(data) %}

    {{ _self.codeBlock('Set your entries to a variable', '
		{% set entries = ' ~ data.sampleTag ~ ' %}'
    )}}


    {{ _self.codeBlock('Does your entries field have any entries?', '
		{% if '
    ~ data.sampleTag
    ~ '|length %}\n'
    ~ data.whitespace
    ~ '...\n'
    ~ '{% endif %}'
    )}}


    {{ _self.codeBlock('A simple loop for your entries', '
		{% for myEntry in '
    ~ data.sampleTag
    ~ '|length %}\n'
    ~ data.whitespace
    ~ '...\n'
    ~ '{% endfor %}'
    )}}


    {{ _self.codeBlock('Set variable, check for entries, then loop through them', '
		{% set entries = '
    ~ data.sampleTag
    ~ ' %}\n'
    ~ '{% if entries|length %}\n'
    ~ data.whitespace
    ~ '<h3>List of Entries</h3>\n'
    ~ data.whitespace
    ~ '{% for myEntry in entries %}\n'
    ~ data.whitespace ~ data.whitespace
    ~ '...\n'
    ~ data.whitespace
    ~ '{% endfor %}\n'
    ~ '{% endif %}'
    )}}


    {{ _self.codeBlock('Just grab the first entry', '
		{% set myEntry = '
    ~ data.sampleTag
    ~ '.first() %}\n'
    ~ '{% if myEntry %}\n'
    ~ data.whitespace
    ~ '...\n'
    ~ '{% endif %}'
    )}}

{% endmacro -%}

{%- macro cs_Lightswitch(data) %}

    {{ _self.codeBlock('Boolean Conditional', '
		{% if ' ~ data.sampleTag ~ ' %} ... {% endif %}'
    )}}

{% endmacro -%}

{%- macro cs_Matrix(data) %}

    {{ _self.codeBlock('Total number of blocks', '
		{{ ' ~ data.sampleTag ~ '|length }}'
    )}}


    {{ _self.codeBlock('Loop through blocks', '
		{% for block in ' ~ data.sampleTag ~ ' %}\n'
    ~ data.whitespace ~ '...\n{'
    ~ '% endfor %}'
    )}}


    {{ _self.codeBlock('Filtering by block type', '
		{% for block in ' ~ data.sampleTag ~ '.type(\'text\') %}'
    )}}


    {{ _self.codeBlock('Adjusting the limit', '
		{% for block in ' ~ data.sampleTag ~ '.limit(5) %}'
    )}}


    {#
       We need to pass a single string through the next .codeBlock macro
       so we're going to build our list of blocks and tags before
       we build out the full code snippet string to pass through
    #}
    {%- set blockCode -%}

        {%- for blockType in data.field.getFieldType().getSettings().getBlockTypes() -%}

            {%- set blockFieldCode -%}

                {%- for matrixField in blockType.getFields() -%}
                    {{-
                    data.whitespace ~ data.whitespace ~ data.whitespace
                    ~ '{{ block.' ~ matrixField.handle ~ ' }} '
                    ~ '{# Type: ' ~ matrixField.type|replace('_', ' ')|replace('/(.)([A-Z])/', '$1 $2')|title ~ ' #}\n'
                    -}}
                {%- endfor -%}

            {%- endset -%}

            {{-
            data.whitespace ~ data.whitespace
            ~ '{% case "' ~ blockType.handle ~ '" %}\n'
            ~ blockFieldCode
            ~ '\n'
            -}}

        {%- endfor -%}

    {%- endset -%}


    {{ _self.codeBlock('All block types with fields', '
		{% for block in ' ~ data.sampleTag ~ ' %}\n'
    ~ data.whitespace ~ '{% switch block.type %}\n\n'
    ~ blockCode
    ~ data.whitespace ~ data.whitespace
    ~ '{% default %}\n'
    ~ data.whitespace ~ data.whitespace ~ data.whitespace
    ~ '...\n\n'
    ~ data.whitespace
    ~ '{% endswitch %}\n'
    ~ '{% endfor %}'
    )}}

{% endmacro -%}

{%- macro cs_MultiSelect(data) %}

    {{ _self.codeBlock('Loop through the <em>selected</em> options', '
		<ul>\n'
    ~ data.whitespace ~ '{% for option in '
    ~ data.sampleTag
    ~ ' %}\n'
    ~ data.whitespace ~ data.whitespace
    ~ '<li>{{ option }}</li>\n'
    ~ data.whitespace
    ~ '{% endfor %}\n'
    ~ '</ul>'
    )}}


    {{ _self.codeBlock('Loop through <em>all</em> of the options', '
		<ul>\n'
    ~ data.whitespace ~ '{% for option in '
    ~ data.sampleTag
    ~ '.options %}\n'
    ~ data.whitespace ~ data.whitespace
    ~ '<li>{{ option }}</li>\n'
    ~ data.whitespace
    ~ '{% endfor %}\n'
    ~ '</ul>'
    )}}


    {{ _self.codeBlock('See if a specific option is selected', '
		{% if '
    ~ data.sampleTag
    ~ '.contains(\'value\') %}\n'
    ~ data.whitespace
    ~ '...\n'
    ~ '{% endif %}'
    )}}

{% endmacro -%}

{%- macro cs_Number(data) %}

    {{ _self.codeBlock('Field name', '
		{{ ' ~ data.sampleTag ~ ' }}'
    )}}


    {{ _self.codeBlock('Comparison conditional</td>', '
		{% if ' ~ data.sampleTag ~ ' > 0 %} ... {% endif %}'
    )}}


    {{ _self.codeBlock('Operations', '
		{% set myResult = 42 * ' ~ data.sampleTag ~ ' %}'
    ~ '\n\nThe total is {{ myResult }}'
    )}}

{% endmacro -%}

{%- macro cs_PlainText(data) %}

    {{ _self.codeBlock('Field name', '
		{{ ' ~ data.sampleTag ~ ' }}'
    )}}

    {{ _self.codeBlock('"If exists" conditional', '
		{% if ' ~ data.sampleTag ~ '|length %} ... {% endif %}'
    )}}

{% endmacro -%}

{%- macro cs_PositionSelect(data) %}

    {{ _self.codeBlock('Adding to a class name', '
		<div class="block {{ ' ~ data.sampleTag ~ ' }}">'
    )}}


    {{ _self.codeBlock('Conditionals around position values', '
		{% if '
    ~ data.sampleTag
    ~ ' in [\'left\', \'right\'] %}\n'
    ~ data.whitespace
    ~ '{# ... #}\n'
    ~ '{% elseif '
    ~ data.sampleTag
    ~ ' == \'center\' %}\n'
    ~ data.whitespace
    ~ '{# ... #}\n'
    ~ '{% endif %}'
    )}}


    {{ _self.codeBlock('Switch statement for all values', '
		{% switch '
    ~ data.sampleTag
    ~ ' %}\n'
    ~ data.whitespace
    ~ '{% case \'left\' %}\n'
    ~ data.whitespace ~ data.whitespace
    ~ '{# ... #}\n'
    ~ data.whitespace
    ~ '{% case \'center\' %}\n'
    ~ data.whitespace ~ data.whitespace
    ~ '{# ... #}\n'
    ~ data.whitespace
    ~ '{% case \'right\' %}\n'
    ~ data.whitespace ~ data.whitespace
    ~ '{# ... #}\n'
    ~ data.whitespace
    ~ '{% case \'full\' %}\n'
    ~ data.whitespace ~ data.whitespace
    ~ '{# ... #}\n'
    ~ data.whitespace
    ~ '{% case \'drop-left\' %}\n'
    ~ data.whitespace ~ data.whitespace
    ~ '{# ... #}\n'
    ~ data.whitespace
    ~ '{% case \'drop-right\' %}\n'
    ~ data.whitespace ~ data.whitespace
    ~ '{# ... #}\n'
    ~ '{% endswitch %}'
    )}}

{% endmacro  -%}

{%- macro cs_RadioButtons(data) %}

    {{ _self.codeBlock('The Selected value\'s option', '
		{{ ' ~ data.sampleTag ~ ' }}'
    )}}


    {{ _self.codeBlock('The Selected value\'s label', '
		{{ ' ~ data.sampleTag ~ '.label }}'
    )}}


    {{ _self.codeBlock('Loop through all available options', '
		<ul>\n'
    ~ data.whitespace ~ '{% for option in '
    ~ data.sampleTag
    ~ '.options %}\n'
    ~ data.whitespace ~ data.whitespace
    ~ '<li>{{ option }}</li>\n'
    ~ data.whitespace
    ~ '{% endfor %}\n'
    ~ '</ul>'
    )}}

{% endmacro -%}

{%- macro cs_RichText(data) %}

    {{ _self.codeBlock('Field name', '
		{{ ' ~ data.sampleTag ~ ' }}'
    )}}

    {{ _self.codeBlock('"If exists" conditional', '
		{% if ' ~ data.sampleTag ~ '|length %} ... {% endif %}'
    )}}

{% endmacro -%}

{%- macro cs_SmartMap_Address(data) %}

    {{ _self.codeBlock('Individual address fields', '
		{{ ' ~ data.sampleTag ~ '.street1 }}\n'
    ~ '{{ ' ~ data.sampleTag ~ '.street2 }}\n'
    ~ '{{ ' ~ data.sampleTag ~ '.city }}\n'
    ~ '{{ ' ~ data.sampleTag ~ '.state }}\n'
    ~ '{{ ' ~ data.sampleTag ~ '.zip }}\n\n'
    ~ 'Latitude: {{ ' ~ data.sampleTag ~ '.lat }}\n'
    ~ 'Longitude: {{ ' ~ data.sampleTag ~ '.lng }}\n\n'
    ~ '{# Only available in proximity search results #}\n'
    ~ 'Found {{ ' ~ data.sampleTag ~ '.distance | number_format(1) }} miles away.\n'
    )}}

    {{ _self.codeBlock('Combined address output', '
		{# On 3 lines #}\n'
    ~ '{{ '
    ~ data.sampleTag ~ '.format'
    ~ ' }}\n\n'
    ~ '{# On 2 lines #}\n'
    ~ '{{ '
    ~ data.sampleTag ~ '.format(true)'
    ~ ' }}\n\n'
    ~ '{# On 1 line #}\n'
    ~ '{{ '
    ~ data.sampleTag ~ '.format(true, true)'
    ~ ' }}'
    )}}

    {{ _self.codeBlock('"If address is not empty" conditional', '
		{% if not ' ~ data.sampleTag ~ '.isEmpty %} ... {% endif %}'
    )}}

    {{ _self.codeBlock('"If address has coordinates" conditional', '
		{% if ' ~ data.sampleTag ~ '.hasCoords %} ... {% endif %}'
    )}}

    <div class="extra">
        <p>These code examples cover the basic ways to directly output address data. If you'd like to render a map (or do even more complex stuff with your address data), please visit the full documentation at <a href="https://craftpl.us/plugins/smart-map/" target="_blank">Craft Plus</a>.</p>
    </div>

{% endmacro -%}

{%- macro cs_Table(data) %}

    {#
       Some whitespace setup code so we can use the previously defined
       macro to verticaly align comments in code using strRepeat
    #}
    {%- set rowWhitespace = [] -%}
    {%- for col in data.field.settings.columns -%}
        {%- set rowWhitespace = rowWhitespace|merge([col.handle|length]) -%}
    {%- endfor -%}


    {#
       We need to pass a single string through the .codeBlock macro
       so we're going to build our list of column names and tags before
       we build out the full code snippet string to pass through
    #}
    {%- set rowBlock -%}
        {%- for col in data.field.settings.columns -%}
            {{-
            data.whitespace ~ data.whitespace
            ~ '{{ row.' ~ col.handle ~ ' }} '
            ~ _self.strRepeat(' ', max(rowWhitespace) - col.handle|length)
            ~ '{# ' ~ col.type ~ ' #}\n'
            -}}
        {%- endfor -%}
    {%- endset -%}


    {{ _self.codeBlock('Table Structure', '
		{% if ' ~ data.sampleTag ~ '|length %}\n'
    ~ data.whitespace
    ~ '{% for row in ' ~ data.sampleTag ~ ' %}\n'
    ~ rowBlock
    ~ data.whitespace
    ~ '{% endfor %}\n'
    ~ '{% endif %}'
    , 'This the general structure of the table and column handles (and types). If there are any default row values they will are displayed below this structure code block.')}}


    {% if data.field.settings.defaults %}
        <h3>Default Values</h3>
        <div class="table_contain">
            <table>
                <thead>
                <tr>
                    <th>Row #</th>
                    {%- for col in data.field.settings.columns -%}
                        <th>{{ col.heading }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {%- for row, cols in data.field.settings.defaults -%}
                    <tr>
                        <td>{{ loop.index }}</td>
                        {%- for col in cols -%}
                            <td>{{ col }}</td>
                        {%- endfor -%}
                    </tr>
                {%- endfor -%}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endmacro -%}

{%- macro cs_Tags(data) %}

    {{ _self.codeBlock('Set a variable for future template use', '
		{% set myTags = ' ~ data.sampleTag ~ ' %}'
    )}}


    {{ _self.codeBlock('Check if any tags exist', '
		{% if ' ~ data.sampleTag ~ '|length %} ... {% endif %}'
    )}}


    {{ _self.codeBlock('Loop through the selected tags', '
		{% for myTag in '
    ~ data.sampleTag
    ~ ' %}\n'
    ~ data.whitespace
    ~ '...\n'
    ~ '{% endfor %}'
    )}}


    {{ _self.codeBlock('Order by parameters', '
		{% set myTags = ' ~ data.sampleTag ~ '.order(\'title\') %}'
    )}}


    {{ _self.codeBlock('Avoid a loop if your field limits to 1 user', '
		{% if '
    ~ data.sampleTag
    ~ '.first() %}\n'
    ~ data.whitespace
    ~ '...\n'
    ~ '{% endif %}'
    )}}

{% endmacro -%}

{%- macro cs_Users(data) %}

    {{ _self.codeBlock('Set a variable for future template use', '
		{% set myUsers = ' ~ data.sampleTag ~ ' %}'
    )}}


    {{ _self.codeBlock('Check if any users were selected', '
		{% if ' ~ data.sampleTag ~ '|length %} ... {% endif %}'
    )}}


    {{ _self.codeBlock('Loop through the selected users', '
		{% for myUser in '
    ~ data.sampleTag
    ~ ' %}\n'
    ~ data.whitespace
    ~ '...\n'
    ~ '{% endfor %}'
    )}}


    {{ _self.codeBlock('Filter by parameters', '
		{% set authors = ' ~ data.sampleTag ~ '.group(\'groupName\') %}'
    )}}


    {{ _self.codeBlock('Avoid a loop if your field limits to 1 user', '
		{% set myUser = '
    ~ data.sampleTag
    ~ '.first() %}\n'
    ~ '{% if myUser %}\n'
    ~ data.whitespace
    ~ '...\n'
    ~ '{% endif %}'
    )}}

{% endmacro -%}


{%- import _self as csMacro -%}
<!DOCTYPE html>
<html>
<head>

    <title>{{ cs.pageTitle }} &mdash; for {{ siteName }}</title>

    <style type="text/css">
        @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Merriweather:400,300|Inconsolata);*{box-sizing:border-box}html,body{margin:0;padding:0;font-family:'Open Sans','Gill Sans','Gill Sans MT',Verdana,sans-serif}.clear{clear:both}.contain{max-width:62.5em;margin:0 auto}code[class*="language-"],pre[class*="language-"]{color:black;direction:ltr;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}pre[class*="language-"]::-moz-selection,pre[class*="language-"] ::-moz-selection,code[class*="language-"]::-moz-selection,code[class*="language-"] ::-moz-selection{text-shadow:none;background:#fffedf}pre[class*="language-"]::selection,pre[class*="language-"] ::selection,code[class*="language-"]::selection,code[class*="language-"] ::selection{text-shadow:none;background:#fffedf}@media print{code[class*="language-"],pre[class*="language-"]{text-shadow:none}}pre[class*="language-"]{overflow:auto}.token.comment,.token.prolog,.token.doctype,.token.cdata{color:#93a1a1}.token.punctuation,.token.attr-name{color:#657b83}.namespace{opacity:.7}.token.constant,.token.symbol,.token.deleted{color:#905}.token.number{color:#d33682}.token.boolean{color:#b58900}.token.tag,.token.property{color:#268bd2}.token.selector,.token.char,.token.builtin,.token.inserted{color:#690}.token.string,.token.attr-value{color:#2aa198}.token.entity,.token.url,.language-css .token.string,.style .token.string{color:#a67f59;background:rgba(255,255,255,0.5)}.token.atrule{color:#07a}.token.keyword,.token.operator{color:#859900}.token.function{color:#DD4A68}.token.regex,.token.important,.token.variable{color:#e90}.token.important,.token.bold{font-weight:bold}.token.italic{font-style:italic}.token.entity{cursor:help}html{min-width:50em}header.main{position:relative;z-index:2;top:0;left:0;width:100%;-webkit-transform:translate3d(0, 0, 0)}header.main .header_bg{width:100%;padding:2em 1em 0;background:#ff3333}header.main .heading{float:left;margin-bottom:.5em}header.main h1{float:left;color:white;margin:0;font-family:'Merriweather',Palatino,Georgia,serif;font-weight:400;font-size:1em;text-transform:uppercase}header.main h1 span{display:none;position:relative;margin:0 1em;font-family:'Open Sans','Gill Sans','Gill Sans MT',Verdana,sans-serif;font-weight:300;font-size:.45455em;top:-.35em}header.main .craft_logo{display:none;position:relative;float:left;width:2.75em;top:.25em}header.main .focus_logo{display:none;position:absolute;top:50%;right:1em;width:1.875em;margin-top:-.9375em}@media (min-width: 25.625em){header.main .header_bg{padding:2em 3.75em 0 1em}header.main h1{font-size:1.375em}header.main .focus_logo{display:block}}@media (min-width: 32em){header.main h1 span{display:inline-block}header.main .craft_logo{display:block}}@media (min-width: 72.5em){header.main .header_bg{padding:2em 1em 0}}nav.element_type{clear:both}nav.element_type ul.types{list-style-type:none;margin:0;padding:0}nav.element_type ul.types>li{float:left;margin-right:1.5em}nav.element_type ul.types>li:last-child{margin-right:0}nav.element_type ul.types>li label{position:relative;display:block;color:white;font-family:'Open Sans','Gill Sans','Gill Sans MT',Verdana,sans-serif;font-weight:300;font-size:.875em;text-decoration:none;padding-bottom:2.28571em;overflow:hidden;cursor:pointer;-webkit-transition:color .3s ease;transition:color .3s ease}nav.element_type ul.types>li label:hover{color:rgba(255,255,255,0.8)}nav.element_type ul.types>li label::after{content:"";position:absolute;bottom:0;left:50%;margin-left:-.5em;border:.5em solid transparent;border-top:none;border-bottom-color:rgba(0,0,0,0.1);-webkit-transform:translateY(100%);transform:translateY(100%);-webkit-transition:-webkit-transform .3s ease-in-out;transition:transform .3s ease-in-out}nav.element_type ul.types>li input[type="radio"]{position:absolute;left:-9999em}nav.element_type ul.types>li a{-webkit-transition:color .3s ease;transition:color .3s ease}nav.element_type ul.types>li a:hover{color:rgba(255,255,255,0.8)}nav.element_type ul.types>li .element_type_tab{position:absolute;z-index:-1;bottom:0;left:0;width:100%;padding:0 1em;background:#ff3333;-webkit-transition:-webkit-transform .3s ease-in-out;transition:transform .3s ease-in-out}nav.element_type ul.types>li .element_type_tab::before{content:"";position:absolute;z-index:-1;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.1)}nav.element_type ul.types>li input[type="radio"]:checked ~ label:after{-webkit-transform:translateY(0);transform:translateY(0)}nav.element_type ul.types>li input[type="radio"]:checked ~ .element_type_tab{-webkit-transform:translateY(100%);transform:translateY(100%)}nav.element_type ul.types>li ul{list-style-type:none;margin:0;padding:1em 0}nav.element_type ul.types>li ul li{display:inline-block;font-size:.875em;margin-right:1em}nav.element_type ul.types>li ul li a{float:left;text-decoration:none;color:white;font-family:'Open Sans','Gill Sans','Gill Sans MT',Verdana,sans-serif;font-weight:300;padding:.5em 0;border-radius:3em;-webkit-transition:padding .3s ease,background .3s ease,color .3s ease;transition:padding .3s ease,background .3s ease,color .3s ease}nav.element_type ul.types>li ul li a.activeContext{background:rgba(0,0,0,0.1);padding:.5em 1em}nav.element_type ul.types>li ul li.custom_input{display:block;margin-right:0}nav.element_type ul.types>li ul li.custom_input .input_contain{position:relative;margin-bottom:1em}nav.element_type ul.types>li ul li.custom_input .input_contain input[type="text"]{border:none;background:white;outline:none;display:block;font-family:'Open Sans','Gill Sans','Gill Sans MT',Verdana,sans-serif;font-size:1em;padding:.75em 3.75em .75em .75em;font-weight:300;width:100%;min-width:17em;margin:0;border-radius:.4em;-webkit-box-shadow:0 .14286em .35714em 0 rgba(0,0,0,0.06);-moz-box-shadow:0 .14286em .35714em 0 rgba(0,0,0,0.06);box-shadow:0 .14286em .35714em 0 rgba(0,0,0,0.06)}nav.element_type ul.types>li ul li.custom_input .input_contain input[type="submit"]{position:absolute;top:0;right:0;cursor:pointer;color:white;background:#ff3333;font-family:'Open Sans','Gill Sans','Gill Sans MT',Verdana,sans-serif;font-size:1em;font-weight:400;padding:.75em 1.5em;border:none;outline:none;margin:0;border-radius:0 .4em .4em 0}nav.element_type ul.types>li ul li.custom_element{position:relative}nav.element_type ul.types>li ul li.custom_element .remove_custom{position:absolute;opacity:0;top:45%;right:1em;font-weight:400;color:white;-webkit-transform:translateY(-50%);transform:translateY(-50%);-webkit-transition:opacity .3s ease;transition:opacity .3s ease}nav.element_type ul.types>li ul li.custom_element a:hover{background:rgba(0,0,0,0.1);padding:.5em 2.25em .5em 1em}nav.element_type ul.types>li ul li.custom_element a:hover .remove_custom{opacity:1}@media (min-width: 37.5em){nav.element_type ul.types>li ul li.custom_input{float:left;margin-right:1.5em}nav.element_type ul.types>li ul li.custom_input .input_contain{margin-bottom:0}nav.element_type ul.types>li ul li.custom_element{margin-top:.25em;margin-bottom:.4em}}@media (min-width: 50em){nav.element_type{clear:none;float:right;}nav.element_type ul.types{float:right}nav.element_type ul.types>li label{padding-bottom:2.5em}nav.element_type ul.types>li .element_type_tab{overflow:hidden;padding:0 3.75em 0 1em}nav.element_type ul.types>li ul{float:right}nav.element_type ul.types>li ul li{margin-right:0;margin-left:2em}nav.element_type ul.types>li ul li.custom_input{float:right;margin-right:0}nav.element_type ul.types>li ul li.custom_element{float:right}}@media (min-width: 72.5em){nav.element_type ul.types>li .element_type_tab{padding:0 1em}}.content{padding:0 1em}.content .contain{position:relative}.content .contain::before{content:"";position:absolute;top:0;left:0;width:15.9375em;max-width:80%;height:100%;border-right:1px solid #dfdfdf}aside{position:absolute;top:0;left:0;width:15.9375em;max-width:80%}aside::before{content:"";position:absolute;z-index:-1;top:0;left:0;width:15.9375em;height:100%;border-right:1px solid #dfdfdf}aside .fields_contain{padding:7em 20% 6em 0;width:100%}aside h2{font-family:'Merriweather',Palatino,Georgia,serif;font-size:1.375em;font-weight:400;color:#d5d4d4;margin-top:0}aside input[type="text"]{width:100%;border:1px solid #dfdfdf;padding:1em;margin-bottom:1em;background:white;outline:none;font-family:'Open Sans','Gill Sans','Gill Sans MT',Verdana,sans-serif;font-size:.75em;font-weight:300;border-radius:.4em}aside ul{list-style-type:none;margin-bottom:0;padding:0;font-family:'Open Sans','Gill Sans','Gill Sans MT',Verdana,sans-serif}aside ul.hidden{display:none}aside ul li{color:#4a4a4a;font-weight:400;margin-bottom:.5em}aside ul li.hidden{display:none}aside ul li input[type="checkbox"]{position:absolute;left:-9999em}aside ul li label{cursor:pointer;position:relative;display:block;font-weight:700;font-size:.875em}aside ul li label::after{content:"+";position:absolute;top:0;right:.5em}aside ul li a{color:#4a4a4a;font-size:.875em;text-decoration:none}aside ul li ul{margin-top:.5em;padding-left:1.5em;max-height:0;-webkit-transition:max-height .3s ease;transition:max-height .3s ease;overflow:hidden}aside ul li input[type="checkbox"]:checked ~ ul{max-height:30em}aside ul li input[type="checkbox"]:checked ~ label::after{content:"-"}.main_body{padding:7em 0 3em 15.9375em}.main_body p.notice{font-size:.875em;border:1px solid #db5858;border-radius:.25em;background:#ffb2b2;padding:1em}.field_block,#no_results{padding-left:11.00671%;margin-bottom:4.5em;-webkit-transition:opacity .3s ease;transition:opacity .3s ease}.field_block.hidden,#no_results.hidden{display:none}.field_block header,#no_results header{overflow:hidden;margin-bottom:2em;padding-bottom:1em;border-bottom:1px solid #dfdfdf}.field_block header h1,#no_results header h1{font-size:2em;font-family:'Merriweather',Palatino,Georgia,serif;font-weight:400;color:#4a4a4a;margin:0}.field_block header h1 span,#no_results header h1 span{display:block;font-family:'Open Sans','Gill Sans','Gill Sans MT',Verdana,sans-serif;font-size:.375em;font-weight:700;text-transform:uppercase;color:#b5b5b5;letter-spacing:1}.field_block header h1 span span,#no_results header h1 span span{display:inline;font-size:1em;color:#000}.field_block header .field_settings,#no_results header .field_settings{list-style-type:none;margin:1em 0 0;padding:0}.field_block header .field_settings li,#no_results header .field_settings li{display:block;margin-bottom:.5em}.field_block header .field_settings li:last-child,#no_results header .field_settings li:last-child{margin-bottom:0}.field_block header .field_settings li a,#no_results header .field_settings li a{text-decoration:none;color:#fe4444;font-size:.8125em;font-family:'Open Sans','Gill Sans','Gill Sans MT',Verdana,sans-serif;-webkit-transition:color .3s ease;transition:color .3s ease}.field_block header .field_settings li a:hover,#no_results header .field_settings li a:hover{color:#db0101}.field_block .code_block,#no_results .code_block{margin-bottom:2.5em}.field_block h3,#no_results h3{color:#4a4a4a;text-transform:uppercase;font-size:.75em;font-family:'Open Sans','Gill Sans','Gill Sans MT',Verdana,sans-serif;margin-bottom:1em;font-weight:700}.field_block .description,#no_results .description{position:relative;border:1px solid #dfdfdf;border-radius:.25em .25em 0 0;background:white;padding:1em;margin-bottom:-.25em}.field_block .description p,#no_results .description p{margin:0;font-size:.875em;line-height:1.5em;font-family:'Open Sans','Gill Sans','Gill Sans MT',Verdana,sans-serif;color:#4a4a4a}.field_block .extra,#no_results .extra{border:1px solid #d8d891;border-radius:.25em;background:#fdfddb;padding:1em}.field_block .extra a,.field_block .extra a:visited,#no_results .extra a,#no_results .extra a:visited{color:#fe4444}.field_block .extra>p,#no_results .extra>p{margin-top:0}.field_block .extra p,#no_results .extra p{font-size:.875em}.field_block .extra p:last-of-type,#no_results .extra p:last-of-type{margin-bottom:0}.field_block header+.extra,#no_results header+.extra{margin-bottom:2.5em}.field_block .code,#no_results .code{position:relative}.field_block .code .copy,#no_results .code .copy{position:absolute;top:50%;left:-2.25em;cursor:pointer;width:1.5em;opacity:.7;-webkit-transform:translateY(-50%);transform:translateY(-50%);-webkit-transition:opacity .3s ease;transition:opacity .3s ease}.field_block .code .copy .copy_label,#no_results .code .copy .copy_label{position:absolute;top:0;left:50%;background:#fffedf;border:1px solid #edeccb;color:#858585;font-family:'Open Sans','Gill Sans','Gill Sans MT',Verdana,sans-serif;font-size:.5em;text-transform:uppercase;padding:.25em .5em;border-radius:.4em;white-space:nowrap;opacity:0;-webkit-box-shadow:0 .5em .5em 0 rgba(0,0,0,0.06);-moz-box-shadow:0 .5em .5em 0 rgba(0,0,0,0.06);box-shadow:0 .5em .5em 0 rgba(0,0,0,0.06);-webkit-transform:translate(-50%, -2.5em);transform:translate(-50%, -2.5em);-webkit-transition:opacity .3s ease,-webkit-transform .3s ease;transition:opacity .3s ease,transform .3s ease}.field_block .code .copy:hover,#no_results .code .copy:hover{opacity:1}.field_block .code .copy:hover .copy_label,#no_results .code .copy:hover .copy_label{opacity:1;-webkit-transform:translate(-50%, -3.25em);transform:translate(-50%, -3.25em)}.field_block .code .copy svg,#no_results .code .copy svg{-webkit-transform:translate3d(0, 0, 0);-webkit-backface-visibility:hidden;-webkit-perspective:1000}.field_block .code pre,#no_results .code pre{border:1px solid #dfdfdf;border-radius:.25em;background:#f6f6f6;padding:1em;margin:0}.field_block code,#no_results code{padding:0;margin:0;font-family:'Inconsolata','Courier New',Courier,'Lucida Sans Typewriter','Lucida Typewriter',monospace;line-height:1.5em}.field_block pre>code,#no_results pre>code{display:block;white-space:pre}@media (min-width: 43.75em){.field_block header .field_settings li,#no_results header .field_settings li{float:left;margin-right:1.5em}.field_block header .field_settings li:last-child,#no_results header .field_settings li:last-child{margin-right:0}}@media (min-width: 53em){.field_block header,#no_results header{position:relative}.field_block header .field_settings,#no_results header .field_settings{position:absolute;bottom:1em;right:0}.field_block header .field_settings li,#no_results header .field_settings li{margin-bottom:0}}.table_contain{overflow:hidden;border-radius:.25em;border:1px solid #dfdfdf}table{width:100%;border-collapse:collapse;border-spacing:0;margin:0;font-family:'Open Sans','Gill Sans','Gill Sans MT',Verdana,sans-serif}table tr{border-bottom:1px solid #dfdfdf}table tr:last-child{border-bottom:none}table tr th{text-align:left;background:#f6f6f6}table tr th,table tr td{padding:1em;font-size:.875em;border:none;border-right:1px solid #dfdfdf}table tr th:last-child,table tr td:last-child{border-right:none}table tr:nth-child(even){background:#f6f6f6}table tr pre{margin:0}footer{position:fixed;bottom:0;left:0;width:100%;padding:0 1em}footer .contain{position:relative}footer .footer_content{position:absolute;left:0;bottom:0;width:15.9375em;max-width:80%;padding:1.5em 1em 1.5em 0;background:white;border-top:1px solid #dfdfdf}footer .footer_content::before{content:"";position:absolute;z-index:-1;top:0;left:0;width:15.9375em;height:100%;border-right:1px solid #dfdfdf}footer .footer_content p{color:#b5b5b5;text-transform:uppercase;font-size:.625em;line-height:1.5em;font-family:'Open Sans','Gill Sans','Gill Sans MT',Verdana,sans-serif;margin:0}footer .footer_content p a{color:#fe4444;text-decoration:none;-webkit-transition:color .3s ease;transition:color .3s ease}footer .footer_content p a:hover{color:#db0101}#no_results p{text-align:center;background:url({{ cs.remoteAssetRoot }}wishful_thinking.jpg) bottom center no-repeat;padding:0 50px 360px}#no_results p a{text-decoration:none;color:#fe4444}@-webkit-keyframes lookAtMeInputFade{0%{background-color:#fff}50%{background-color:#fffedf}100%{background-color:#fff}}@-moz-keyframes lookAtMeInputFade{0%{background-color:#fff}50%{background-color:#fffedf}100%{background-color:#fff}}@keyframes lookAtMeInputFade{0%{background-color:#fff}50%{background-color:#fffedf}100%{background-color:#fff}}.lookAtMeInput{-webkit-animation:lookAtMeInputFade .75s ease-in-out;-moz-animation:lookAtMeInputFade .75s ease-in-out;animation:lookAtMeInputFade .75s ease-in-out}@-webkit-keyframes lookAtMeCodeFade{0%{background-color:#f6f6f6}50%{background-color:#dbffdc}100%{background-color:#f6f6f6}}@-moz-keyframes lookAtMeCodeFade{0%{background-color:#f6f6f6}50%{background-color:#dbffdc}100%{background-color:#f6f6f6}}@keyframes lookAtMeCodeFade{0%{background-color:#f6f6f6}50%{background-color:#dbffdc}100%{background-color:#f6f6f6}}.lookAtMeCode{-webkit-animation:lookAtMeCodeFade 1s ease-in-out;-moz-animation:lookAtMeCodeFade 1s ease-in-out;animation:lookAtMeCodeFade 1s ease-in-out}

    </style>

</head>
<body>

<header class="main">
    <div class="header_bg">
        <div class="contain">
            <div class="heading">
                <h1>{{ cs.pageTitle }}<span>for</span></h1>
                <div class="craft_logo">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310 163" enable-background="new 0 0 310 163"><g fill="#fff"><path d="M282.9 69.3h24.3l2.8-14.9h-24.3l4.1-21.8h-.1l-18.4 14.5-1.4 7.3h-19.1l5.6-29.3c1.3-11.1 18.2-7.7 20.7-7.1l2.7-14.1c-30.3-11.7-39.1 21.2-39.1 21.2l-5.6 29.3h-.1l-19 14.9h16.2L214.4 163h15.8L248 69.3h19.1l-7 36.7c-4.4 26.7 22.3 23.8 30.8 22.1l2.7-14c-20.4 4.6-17.7-8.1-17.7-8.1l7-36.7zM193.2 87.4s-22.6-11.6-38.4 1.3c0 0-9.3 6.2-9.3 18.5 0 12.4 11.3 19 11.3 19s17 9 30.4-5.4l-1.5 6.7h14.9L210 83c7-43.9-45.2-28.3-45.2-28.3L162 70.6C200.5 53.8 194 83 194 83l-.8 4.4zm-3.6 20.4c-16.4 16.9-26.9 5.8-26.9 5.8-7.1-6.9.7-14 .7-14 10.9-9.9 27.5 1 27.5 1l-1.3 7.2zM151.5 54.5c-12.2.1-23.2 6.9-23.2 6.9l1.4-6.7h-14.6l-13.3 73h14.9l9-48.1c6.7-13.6 23.2-9.4 23.2-9.4l2.6-15.7zM94.6 23.2c.8.6 1.5 1.2 2.2 1.8l11.3-8.9.4-.5c-1.7-1.8-3.6-3.4-5.6-4.9C76.8-9 37.6-.7 15.1 29c-22.4 29.8-19.6 69.8 6.4 89.4 21.2 16 51.3 13.5 73.8-4.2l-10.8-8.5c-16.7 10.7-37.4 11.5-52.4.2-20-15.1-22.2-45.8-4.9-68.7 17.2-22.8 47.4-29.1 67.4-14z"></path></g></svg>
                </div>
            </div>
            <nav class="element_type">
                <ul class="types">
                    <li>
                        <input type="radio" name="type_tab" id="common" checked="checked">
                        <label for="common">Common Elements</label>
                        <div class="element_type_tab">
                            <div class="contain">
                                <ul>
                                    {% for key, context in cs.tagContexts %}
                                        <li><a class="context{% if key == cs.currentContext %} activeContext{% endif %}" href="{{ craft.request.url }}?context={{ key }}" data-tag="{{ context.tag }}">{{ context.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <input type="radio" name="type_tab" id="custom">
                        <label for="custom">Custom Elements</label>
                        <div class="element_type_tab">
                            <div class="contain">
                                <ul id="custom_element_list">
                                    <li class="custom_input">
                                        <div class="input_contain">
                                            <form id="newCustomElement">
                                                <input type="text" placeholder="Enter Custom Element">
                                                <input type="submit" value="+">
                                            </form>
                                        </div>
                                    </li>
                                    {# javascript inserts custom contextx here #}
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="clear"></div>
        </div>
    </div>

    <div class="focus_logo">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300" enable-background="new 0 0 300 300"><path fill="#fff" d="M150 0C67.2 0 0 67.2 0 150c0 52.5 27 98.7 67.9 125.5 0 0 0-150.8 0-160.3 0-45.4 45.4-42.4 45.4-42.4h118.8V139h-93.9v160.6c3.9.3 7.8.5 11.7.5 82.8 0 150-67.2 150-150S232.8 0 150 0zm15 228.6v-60.8h65.6c0 .1 3 60.8-65.6 60.8z"></path></svg>
    </div>
</header>

<section class="content">
    <div class="contain">

        <aside>
            <div class="aside_contain">
                <div class="fields_contain">
                    <h2>Fields</h2>
                    <ul id="groups_list">
                        {% for group in cs.groups %}
                            <li class="nav_group" data-group-id="{{ group.id }}" data-group="{{ group.name }}" data-group-handle="{{ group.name|lower|replace(' ', '') }}">
                                <input type="checkbox" id="group-{{ group.id }}" checked>
                                <label for="group-{{ group.id }}">{{ group.name }}</label>
                                <ul class="group_list">
                                    {% for field in craft.fields.getFieldsByGroupId(group.id) %}
                                        <li class="field" data-group-id="{{ field.groupId }}" data-group="{{ field.group }}" data-group-handle="{{ field.group|lower|replace(' ', '') }}" data-field-id="{{ field.id }}" data-field-name="{{ field.name }}" data-field-handle="{{ field.handle }}" data-field-type="{{ field.type|lower }}"><a href="#{{ field.handle }}">{{ field.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </aside>

        <section class="main_body">

            {% for field in cs.fields %}

                <div class="field_block"
                     data-group-id="{{ field.groupId }}"
                     data-group="{{ field.group }}"
                     data-group-handle="{{ field.group|lower|replace(' ', '') }}"
                     data-field-id="{{ field.id }}"
                     data-field-name="{{ field.name }}"
                     data-field-handle="{{ field.handle|lower }}"
                     data-field-type="{{ field.type|lower }}">

                    <header>
                        <h1 id="{{ field.handle }}">
                            {{ field.name }}
                            <span class="field_type">{{ field.type|replace('_', ' ')|replace('/(.)([A-Z])/', '$1 $2')|title }}</span>
                        </h1>

                        <ul class="field_settings">
                            {% if field.type in cs.nativeFieldTypes %}
                                <li><a href="http://buildwithcraft.com/docs/{{ field.type|replace('/(.)([A-Z])/', '$1-$2')|lower }}-fields">Tag Documentation</a></li>
                            {% endif %}
                            <li><a href="{{ cpUrl('/settings/fields/edit/' ~ field.id) }}">View In Control Panel</a></li>
                        </ul>
                    </header>

                    {# ---------------------------------------------

                    Dynamically check for a macro to build code snippets
                    for this field type. If it doesn't exist, we have
                    a fallback message to show.

                    --------------------------------------------- #}

                    {{ attribute(csMacro, 'cs_' ~ field.type) is defined
                    ? attribute(csMacro, 'cs_' ~ field.type, [
                    {
                        'sampleTag' : sampleTag ~ '.' ~ field.handle,
                        'field'     : field,
                        'whitespace': whitespace
                    }])
                    : '<p class="notice">There are no code samples available for this field type yet.</p>'
                    }}

                </div>

            {% endfor %}

            <div id="no_results" class="{% if cs.fields %}hidden{% endif %}">
                <header>
                    <h1>Wishful Thinking?
							<span>Nice try searching for <span id="search_replacement">that</span>.
                    </h1>
                    <ul class="field_settings">
                        <li><a href="https://www.youtube.com/watch?v=_j1-xQA_ufE">Online Ninja School</a></li>
                        <li><a href="https://www.google.com/search?q=adorable+cat+videos#q=adorable+cat+videos&tbm=vid">Adorable Cat Videos</a></li>
                    </ul>
                </header>
                <p>No fields were found. Perhaps try <a href="{{ cpUrl('settings/fields/new') }}">adding some fields</a> in the control panel, changing your search, or wishing a little harder.</p>
            </div>

        </section>
    </div>
</section>

<footer>
    <div class="contain">
        <div class="footer_content">
            <p>{{ cs.pageTitle }} {{ cs.version }}<br>Provided by your friends at <a href="http://www.focuslabllc.com">Focus Lab</a></p>
        </div>
    </div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{{ cs.remoteAssetRoot }}prism.min.js"></script>
<script type="text/javascript">

    GameGenie={currentContext:'{{ sampleTag }}',newContext:null,whichFilter:'',codeBlockCount:$('.field_block').length,fieldNavCount:$('li.field').length,storagePrefix:'Cheat-Sheet.'+window.location.hostname+'.',customElements:[],pageSetup:function(){document.addEventListener('keyup',GameGenie.jumpToFilter,false);$('<input type="text" value="" id="field_filter" placeholder="Find a field...">').hide().css('opacity',0).insertBefore('#groups_list').slideDown(100,function(){$(this).animate({'opacity':1},300).focus();}).on('blur',function(){$(this).removeClass('lookAtMeInput');});var storage=localStorage.getItem(GameGenie.storagePrefix+'customElements');if(storage){GameGenie.customElements=ggCE=JSON.parse(storage);}
        if(storage&&ggCE.length>0){for(var i=ggCE.length-1;i>=0;i--){GameGenie.addCustomElement(ggCE[i]);}}},jumpToFilter:function(e){if($(document.activeElement).is('input[type=text]'))return;if(e.keyCode===70||e.keyCode===83||e.keyCode===191){$('#field_filter').focus().addClass('lookAtMeInput');}else if(e.keyCode===67){$('label[for=custom]').trigger('click');$('#newCustomElement input[type=text]').focus();}},checkForNoCode:function(){if($('.field_block').filter(':visible').length===0){$('#no_results').removeClass('hidden');}else{$('#no_results').addClass('hidden');}},checkForNoNav:function(){$('.group_list').each(function(){var visibleCount=$(this).find('li').filter(':visible').length;groupInput=$(this).parents('.nav_group').find('input');if(visibleCount===0||visibleCount===undefined){groupInput.prop('checked',false);}else{groupInput.prop('checked',true);}});},addCustomElement:function(elementName){$('#custom_element_list').append('<li class="custom_element"><a href="#" class="context" data-element-name="'+elementName+'" data-tag="'+elementName+'">'+elementName+'<span class="remove_custom">&times;</span></a></li>');this.addElementToStorage(elementName);},removeCustomElement:function(obj){var parent=obj.parents('.custom_element');parent.animate({width:0},'fast',function(){$(this).remove();});this.removeElementFromStorage(parent.find('a').attr('data-element-name'));},setLocalStorage:function(key,value){key=this.storagePrefix+key;value=(typeof value==='object')?JSON.stringify(value):value;localStorage.setItem(key,value);},addElementToStorage:function(elementName){var index=GameGenie.customElements.indexOf(elementName);if(index>-1){return;}
        GameGenie.customElements.push(elementName);GameGenie.setLocalStorage('customElements',GameGenie.customElements);},removeElementFromStorage:function(elementName){var index=GameGenie.customElements.indexOf(elementName);if(index>-1){GameGenie.customElements.splice(index,1);GameGenie.setLocalStorage('customElements',GameGenie.customElements);}},supaFilter:function(filterType,find){if(find!==''){$('#search_replacement').text(find);}else{$('#search_replacement').text('that');}
        switch(filterType){case'field':this.whichFilter='field-handle';break;case'group':this.whichFilter='group';break;case'type':this.whichFilter='field-type';break;default:this.whichFilter='field-name';}
        $('.field_block').not('#no_results').each(function(){var name=$(this).attr('data-'+GameGenie.whichFilter).toLowerCase();if(name.indexOf(find)===-1){$(this).fadeOut('fast',GameGenie.checkForNoCode);}else if($(this).is('visible')===false){$(this).fadeIn('fast',GameGenie.checkForNoCode);}});$('#groups_list li.field').each(function(){var name=$(this).attr('data-'+GameGenie.whichFilter).toLowerCase();if(name.indexOf(find)===-1){$(this).hide('fast',GameGenie.checkForNoNav);}else if($(this).is('visible')===false){$(this).show('fast',GameGenie.checkForNoNav);}});},};$(function(){var type,find,search;window.setTimeout(GameGenie.pageSetup,500);$('body').on('keyup','#field_filter',function(e){var search;if(e.keyCode===27){$('#field_filter').prop('value','');return GameGenie.supaFilter('field','');}else{search=$(this).prop('value').toLowerCase().replace(/\s/g,'').split(':');}
        if(search.length===1){type='field';find=search[0];}else{type=search[0];find=search[1];}
        GameGenie.supaFilter(type,find);});$('ul.types input[type=radio]').click(function(){if($(this).attr('checked')=='checked'){return;}else{$(this).parents('.types').find('input[checked="checked"]').attr('checked',null);$(this).attr('checked','checked');}});$('#newCustomElement').submit(function(e){e.preventDefault();var inputField=$(this).find('input[type=text]');var elementName=inputField.val().replace(/\s/g,'');GameGenie.addCustomElement(elementName);inputField.val('');});$('body').on('click','.remove_custom',function(e){e.preventDefault();GameGenie.removeCustomElement($(this));});$('body').on('click','a.context',function(e){e.preventDefault();var gg=GameGenie;var currentElem=$('a.activeContext');if(!$(this).attr('data-tag')){return false;}
        gg.newContext=$(this).attr('data-tag');if(gg.newContext===gg.currentContext){return;}
{%verbatim-%}
	$('section.main_body').html($('section.main_body').html().replace(new RegExp('([{%].*?)('+gg.currentContext+')(.*?[%}])','g'),'$1'+gg.newContext+'$3'));{%endverbatim-%}
	$('a.context[data-tag="'+gg.currentContext+'"]').removeClass('activeContext');$('a.context[data-tag="'+gg.newContext+'"]').addClass('activeContext');gg.currentContext=gg.newContext;});});(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create','UA-3994429-34','auto');ga('set','dimension1','{{ cs.version }}');ga('set','dimension2','{{ cs.groups|length }}');ga('set','dimension3','{{ cs.fields|length }}');ga('set','dimension4','{{ craft.app.version }}');ga('set','dimention5','{{ craft.app.build }}');ga('send','pageview');

</script>

{# ---------------------------------------------

The Craft Field Cheat Sheet

Copyright (c) 2015 Focus Lab, LLC

Permission is hereby granted, free of charge, to any person
obtaining a copy of this software and associated documentation
files (the "Software"), to deal in the Software without
restriction, including without limitation the rights to use,
copy, modify, merge, publish, distribute, sublicense, and/or
sell copies of the Software, and to permit persons to whom the
Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be
included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
OTHER DEALINGS IN THE SOFTWARE.

--------------------------------------------- #}

<!-- ---------------------------------------------

{{ cs.pageTitle }} {{ cs.version }}
Provided by your friends at Focus Lab
http://twitter.com/focuslabllc
http://github.com/focuslabllc
http://focuslabllc.com

      .MMMZ..   .                                  M.
       M???????IMMMD                                MMD  ~.
       $+???????????????DMMM=.                       MMM. MM.
       .M????????????????????????NMMM$..             DMMMD.MM.
        +Z??????????????????????????????+DMMMD..     ++IIZOM?M.
         M???????????????????????????????????????$MMMM?$MMMM?M7
          M?????????????????M??MO????????????????????II?MM??MMM.
          .M???????????????Z+??.M?????????????????????IIII?ZMMMMO
            M+?????????????OM??MM?????????????????????IIIII?MMMMMM.
             MM?????????????MI?MM?????????????????????IIIIIIMMMMMMM
              .M$???????????????I??????????????????????IIII?M.
                .NMMM8+++?INMMM=???????????????????????IIII?M.
               $M????????????????8M????????????????????IIII?$~.
             .MI???????I????????????+??????????????????IIIIMMM
            =N?????????+?+M????????????????????????????IIIII?M..
           .M???????????MO?????????????????????????????IIIIII?M.
           M???????????????????????????????????????????IIIIIIMMM
          .M???????????????????????????????????????????IIIIIIMMMM
          M+???????????????????????????????????????????IIIIIIIMMZM.
          M?????????????????????????????????????????I??IIIIIIIIIZOM.
          M??????????????????????????????????????????IIIIIIII?M+N??M
          M+??????????????????????????????????????????IIIIIII8MMMMM?M.
         8MM??????????????????????????????????????????IIIIIIIIIMMMIMMM.
        $NMM??????????????????????????????????????????IIIIIIIII$IIIZM+M.
       .M?IM??????????????????????????????????????????IIIIIIIIMMMIIII?$M
      .MNMIMM????????????????????????????????????????IIIIIIIZ?IM+IIIIMMIM
     .M8?IINM????????????????????????????????????????IIIIIIIMMMIIIIIIIID?M
    .MMMMMIIMM??????????????????????????????????????IIIIIIIIIIOMM+?IIMMMM8M
   .M7MMMMI?NM?????????????????????????????????????IIIIIIIII$MMMM.MO?NMMM?7O
   MMM?I??DM..M????????????????????????????????????IIIIIIIIMMMMMM. .NM??II?M.
   M?II?MM.   MMMMMI??????????????????????????????IIIIIIIII8MMMMMMM   :M+???=
   MIMM.   .MM+??????????????????????????????????IIIIIIIIIIIMMMMMMMM    .MMM.
          .M????????????????????????????????????IIIIIIIIIIIIIMMMMMM?M.
         .MM7??????????????????????????????????IIIIIIIIIIIIIIIIIIII?M.
        MN????????????????????????????????????IIIIIIIIIIIII7O7?MMMI?MM.
       MM????????????????????????????????????IIIIIIIIIIIIIMMMM8IZIII??OMZ.
      .M?????????????????????????????????????IIIIIIIIIIIIOMMMMMI?I?III?+MM.
      .MM+????????????+MNMMMD7..... . ...MMMM+????IIIIIINM$MMNIIIMMIIINMMMM
         :MMMMMMMMM=..                        .:MMM8??????IIIIDMMOIII8MMMMM.
                                                  .  .ZMMMD??IMMMM=??MMMMMM.
                                                               ..+++..
https://www.youtube.com/watch?v=ZvkXrjXfFXQ

--------------------------------------------- -->

</body>
</html>