{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% import "_macros/_macros.twig" as macros %}

{% extends "_layouts/_siteWrapper.twig" %}

{#{% requireLogin %}#}

{% set currentYear = "now" | date('Y') %}
{% set currentSemesterNum = ( "now" | date('n') < 7 ) ? 1 : 2 %}
{% set currentSemester = currentYear ~ '-' ~ currentSemesterNum %}

{% set bodyClasses = "home" %}

{% block content %}

{#    {% set blocks = entry.homepageMatrix.all() %}#}

    {% for block in entry.homepageMatrix.all() %}

        {% include '_home/_' ~ block.type %}

    {% endfor %}

{% endblock %}
