{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% import "_macros/_macros.twig" as macros %}

{% extends "_layouts/_siteWrapper.twig" %}

{#{% requireLogin %}#}

{% set bodyClasses = "home" %}

{% block content %}

    {% for block in homepageMatrix %}

            {% if block.type == "featureSlideshow" %}

                {% include '_home/_featureslideshow' %}

            {% elseif block.type == "events" %}

                {% include '_home/_events' %}

            {% elseif block.type == "news" %}

                {% set feature = block.featurePost %}
                {% include '_home/_news' %}

            {% elseif block.type == "info" %}

                {% set group = block.infoGroup %}
                {% include '_home/_info' %}

            {% elseif block.type == "studentsSlideshow" %}

                {% include '_home/_students' %}

            {% elseif block.type == "alumniSlideshow" %}

                {% set alumni = block.alumni %}

                {% include '_home/_alumni' %}

            {% elseif block.type == "divider" %}

                {% include '_home/_divider' %}

            {% elseif block.type == "head" %}

                {% set head = block.head %}
                {% include '_home/_head' %}

            {% endif %}

    {% endfor %}


{% endblock %}
