.m-alumniList {
  list-style: none;
  margin-top: 20px;
  margin-left: 0;
  @include breakpoint(480) {
    column-count: 2;
  }
  @include breakpoint(medium) {
    column-count: 3;
  }
  @include breakpoint(large) {
    column-count: 4;
  }
}
.m-alumniList__letter {
  font-size: 13px;
  font-weight: 700;
  float: left;
  //padding-top: 10px;
  + .m-alumniList__student {
    //margin-top: 10px;
  }
}
.m-alumniList__student {
  padding-left: 17px;
  font-size: 13px;
}