.m-alert {
  width: 100%;
  color: $white;
  background-color: $alert-color;
  &.medium {
    background-color: $warning-color;
    color: $dark-gray;
  }
  &.low {
    background-color: $success-color;
  }
}
.m-alert__icon {
  width: 80px;
  float: left;
}
.m-alert__message {
  margin-left: 80px;
  padding: 5px;
}
