.m-block {
  margin: 0 10px;
  strong, b {
    font-weight: 700;
  }
  figure {
    img {
      width: 100%;
    }
  }
  @include breakpoint(large) {
    margin-left: grid-column(2 of 9);
    padding: 0 40px;
  }
}
.m-block--largeImage {
  margin: 0;
  padding-left: 0;
  @include breakpoint(large) {
    padding-right: 50px;
    width: 100%;
  }
  figcaption {
    padding-left: 10px;
    @include breakpoint(large) {
      padding-left: 0;
      margin-left: calc(#{grid-column(2 of 9)} + 49px);
    }
  }
}