.m-eventsListCurrent {
  @include clearfix();
  background-color: #141418;
  padding: 10px;
  @include breakpoint(large) {
    padding: 30px;
  }
  h1 {
    margin: 5px 0 20px;
    color: $white;
    font-size: 23px;
    line-height: 1.2em;
    font-weight: 400;
    @include breakpoint(large) {
      //font-size: 28px;
      //line-height: 31px;
    }
  }
}
.m-eventsListCurrent__header {
  @include breakpoint(large) {
    float: left;
    width: 25%;
  }
}
.m-eventsListCurrent__content {
  @include breakpoint(large) {
    float: right;
    width: 75%;
    padding-right: 20px;
  }
  > .row {
    background-color: transparent;
  }
}
.m-eventsListCurrent__wrapper {
  margin: 0 20px 0 0;
}
.m-eventsListPast {
  @include clearfix();
  padding: 10px 0 10px 10px;
  @include breakpoint(medium) {
    padding: 40px 20px 40px 40px;
  }
  h2 {
    font-size: 23px;
    line-height: 1.2em;
    font-weight: 400;
    margin-bottom: 20px;
    @include breakpoint(medium) {
      //font-size: 28px;
      //line-height: 31px;
    }
  }
}
.m-eventsList {
  ul {
    list-style: none;
    margin: 0;
  }
}
.m-eventsList__event {
  position: relative;
  margin-bottom: 15px;
  padding-right: 10px;
  a {
    height: 100%;
  }

  @include breakpoint(medium) {
    margin-bottom: 30px;
    padding-right: 20px;
  }
  @include breakpoint(large) {
  }
}
.m-eventsList__event__image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  img {
    width: 100%;
  }
}
.m-eventsList__event__text {
  @include breakpoint(medium) {
    width: calc(100% - 4px);
    margin-right: 4px;
  }
  h3 {
    margin: 0;
    font-family: $serif-font;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #000;
    text-transform: uppercase;
  }
  //p {
  //  margin-bottom: 5px;
  //  font-size: 15px;
  //  line-height: 17px;
  //}
}
.m-eventsList__event__type {
  line-height: 12px;
  margin: 15px 0 10px;
  span {
    display: inline;
    font-family: $sans-serif-font;
    font-size: 11px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding: 2px 3px 1px;
    background-color: $hunter-purple-bright;
    box-decoration-break: clone;
  }
}
.m-eventsList__event__date {
  text-transform: uppercase;
  font-size: 11px;
  margin-top: 6px;
}
