.m-event__info {
  font-family: "Lora", Georgia, Times, serif;
  font-weight: 700;
  figure {
    margin-top: 0;
    img {
      object-fit: contain;
      object-position: left;
      height: 100%;
      width: 100%;
      max-height: 300px;
      @include breakpoint(large) {
        max-height: 350px;
      }
    }
  }
  h1 {
    margin: 6px 0 18px;
    font-family: $serif-font;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    @include breakpoint(medium) {
      font-size: 24px;
      line-height: 27px;
    }
  }
}
.m-event__ical {
  margin-top: 10px;
  font-size: 12px;
}
.m-event__main {
  padding: 0 20px 10px;
  @include breakpoint(large) {
    padding: 0;
  }
  figure {
    margin-top: 0;
  }
}
p.m-event__type {
  display: inline-block;
  font-family: $sans-serif-font;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 0;
  padding: 2px 3px 1px;
  background-color: $hunter-purple-bright;
}
p.m-event__date {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 15px;
  @include breakpoint(medium) {
    font-size: 15px;
    line-height: 17px;
  }
}
.m-event__time,
.m-event__location {
  font-family: $sans-serif-font;
  font-size: 9px;
  line-height: 12px;
  text-transform: uppercase;
  margin-bottom: 0;
  @include breakpoint(medium) {
    font-size: 10px;
    line-height: 13px;
  }
}