.list-item-large {
  position: relative;
  margin-bottom: 30px;

  a {
    position: relative;
    display: block;
    width: 100%;
    height: 400px;
  }
  .background-image {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .caption {
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: $white;

    padding: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 70%;

    h3 {
      font-family: $custom-font-1;
      font-weight: normal;
      font-size: 27px;
      line-height: 26px;
      text-transform: uppercase;
      margin-bottom: 22px;
    }
    h4 {
      font-size: 30px;
      line-height: 28px;
    }
    p {
      display: none;
      background: transparent;
      padding: 0;
      margin: 0;
      font-size: 20px;
      line-height: 22px;
      text-transform: uppercase;
    }
    &.custom-html {
      p {
        background-color: transparent;
      }
      .panel {
        background-color: rgba(0, 0, 0, 0.7);
      }
    }
  }

}

.announcements-list {
  .list-item-large {
    .caption {
      background-color: transparent;
      padding: 10px;
      h3 {
        text-transform: uppercase;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
        font-size: 45px;
        line-height: 40px;
        margin-bottom: 30px;
        font-family: $serif-font;
        font-weight: normal;
      }
      h4 {
        font-size: 30px;
        line-height: 25px;
        font-family: $serif-font;
        font-weight: normal;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
      }
    }
    p {
      font-size: 16px;
      line-height: 23px;
      text-transform: none;
      background-color: rgba(0, 0, 0, 0.7);
      padding: 30px;
    }
  }
}

@include breakpoint(medium) {
  .list-item-large {
    .caption h3 {
      font-size: 40px;
      line-height: 36px;
    }
    .caption p {
      display: block;
    }
    a {
      height: 450px;
    }
  }
}
