.m-facultySidebar {
  h4 {
    font-size: 11px;
    font-weight: 300;
    margin-bottom: 25px;
  }
  ul {
    list-style: none;
    margin: 0;
  }
  li {
    font-size: 12px;
    font-weight: 700;
    a {

    }
  }
}