.m-facultyList {
  @include clearfix();
}
.m-facultyList__item {
  padding: 0 20px 0 0;
  margin-bottom: 15px;
  position: relative;
  width: 33%;
  float: left;
  @include breakpoint(small only) {
    &:nth-of-type(3n+1) {
      clear: left;
    }
  }
  @include breakpoint(medium only) {
    width: 25%;
    &:nth-of-type(4n+1) {
      clear: left;
    }
  }
  @include breakpoint(large) {
    width: 20%;
    &:nth-of-type(5n+1) {
      clear: left;
    }
  }
}
.m-facultyList__image {
  width: 100%;
  padding-top: 133%; // 3:4 ratio
  overflow: hidden;
  position: relative;
  img {
    position: absolute;
    left: 0;
    top: 0;
    max-width: none;
    &.vertical-crop {
      width: 100%;
      height: auto;
    }
    &.horizontal-crop {
      width: auto;
      height: 100%;
    }
  }
}

.m-facultyList__text {
  padding: 10px 0 0 0;
  h3 {
    font-family: $body-font-family;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 5px;
    &.small-head {
      font-size: 9px;
      line-height: 10px;
    }
  }
  p {
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 0;
  }
}
