.m-facultyPortrait {
  width: 200px;
  padding: 0 10px;
  + .columns {
    float: none;
  }
  @include breakpoint(medium) {
    float: left;
    width: grid-column(3 of 10);
    padding-left: 20px;
  }
}
.m-facultyPortrait__liner {
  margin-bottom: 20px;
  img {
    width: 100%;
    margin-bottom: 10px;
  }
  p {
    font-size: 10px;
    margin-bottom: 1px;
  }
  @include breakpoint(medium) {
    margin-left: 33.333%;
  }
}