footer {
  position: relative;
  //bottom: 0;
  //.home & {
  //  position: relative;
  //}
  //width: 100%;
  //.sticky-footer & {
  //  position: absolute;
  //  bottom: 0;
  //  left: 0;
  //  right: 0;
  //}

  padding: 30px 20px 50px;
  color: $medium-light-gray;
  background-color: $dark-gray;
  > * {
    height: 100%;
  }
  .m-footer__socialRoster {
    ul {
      margin: 0;
      li {
        display: inline-block;
        margin: 0 2px;
        a {
          color: $white;
          display: block;
          height: 35px;
          width: 35px;
          border: 2px solid;
          border-radius: 35px;
          text-align: center;
          transition: color .5s;
          img {
            padding-top: 4px;
            width: 55%;
          }
        }
      }
    }

  }
  .m-footer__contact {
    margin-top: 30px;
    p {
      font-size: 13px;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 3px;
    }
    .m-footer__logo {
      margin-top: 40px;
      img {
        width: 150px;
      }
    }
  }

}
@include breakpoint(medium) {
  footer {
    @include clearfix();

    .m-footer__socialRoster {
      float: left;
      width: 50%;
    }
    .m-footer__contact {
      text-align: right;
      float: right;
      width: 50%;
      margin-top: 0;
    }

  }

}