.m-homeSocial {
  padding: 10px 10px 0;
  @include breakpoint(large) {
    padding: 20px 20px 0;
  }
  h3 {
    //color: #fff;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 10px;
    display: inline-block;
  }
}
.m-homeSocial__hashtags {
  display: none;
  list-style: none;
  margin: 0 0 0 15px;
  padding: 0;
  @include breakpoint(large) {
    display: inline-block;
  }
  li {
    display: inline-block;
    padding: 0 20px;
  }
}
