.m-homeFeature {
  position: relative;
  max-height: 100%;
  height: 60vh;
  @include breakpoint(medium) {
    height: 520px;
  }
}
.m-homeFeature__container {
  visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  max-height: 100%;
  @include breakpoint(medium) {
    position: relative;
  }
}
.m-homeFeature__backgroundGradient {
  position: absolute;
  z-index: 5;
  bottom: 0;
  height: 225px;
  width: 100%;
  background: linear-gradient(
          to top,
          rgba(0,0,0,0.6) 0%,
          rgba(0,0,0,0.3) 40%,
          rgba(0,0,0,0) 100%
  );
}
.m-homeFeature__slideshow {
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  position: relative;

  .preload-img {
    display: none;
  }
  .slick-list {
    height: 100%;
    width: 100%;
    position: relative;
  }
  .slick-track {
    height: 100%;
  }
  .arrow-box {
    background: transparent;
    top: 45%;
    @include breakpoint(medium) {
      top: 50%;
    }
  }
  .slick-arrow {
    display: block;
    svg {
      stroke: #fff;
    }
  }
  .slick-slide {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .announcement-mfa-205 {
    .m-homeFeature__caption {
      h3 {
        font-size: 65px;
        line-height: 70px;
        @include breakpoint(medium) {
          font-size: 160px;
          line-height: 150px;
        }
      }
    }
  }
  .top-home-svg {
    width: 100%;
    margin: 0 auto;
    img {
      -webkit-filter: drop-shadow( 3px 3px 5px rgba(0,0,0,0.5) );
      filter: drop-shadow( 3px 3px 5px rgba(0,0,0,0.5) ); /* Same syntax as box-shadow */
    }
  }
  @include breakpoint(medium) {
    .slick-slide {
      .caption {
        p {
          display: block;
        }
      }
      .top-home-svg {
        width: 65%;
      }
    }
  }
}
.m-homeFeature__credit {
  z-index: 6;
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline;
  max-width: 80%;
  //width: 50%;
  //padding: 2px 3px 1px;
  //background-color: rgba(0, 0, 0, 0.7);
  //box-decoration-break: clone;
  @include breakpoint(medium) {
    top: initial;
    bottom: 21px;
    right: 20px;
    //width: 20%;
  }

  p {
    color: #fff;
    font-size: 12px;
    line-height: 1.2em;
    text-align: right;
    margin: 0;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
  }
}
.m-homeFeature__caption {
  left: 10px;
  bottom: 10px;
  z-index: 10;
  position: absolute;
  color: $white;
  @include breakpoint(medium) {
    left: 30px;
    bottom: 20px;
  }
  a {
    color: $white;
  }
  h3 {
    font-family: $serif-font;
    text-transform: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
    font-weight: 300;
    font-size: 30px;
    line-height: 29px;
    margin-bottom: 0;
    @include breakpoint(medium) {
      font-size: 65px;
      line-height: 1em;
      //margin-bottom: 30px;
    }
  }
  &.altStyle {
    bottom: 40px;
    @include breakpoint(large) {
      left: 50px;
    }
    h3 {
      color: $green-yellow;
      font-family: $body-font-family;
      font-weight: 700;
      text-shadow: none;
    }
    .m-homeFeature__description {
      margin-top: 5px;
      p {
        font-size: 13px;
        font-weight: bold;
        background-color: transparent;
        box-decoration-break: none;
        @include breakpoint(medium) {
          font-size: 18px;
        }
      }
    }
  }
  // removed
  //h4 {
  //  font-family: $serif-font;
  //  text-transform: none;
  //  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
  //  font-weight: 300;
  //  font-size: 40px;
  //  line-height: 38px;
  //  @include breakpoint(medium) {
  //    font-size: 75px;
  //    line-height: 1em;
  //  }
  //}
  &.m-homeFeature__caption--custom-html {
    p {
      background-color: transparent;
    }
    .panel {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
}
.m-homeFeature__description {
  //display: none;
  width: 95%;
  margin: 10px 0 0;
  @include breakpoint(medium) {
    width: 70%;
    margin: 20px 0 0;
  }
  p {
    display: inline;
    padding: 2px 3px 1px;
    line-height: 1em;
    background-color: rgba(0, 0, 0, 0.7);
    box-decoration-break: clone;
  }
}
