.m-homeSubmissions {
  padding: 20px 20px 0;
}
.m-homeSubmissions__titleBlock {
  display: flex;
  justify-content: space-between;
  h3 {
    font-weight: 400;
    font-size: 23px;
    line-height: 1.2em;
    margin-bottom: 10px;
    display: inline-block;
  }
  @include breakpoint(medium) {

  }
  @include breakpoint(large) {

  }
}
.o-submissions__list__submission {
  @include breakpoint(medium only) {
    &:nth-of-type(2n) {
      //padding-right: 0;
    }
  }
  @include breakpoint(large) {
    &:nth-of-type(4n) {
      //padding-right: 0;
    }
  }
}
.m-homeSubmissions__archive {
  margin-top: 15px;
  @include breakpoint(medium) {

  }
}

