.m-homeInfo {
  @include breakpoint(medium) {
    height: 290px;
    display: flex;
  }
}
.m-homeInfo__panel {
  color: #fff;
  padding: 15px;
  min-height: 160px;
  @include breakpoint(medium) {
    flex: 1 1 auto;
    width: 33.33%;
  }
  h3 {
    margin-top: 0;
  }
}
.m-homeInfo__body {
  a {
    color: #fff;
  }
}
.m-homeInfo__panel--purple {
  @include breakpoint(medium) {
    width: 20%;
  }
  background-color: $hunter-purple-bright;
}
.m-homeInfo__panel--green {
  @include breakpoint(medium) {
    width: 40%;
  }
  background-color: $green-yellow;
}
.m-homeInfo__panel--blue {
  @include breakpoint(medium) {
    width: 40%;
  }
  background-color: $robins-egg-blue;
}



