.m-homeNews {
  @include breakpoint(large) {
    height: 535px;
    display: flex;
  }
  //padding: 15px 60px 15px 15px;
  .background-image {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
.m-homeNews__featureImage {
  width: 100%;
  height: 100%;
  position: relative;
}
.m-homeNews__featureLabel {
  position: absolute;
  top: 10px;
  left: 8px;
  color: #fff;
  background-color: $hunter-purple-bright;
  padding: 4px 10px;
  display: inline-block;
  z-index: 1;
  margin-top: 0;
  font-weight: 900;
  font-size: 16px;
  @include breakpoint(large) {
    font-size: 18px;
    top: 20px;
    left: 18px;
  }
  .m-homeNews--alt2 & {
    background-color: transparent;
    padding: 0;
    a {
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
  }
}

.m-homeNews__imageBlock {
  height: 250px;
  margin: 0 10px;
  @include breakpoint(large) {
    flex: 1 1 auto;
    width: 58%;
    height: 100%;
    margin: 0 0 0 20px;
  }
}
.m-homeNews__textBlock {
  padding: 10px 5px 0 10px;
  position: relative;
  @include breakpoint(large) {
    flex: 1 1 auto;
    width: 42%;
    padding: 0 15px 0 20px;
  }
}
.m-homeNews__textBlock--alt2 {
  padding: 10px 5px 0 10px;
  position: relative;
  .m-homeNews__postDescription {
    display: none;
    @include breakpoint(medium) {
      display: block;
    }
  }
  @include breakpoint(large) {
    width: 42%;
    padding: 0 20px;
  }
}
.m-homeNews__featureText {
  margin-bottom: 40px;
  @include breakpoint(medium) {
    flex: 1 1 auto;
    margin-bottom: 0;
  }
}
.m-homeNews__featureText--alt2 {
  position: absolute;
  left: 10px;
  bottom: 10px;
  padding-right: 20px;
  @include breakpoint(large) {
    left: 20px;
    bottom: 20px;
  }
}
.m-homeNews__featureType {
  font-family: $sans-serif-font;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  color: $hunter-purple-bright;
  @include breakpoint(large) {
    font-size: 12px;
  }
}
.m-homeNews__featureText--alt2 {
  .m-homeNews__featureType {
    display: inline-block;
    background-color: #000;
    padding: 5px 8px;
    color: $green-yellow;
  }
  .m-homeNews__featureTitle {
    color: #000;
    font-size: 22px;
    line-height: 1.5em;
    font-style: normal;
    text-transform: uppercase;
    margin: 3px 0 0;
    @include breakpoint(large) {
      font-size: 32px;
      line-height: 1.5em;
    }
    a {
      display: inline;
      background-color: $green-yellow;
      box-decoration-break: clone;
      padding: 0 5px;
    }
  }
}
.m-homeNews__featureTitle {
  font-family: $serif-font;
  font-size: 27px;
  line-height: 29px;
  font-weight: 700;
  font-style: italic;
  text-transform: none;
  margin: 20px 0 25px;
  @include breakpoint(medium) {
    font-size: 37px;
    line-height: 39px;
    margin: 20px 0 23px;
  }
}
.m-homeNews__featureDescription,
.m-homeNews__postDescription {
  p {
    font-family: $serif-font;
    line-height: 1.4em;
    font-size: 14px;
    color: #000;
  }
  @include breakpoint(medium) {
    font-size: 15px;
  }
}
.m-homeNews--alt2 {
  .m-homeNews__featureDescription {
    padding: 10px;
    @include breakpoint(medium) {
      display: none;
    }
  }
}
.m-homeNews__featureDate {
  text-transform: uppercase;
  font-size: 11px;
}
.m-homeNews__posts {
  //display: flex;
  @include clearfix();
  @include breakpoint(large) {
    position: absolute;
    bottom: 18px;
  }
  .m-homeNews__textBlock--alt2 & {
    position: relative;
    bottom: initial;
  }
}
.m-homeNews__post {
  float: left;
  //flex: 1 1 auto;
  width: 50%;
  padding-right: 10px;
  @include breakpoint(large) {
    padding-right: 20px;
  }
  &:nth-of-type(2) {
    padding-right: 0;
  }
}
.m-homeNews__postImage {
  width: 100%;
  position: relative;
  height: 170px;
  @include breakpoint(medium) {
    //height: 50%;
    //padding-top: 0;
  }
}
.m-homeNews__postType {
  font-family: $sans-serif-font;
  font-size: 12px;
  text-transform: uppercase;
  color: $hunter-purple-bright;
  font-weight: 700;
  letter-spacing: .05em;
  margin-bottom: 5px;
  .m-homeNews__textBlock--alt2 & {
    color: $medium-gray;
  }
}
.m-homeNews__postTitle {
  font-family: $serif-font;
  text-transform: none;
  font-size: 17px;
  line-height: 1.2;
  margin-bottom: 0;
  .m-homeNews__textBlock--alt2 & {
    margin-bottom: 15px;
  }
  @include breakpoint(medium) {
    font-size: 19px;
  }
}
.m-homeNews__postDate {
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.m-homeNews--grid {
  height: auto;
  padding: 0 15px 0 20px;
  .m-homeNews__posts {
    position: relative;
    bottom: auto;
  }
  .m-homeNews__post {
    width: 50%;
    padding: 25px 10px;
    @include breakpoint(medium) {
      width: 33.33%;
    }
  }
  .m-homeNews__postTitle {
    @include breakpoint(medium) {
      font-size: 22px;
    }
  }
  .m-homeNews__postImage {
    position: relative;
    padding-top: 75%;
    margin-bottom: 10px;
  }
  .m-homeNews__postType {
    color: $medium-gray;
  }
}

