.m-homeEvents {
  background-color: #141418;
  padding-top: 30px;
  @include clearfix;
}
.m-homeEvents__titleBlock,
.m-homeEvents__messageBlock {
  padding: 0 20px;
  h3 {
    margin: 0 0 30px;
    font-weight: 400;
    font-size: 23px;
    line-height: 1.2em;
    display: inline-block;
    color: $white;
  }
  @include breakpoint(large) {
    padding: 0 20px;
    width: 25%;
    height: 100%;
    float: left;
  }
}
.m-homeEvents__messageBlock {
  padding: 20px 40px 20px 20px;
  color: $medium-light-gray;
  @include breakpoint(medium) {
    max-width: 75%;
    padding-top: 0;
  }
  p {
    font-size: 14px;
  }
  a {
    color: $medium-light-gray;
    text-decoration: underline;
    &:hover {
      color: $medium-light-gray;
    }
  }
  @include breakpoint(large) {
    max-width: none;
  }
}
.m-homeEvents__contentBlock {
  padding-left: 20px;
  .row {
    background: none;
  }
  @include breakpoint(large) {
    padding-left: 0;
    width: 75%;
    float: right;
  }
}
.m-homeEvents__container {
  margin-bottom: 30px;
}
.m-homeEvents__link {
  text-decoration: none;
  color: #fff;
  &:hover {
    color: inherit;
  }
}
.m-homeEvents__image {
  float: left;
  width: 39.5%;
  position: relative;
  img {
    width: 100%;
  }
}
.m-homeEvents__text {
  float: right;
  width: 60.5%;
  padding: 10px 20px 0 20px;
  font-family: $serif-font;
  color: #fff;
  font-weight: 700;
  p {
    margin: 0;
  }
}
.m-homeEvents__type {
  line-height: 12px;
  span {
    display: inline;
    font-family: $sans-serif-font;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #000;
    padding: 0 3px;
    background-color: $hunter-purple-bright;
    box-decoration-break: clone;
  }
}
.m-homeEvents__title {
  margin: 6px 0 18px;
  font-family: $serif-font;
  font-size: 18px;
  line-height: 21px;
  @include breakpoint(medium) {
    font-size: 24px;
    line-height: 27px;
  }
}
p.m-homeEvents__date {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 15px;
  @include breakpoint(medium) {
    font-size: 15px;
    line-height: 17px;
  }
}
.m-homeEvents__time,
.m-homeEvents__location {
  font-family: $sans-serif-font;
  font-size: 9px;
  line-height: 12px;
  text-transform: uppercase;
  @include breakpoint(medium) {
    font-size: 10px;
    line-height: 13px;
  }
}
p.m-homeEvents__cal {
  margin-top: 25px;
  font-size: 14px;
  a {
    color: #fff;
  }
}


