.m-homeAlumni {
  .slide-inner-wrapper {
    position: relative;
    width: 100%;
    padding-top: 56%;
  }
}
.m-homeAlumni__slideCaption {
  position: absolute;
  right: 22px;
  bottom: 8px;
  color: #fff;
  text-transform: uppercase;
}