// link underline within posts
.post-page {
  .m-block {
    a {
      text-decoration: underline;
      text-decoration-color: $anchor-color-underline;
    }
  }
}

.m-matrixPosts {
  margin: 30px 0;
}
.m-matrixPosts__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.m-matrixPosts__post {
  a {
    text-decoration: none;
    display: table;
    position: relative;
    &:hover {
      color: inherit;
      h4 {
        color: $anchor-color-hover;
      }
    }
  }
  padding: 0 20px 0 0;
  margin-bottom: 20px;
  &:last-of-type {
    border-bottom: 0;
    padding-bottom: 0;
  }
  .a-byLine {
    font-size: 10px;
    margin: 14px 0;
  }
  @include breakpoint(medium) {
    float: left;
    width: 33.33%;
  }
}
.m-matrixPosts__image {
  float: left;
  width: 100px;
  height: 125px;
  position: relative;
  margin-right: 10px;
  .background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    left: 0;
    position: absolute;
    top: 0;
  }
}
.m-matrixPosts__type {
  font-family: $sans-serif-font;
  font-size: 8px;
  font-weight: 700;
  text-transform: uppercase;
  color: $hunter-purple-bright;
  padding-bottom: 15px;
}
.m-matrixPosts__text {
  display: table-cell;
  vertical-align: bottom;
}
.m-matrixPosts__title {
  font-weight: 700;
  font-family: $serif-font;
  text-transform: none;
  font-size: 15px;
  line-height: 16px;
  margin-bottom: 7px;
}
