.m-newsList {

}
.m-newsList__post {
  position: relative;
  margin-bottom: 30px;
  @include breakpoint(medium) {
    padding-right: 25px;
  }
}
.m-newsList__post__type {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: .05em;
  margin-bottom: 5px;
  color: $hunter-purple-bright;
}
.m-newsList__post__imageWrapper {
  margin: 0 0 20px;
  position: relative;
  width: 100%;
  padding-top: 66.67%;
}
.m-newsList__post__image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  @include breakpoint(medium) {
    //border-right: 4px solid white;
  }
}
.m-newsList__post__title {
  margin: 0 0 5px;
  font-family: $serif-font;
  font-weight: 700;
  text-transform: none;
  font-size: 16px;
  line-height: 19px;
  color: #000;
}
.m-newsList__post__date {
  font-size: 9px;
  font-weight: 500;
  text-transform: uppercase;
}

