//.m-pageMatrix__slideshow {
//  width: 100%;
//  height: 100%;
//  max-height: 100%;
//  overflow: hidden;
//  position: relative;
//
//  .preload-img {
//    display: none;
//  }
//  .slick-list {
//    height: 100%;
//    width: 100%;
//    position: relative;
//  }
//  .slick-track {
//    height: 100%;
//  }
//  .arrow-box {
//    background: transparent;
//    top: 45%;
//    @include breakpoint(medium) {
//      top: 50%;
//    }
//  }
//  .slick-arrow {
//    display: block;
//    svg {
//      stroke: #fff;
//    }
//  }
//  .slick-slide {
//    position: relative;
//    width: 100%;
//    height: 100%;
//  }
//  //.top-home-svg {
//  //  width: 100%;
//  //  margin: 0 auto;
//  //  img {
//  //    -webkit-filter: drop-shadow( 3px 3px 5px rgba(0,0,0,0.5) );
//  //    filter: drop-shadow( 3px 3px 5px rgba(0,0,0,0.5) ); /* Same syntax as box-shadow */
//  //  }
//  //}
//  @include breakpoint(medium) {
//    .slick-slide {
//      .caption {
//        p {
//          display: block;
//        }
//      }
//      //.top-home-svg {
//      //  width: 65%;
//      //}
//    }
//  }
//}

//.slick-arrow {
//  display: none;
//  cursor: pointer;
//  height: 100%;
//  overflow: hidden;
//  position: absolute;
//  top: 0;
//  width: 40px;
//  z-index: 101;
//  opacity: 1;
//  filter: alpha(opacity=100);
//  transition: opacity 0.5s ease-out;
//  img {
//    position: absolute;
//    width: 100%;
//    height: 100%;
//    padding: 15px;
//  }
//  @include breakpoint(medium) {
//    display: block;
//  }
//}
//.slick-next {
//  right: 0;
//}
//.slick-slider .slick-list {
//  height: 100%;
//  .slick-track {
//    height:100%;
//  }
//}
//.slick-slide {
//  position: relative;
//  img {
//    width: 100%;
//  }
//}
//.arrow-box {
//  background-color: rgba(255,255,255,0.8);
//  height: 25px;
//  width: 100%;
//  @extend .vcenter;
//  @include breakpoint(medium) {
//    height: 35px;
//  }
//}
