._m-studentList {
  @include clearfix();
}
.m-studentList__student {
  padding: 0 10px 0 0;
  margin-bottom: 5px;
  position: relative;
  float: left;
  width: 33%;
  @include breakpoint(medium) {
    width: 25%;
  }
  @include breakpoint(large) {
    width: 16.666%;
  }
}
.m-studentList__background {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.m-studentList__studentLiner {
  position: relative;
  width: 100%;
  padding-top: 110%;
  background-color: $black;

}

.m-studentList__text {
  padding: 5px 0 0;
  height: 50px;
  h3 {
    //font-weight: normal;
    font-size: 12px;
    line-height: 13px;
    text-transform: uppercase;
    margin: 0;
    &.small-head {
      font-size: 9px;
      line-height: 10px;
    }
  }
  .m-studentList__studioNumber {
    font-size: 11px;
    margin-bottom: 0;
  }
}
