
/*****************

Nav

*****************/
.m-siteHeader .top-row nav {
  vertical-align: top;
  text-align: center;
}
.m-siteNavigation {
  display: none;
  position: fixed;
  top: $site-header-total;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  color: #000;
  padding: 20px 10px;
  nav {
    ul {
      list-style: none;
      margin: 0;
      a {
        padding: 5px 0;
        display: block;
      }
      ul {
        margin-bottom: 20px;
        li {
          border-bottom: 0;
        }
      }
    }
    ul > {
      li {
        &:nth-of-type(5n),
        &:nth-of-type(7n) {
          //margin-bottom: 25px;
        }
        border-bottom: 1px solid #aaa;
        padding: 5px 0;
      }
    }
  }
}
// add gap above drop down
.dropdown.menu.large-horizontal > li.opens-right > .is-dropdown-submenu {
  margin-top: 6px;
}
// add arrow for parents
.dropdown.menu > li.is-dropdown-submenu-parent:after {

  content: "";
  background: transparent url('/assets/img/down-arrow-light.svg') center center no-repeat;
  display: block;
  width: 100%;
  height: 6px;
  position: absolute;
  bottom: 5px;

}
.s-menu-open {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  transform: translate3D(0, 0, 0);
  .m-siteNavigation {
    display: block;
  }
}
@include breakpoint(large) {
  .m-siteNavigation {
    flex-grow: 1;
    display: flex;
    align-items: center; // cross axis, center align
    justify-content: center; // main axis

    position: relative;
    top: 0;
    background: none;
    padding: 0;
    font-weight: 500;
    nav {
      ul {
        margin: 0;
        padding: 0;
        line-height: 10px;
        li {
          font-size: 12px;
          display: inline-block;
          text-transform: uppercase;
          padding: 0;
          border-bottom: 0;
          a {
            padding: 20px 3px 16px;
            width: 100%;
            display: block;
            color: $medium-light-gray;
            //line-height: $site-header-height;
            &:hover {
              color: $hunter-purple-bright;
            }
          }
        }
        ul {
          display: none;
          padding: 3px 3px 6px;
          background: #efefef;
          li {
            text-transform: none;
            a {
              padding: 12px 6px;
              color: #666;
              &:hover {
                //color: $hunter-purple-bright;
              }
            }
          }
        }
      }
      > ul {
        display: block;
      }
    }
  }
}
@include breakpoint(1200) {
  .m-siteNavigation {
    nav {
      > ul.dropdown.menu {
        li {
          &:nth-of-type(5n),
          &:nth-of-type(7n) {
            //margin-left: 20px;
          }
          a {
            padding-left: 6px;
            padding-right: 7px;
          }
        }
        // add rule to right of top menu items
        > li {
          > a {
            position: relative;
            &:after {
              content: "";
              display: block;
              position: absolute;
              top: 20px;
              right: -1px;
              margin-top: 0;
              background: $medium-gray;
              width: 1px;
              height: 10px;
            }
          }
          // remove rule on select items
          //&:nth-child(4),
          //&:nth-child(6),
          &:nth-child(9),
          &:last-child {
            > a {
              position: relative;
              &:after {
                content: none;
              }
            }
          }
        }
      }
    }
  }
}
