.m-submissionsListCurrent {
  @include clearfix();
  background-color: #000;
  padding: 10px;
  @include breakpoint(large) {
    padding: 30px;
  }
  .m-homesubmissions__container {
    margin-bottom: 30px;
  }
  h1 {
    margin: 5px 0 0;
    color: $green-yellow;
    font-family: $sans-serif-font;
    font-size: 20px;
    line-height: 22px;
    font-weight: 900;
    @include breakpoint(large) {
      font-size: 28px;
      line-height: 31px;
    }
  }
}
.m-submissionsListCurrent__header {
  @include breakpoint(medium) {
    float: left;
    width: 20%;
  }
}
.m-submissionsListCurrent__content {
  @include breakpoint(medium) {
    float: right;
    width: 80%;
    padding-right: 20px;
  }
  > .row {
    background-color: transparent;
  }
}
.m-submissionsListCurrent__wrapper {
  margin: 0 20px 0 0;
}
.m-submissionsListPast {
  @include clearfix();
  padding: 10px 0 10px 10px;
  @include breakpoint(medium) {
    padding: 40px 20px 40px 40px;
  }
  h2 {
    font-family: $sans-serif-font;
    font-size: 20px;
    line-height: 22px;
    font-weight: 900;
    margin-bottom: 20px;
    @include breakpoint(medium) {
      font-size: 28px;
      line-height: 31px;
    }
  }
}
.m-submissionsList {
  ul {
    list-style: none;
    margin: 0;
  }
}
.m-submissionsList__submission {
  position: relative;
  margin-bottom: 15px;
  padding-right: 10px;
  a {
    height: 100%;
  }

  @include breakpoint(medium) {
    margin-bottom: 30px;
    padding-right: 20px;
  }
  @include breakpoint(large) {
  }
}
.m-submissionsList__submission__image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  img {
    width: 100%;
  }
}
.m-submissionsList__submission__text {
  @include breakpoint(medium) {
    width: calc(100% - 4px);
    margin-right: 4px;
  }
  h3 {
    margin: 0;
    font-family: $serif-font;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #000;
    text-transform: uppercase;
  }
}
.m-submissionsList__submission__type {
  line-height: 12px;
  margin: 15px 0 10px;
  span {
    display: inline;
    font-family: $sans-serif-font;
    font-size: 11px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding: 2px 3px 1px;
    background-color: $hunter-purple-bright;
    box-decoration-break: clone;
  }
}
.m-submissionsList__submission__date {
  text-transform: uppercase;
  font-size: 11px;
  margin-top: 6px;
}
