.m-studentImages {
  .m-studentImages__slide {
    margin-bottom: 20px;
    .m-studentImages__caption {
      margin-top: 8px;
      p {
        font-size: rem-calc(14);
        line-height: rem-calc(16);
      }
    }
  }
  @include breakpoint(medium) {
    float: left;
    width: grid-column(7 of 10);
    padding-left: 20px;
    .m-studentImages__slide {
      margin-bottom: 30px;
    }
  }
}