.m-studentInfo {

  h1 {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    text-transform: none;
    margin-bottom: 10px;
  }
  p {
    margin: 0;
  }
  .m-studentInfo__details {
    margin-top: 30px;
  }
  .m-studentInfo__statement {
    margin-top: 30px;
    font-size: rem-calc(14);
    line-height: rem-calc(16);
  }
  img {
    width: 100%;
  }
  @include breakpoint(medium) {
    float: left;
    width: grid-column(3 of 10);
    padding-right: 20px;
    img {
      max-height: 280px;
      width: auto;
      margin-bottom: 30px;
    }
  }
}