.m-siteHeader {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  max-width: $global-width;
  //margin-bottom: map-get($grid-column-gutter, medium);
  color: $white;
  //background-color: rgba(0,0,0,0.7);
  background-color: $site-header-background;
  height: $site-header-total;
  //mix-blend-mode: multiply;

  div.icons {
    //height: 44px;
    .m-nav__mobile-button {
      @include breakpoint(large) {
        display: none;
      }
    }
  }
  .s-menu-open & {
    background-color: $white;
    .m-logo__name {
      color: #333;
    }
  }
  @include breakpoint(large) {
    .m-siteNavigation {
      padding-left: 0;
    }
  }
}
.m-siteHeader__innerWrapper {
  height: 100%;
  display: flex;
}
.m-logo {
  flex-grow: 1;
  a {
    height: 100%;
    display: flex;
    align-items: center;
  }
  @include breakpoint(large) {
    flex-grow: inherit;
  }
}
.m-logo__mfa {
  color: $hunter-purple-bright;
  font-size: 32px;
  line-height: 30px;
  font-weight: 900;
  margin-left: 10px;
  margin-right: 5px;
  padding-top: 1px;
  letter-spacing: -.02em;
  span.m {
    letter-spacing: 0.01em;
  }
  @include breakpoint(xlarge) {
    margin-left: 18px;
  }
}
.m-logo__name {
  color: $white;
  font-size: 14px;
  font-weight: 700;
  padding-top: 3px;
}
.m-nav__mobile-button {
  position: relative;
  height: $site-header-total;
  width: 44px;
}
.m-socialActions {
  display: none;
  position: relative;
  height: $site-header-total;
  width: 110px;
  padding-right: 14px;
  img {
    height: 100%;
    padding-top: 3px;
  }
  @include breakpoint(large) {
    display: block;
  }
  @include breakpoint(xlarge) {
    ul {
      margin-right: 14px;
    }
  }
}
