.m-filters {
  margin: 0 0 20px;
}
.m-filters__list {
  list-style: none;
  margin: 0;
}
.m-filters__filter {
  display: inline-block;
  padding-right: 5px;
  font-size: 13px;
  &.active {
    a {
      color: $white;
      background-color: $black;
      padding: 2px 5px;
      border-radius: 3px;
      text-decoration: none;
    }
  }
  a {
    text-decoration: underline;
  }
}
.m-filters__toggler {
  cursor: pointer;
  span {
    color: lighten(#000, 55%);
    border: 1px solid;
    padding: 2px 5px;
    border-radius: 2px;
    font-size: 11px;
    text-transform: uppercase;
  }
  margin-bottom: 8px;
  span.m-filters__togglerShow {
    display: inline;
  }
  span.m-filters__togglerHide {
    display: none;
  }
  .s-open & {
    span.m-filters__togglerShow {
      display: none;
    }
    span.m-filters__togglerHide {
      display: inline;
    }
  }
}
.m-filters__wrapper {
  display: none;
  .s-open & {
    display: block;
  }
}
