@media (max-width: 700px) {
  body:not(.home,.has-feature-image).thesis-student-page {
    .off-canvas-content {
      main {
        > .row:first-of-type {
          padding-top: 90px;
        }
      }
    }
  }
}
.a-thesisStudent__thesisShow {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  a {
    color: $hunter-purple-grey;
    &:hover {
      color: $hunter-purple-bright;
    }
  }
}
.m-studentThesis__featureImageWrapper {
  position: fixed;
  top: 0;
  max-width: $global-width;
  .a-featureImage__backgroundGradient {
    display: none;
    top: 0;
    height: 200px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.4) 40%,rgba(0,0,0,0) 100%);
    @include breakpoint(medium) {
      display: block;
    }
  }
}
.m-studentThesis__featureImage {
  padding-top: 65%;
  img {
    width: 100%;
  }
}
.m-studentThesis__featureTitle {
  display: none;
  margin: 0;
  color: $white;
  position: absolute;
  top: $site-header-total + 8;
  right: 20px;
  @include breakpoint(medium) {
    display: block;
  }
}
.m-studentThesis__featureChevron {
  display: none;
  @include breakpoint(large) {
    display: block;
  }
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 70px;
  svg {
    stroke: #fff;
    transform: rotate(-90deg);
    position: relative;
    top: unset;
    left: unset;
  }
}
.a-thesisStudent__header {
  margin-bottom: 15px;
  @include breakpoint(large) {
    margin-bottom: 60px;
    padding-right: 5px;
  }
  h1 {
    font-size: 24px;
    line-height: 1em;
    margin-left: -2px;
    margin-bottom: 20px;
    margin-top: 25px;
  }
  p {
    margin: 0;
    font-size: 13px;
    line-height: 1.6em;
    font-weight: 400;
    &.a-thesisStudent__website {
      margin-top: 25px;
      a {
        font-weight: 700;
        &:hover {
          color: $hunter-purple-bright;
        }
      }
    }
  }
}

.a-thesisRoster {
  #content & {
    padding-left: 0;
    padding-right: 0;
    background-color: #ddd;
  }
  .a-thesisRoster__wrapper {
    padding: 15px;
  }
  .row {
    background: transparent;
  }
}
.a-thesisRoster__title {
  h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: 300;
  }
  @include breakpoint(medium) {
    float: left;
    width: 40%;
  }
}
.a-thesisRoster__parts {
  @include breakpoint(medium) {
    float: left;
    width: 60%;
  }
}
.a-thesisRoster__part,
.a-thesis__studentList {
  float: left;
  width: 50%;
}
.a-thesisRoster__part {
  h4 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
  }
}
.a-thesisRoster__partDates {
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}
.a-thesis__studentList {
  margin-top: 20px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      text-indent: -10px;
      padding: 0 5px 8px 10px;
      line-height: 1.1em;
      a {
        font-weight: 700;
        font-size: 15px;
      }
      @include breakpoint(medium) {
        a {
          font-size: 18px;
        }
      }
    }
  }
}
.m-studentThesisSlideshow {
  position: relative;
  padding: 0 20px 0 0;
  background-color: #fff;
  margin-left: 20px;
  margin-top: 20px;
  @include breakpoint(large) {
    height: 600px;
    margin-left: 20px;
    margin-bottom: 60px;
    .s-thesis-student-page-has-feature-image & {
      margin-top: 60px;
    }
  }
}

.m-studentThesisSlideshow__featureWrapper {
  position: relative;
  &.s-thumbs-on {
    .m-studentThesisSlideshow__thumbs {
      display: block;
    }
  }
}
.m-studentThesisSlideshow__feature {
  width: 100%;
  height: 100%;
  .slick-slider {
    visibility: hidden;
    margin: 0;
    height: 100%!important;
    width: 100%;
    list-style: none;
    &.slick-initialized {
      visibility: visible;
    }
  }
  .slick-track, .slick-list {
    height: 100%;
  }
  .slick-slide {
    width: 100%;
    position: relative;
    div {
      width: 100%;
    }
    img {
      object-fit: contain;
      object-position: top;
      width: 100%;
      height: 100%;
    }
  }
  .m-studentThesisSlideshow__caption {
    display: block;
    @include breakpoint(large) {
      display: none;
    }
  }
}
.m-studentThesisSlideshow__dots {
  text-align: center;
  margin: 5px 0;
  .slick-dots button {
    width: 10px;
    height: 10px;
    background: $light-gray;
    cursor: pointer;
    border: 0;
  }
  @include breakpoint(large) {
    &.m-studentThesisSlideshow__dots--mobile {
      display: none;
    }
    &.m-studentThesisSlideshow__dots--desktop {
      width: inherit;
      margin-top: 8px;
      margin-right: 3px;
    }
  }
}
.m-studentThesisSlideshow__featureNav {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 10px;
  @include breakpoint(large) {
    width: 25%;
    padding: 0;
  }
}
.m-studentThesisSlideshow__featureNavArrows {
  display: none;
  @include breakpoint(large) {
    display: block;
  }
  > div {
    position: relative;
    float: left;
    width: 22px;
    height: 37px;
    margin-right: 8px;
    cursor: pointer;
    &:last-of-type {
      margin-right: 5px;
    }
    button {
      cursor: pointer;
      &:hover {
        svg {
          stroke: $dark-gray;
        }
      }
    }
    svg {
      stroke: $light-gray;
    }
  }
}
.m-studentThesisSlideshow__viewSwitcher {
  display: none;
  div {
    float: left;
    margin-right: 8px;
    &:last-of-type {
      margin-right: 0;
    }
    a {
      font-size: 11px;
      text-transform: uppercase;
      color: $medium-light-gray;
      &:hover {
        color: $medium-gray;
      }
    }
    &:nth-of-type(2) {
      font-size: 13px;
      line-height: 24.5px;
      color: $medium-light-gray;
    }
  }
  .a-thesisStudent__header + & {
    display: block;
    position: absolute;
    bottom: 15px;
    right: 0;
  }
  @include breakpoint(large) {
    margin-bottom: 20px;
    display: block;
    .a-thesisStudent__header + & {
      display: none;
    }
  }
}
.m-studentThesisSlideshow__featureCaptionsRule {
  display: none;
  border-top: 1px solid $medium-light-gray;
  width: 85px;
  @include breakpoint(large) {
    display: block;
  }
}
.m-studentThesisSlideshow__featureCaptions {
  clear: both;
  p {
    font-family: $sans-serif-font;
    font-size: 13px;
    line-height: 1.6em;
    color: $medium-light-gray;
    text-align: center;
    margin-bottom: 0;
    padding-top: 15px;
  }
  @include breakpoint(large) {
    clear: left;
    width: 25%;
    margin-bottom: 20px;
    padding-right: 10px;
    p {
      text-align: left;
    }
  }
}
.m-studentThesisSlideshow__vidOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 10;
}

.m-studentThesisSlideshow__vidWrapper {
  width: 100%;
  padding-top: 56.25%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.m-studentThesisSlideshow__thumbs {
  display: none;
  background: #fff;
  z-index: 1001;
  position: fixed;
  padding-top: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  @include breakpoint(large) {
    padding-top: 0;
    position: absolute;
    overflow-y: unset;
  }
  ul {
    margin: 0;
    list-style: none;
  }
  li {
    margin-bottom: 0;
    cursor: pointer;
    text-align: center;
    &:focus {
      outline: none;
    }
    img {
      width: 100%;
      padding: 0 15px 30px;
    }
  }
  .m-studentThesisSlideshow__videoThumb {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.8;
      background: url(/assets/img/playhead.png) no-repeat 50% 40%;
      background-size: 15%;
      z-index: 1;
    }
  }
}
