.m-thesisList {
  padding-top: 30px;
  .paddingWrapper {
    padding-right: 0;
  }
  h1 {
    margin: 5px 0 30px;
    font-family: $sans-serif-font;
    font-size: 20px;
    line-height: 22px;
    font-weight: 900;
    @include breakpoint(large) {
      font-size: 28px;
      line-height: 31px;
    }
  }
  h3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-top: 10px;
    @include breakpoint(large) {
      font-size: 19px;
      line-height: 26px;
    }
  }
}
.m-thesisList__exhibit {
  margin-bottom: 20px;
  padding-right: 10px;
  @include breakpoint(large) {
    margin-bottom: 30px;
    padding-right: 20px;
  }
  img {
    width: 100%;
  }
}