.m-videoWrapper {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
  iframe {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
  }
}