{#
 # Events Sidebar template
 # ---------------
 #
 #}

{% import "_macros/_macros.twig" as macros %}

{% switch eventType %}

    {% case 'past' %}
        {% set date = '< ' ~ "now" | date('c') %}
        {% set order = 'date desc' %}
    {#{% case 'upcoming' %}#}
    {% default %}
        {% set date = '>= ' ~ "now" | date('c') %}
        {% set order = 'date asc' %}

{% endswitch %}

{% set count = (count) ? count : 'null' %}

{% set params = {
    section : 'events',
    id: 'not ' ~ entry.id,
    orderBy: order,
    limit: count,
    date : date,
    with : ['eventFeatureImage','eventCategory']
} %}

{% set events = craft.entries(params).all() %}

{% set allEventsPageURL = craft.entries.section('eventsList').one().url %}

{% if block.head %}
    <h3 class="a-sidebarName">{{ block.head }} </h3>
{% endif %}

<div class="a-sidebarEvents">

    {% if events | length %}

        <ul class="a-sidebarEvents__list">

            {% for event in events %}

                <li class="a-sidebarEvent clearfix">
                    <a href="{{ event.url }}">
                        {% if event.eventFeatureImage | length %}
                        <div class="a-sidebarEvent__image">
                            {{ macros.focusPointBackgroundImage(event.eventFeatureImage[0]) }}
                        </div>
                        {% endif %}
                        <div class="a-sidebarEvent__text">
                            <p class="a-sidebarEvent__type">{{ event.eventCategory[0].title }}</p>
                            <h4 class="a-sidebarEvent__title">{{ event.title }}</h4>
                            <p class="a-sidebarEvent__date">{{ event.date | date('F j')}}, {{ event.startTime | date('gA')}}</p>
                        </div>
                    </a>
                </li>

            {% endfor %}

        </ul>

    {%  else %}

        <p>No events are currently scheduled. Please check back soon.</p>

    {%  endif %}

    <p><a href={{ allEventsPageURL }}>All Events</a></p>

</div>

