{#
 # Faculty Sidebar template
 # ---------------
 #
 #}

{% set count = (count) ? count : 'null' %}

{% set params = {
    section : 'faculty',
    limit: count,
    orderBy: order
} %}

{% if type != 'all' %}
    {% set params = params|merge({'facultyType': craft.categories.group('facultyType').slug( type ).one().id}) %}
{% endif %}

{% set faculty = craft.entries(params).all() %}

<div class="m-facultySidebar" >

    {% if block.head %}
        <h4>{{ block.head }}</h4>
    {% endif %}

    <ul>
        {% for fac in faculty %}

            <li>
                <a href="{{ fac.url }}">{{ fac.firstName }} {{ fac.lastName }}</a>
            </li>

        {% endfor %}
    </ul>

</div>

