{#
 # Posts Sidebar template
 # ---------------
 #
 #}

{% import "_macros/_macros.twig" as macros %}

{% set order = 'postDate desc' %}

{% set count = (count) ? count : 'null' %}

{% set params = {
    section : 'posts',
    id: 'not ' ~ entry.id,
    orderBy: order,
    limit: count,
    with : ['postThumb']
} %}

{% if category %}
    {% set params = params|merge({'relatedTo': category}) %}
{% endif %}

{% set posts = craft.entries(params).all() %}

{% set newsPageURL = craft.entries.section('newsLandingPage').one().url %}

{% if block.head %}
    <h3 class="a-sidebarName">{{ block.head }} </h3>
{% endif %}

<div class="a-sidebarPosts">

    {% if posts | length %}

        <ul class="a-sidebarPosts__list">

            {% for post in posts %}

                <li class="a-sidebarPost clearfix">
                    <a href="{{ post.url }}">
                        {% if post.postThumb %}
                        <div class="a-sidebarPost__image">
                            {{ macros.focusPointBackgroundImage(post.postThumb[0]) }}
                        </div>
                        {% endif %}
                        <div class="a-sidebarPost__text">
                            <div class="a-sidebarPost__type">
                                {% set categories = craft.categories.relatedTo(post) %}
                                {% if categories.one() %}
                                    {% set x = categories.one() %}
                                    {{ x.title }}
                                {% endif %}
                            </div>
                            <h4 class="a-sidebarPost__title">{{ post.title }}</h4>

                            {{ macros.postAuthors(post.authors) }}

                        </div>
                    </a>
                </li>

            {% endfor %}

        </ul>

    {%  else %}

        <p>No posts found.</p>

    {%  endif %}

    <p><a href={{ newsPageURL }}>All News</a></p>

</div>

