{#
 # Students Sidebar template
 # ---------------
 #
 #}

{% set count = (count) ? count : 'null' %}

{% set params = {
    section : 'students',
    limit: count,
    orderBy: order,
    graduationSemester : '>=' ~ currentSemester
} %}

{% set students = craft.entries(params).all() %}

<div class="m-studentRoster">

    {% if block.head %}
        <h4><a href="/students">{{ block.head }}</a></h4>
    {% endif %}

    <ul>
        {% for student in students %}

            <li>
                <a href="{{ student.url }}">{{ student.firstName }} {{ student.lastName }} {{ student.studioNumber > 0 ? student.studioNumber : '---' }}</a>
            </li>

        {% endfor %}
    </ul>

</div>

