{% extends "calendar_demo/layouts/_layout.html" %}

{% set pageTitle = "Calendars" %}
{% set page = "calendars" %}

{% block content %}

	{# Acquire URL segments #}
	{% set seg1 = craft.request.segment(2) %}
	{% set seg2 = craft.request.segment(3) %}
	{% set seg3 = craft.request.segment(4) %}
	{% set seg4 = craft.request.segment(5) %}
	{% set seg5 = craft.request.segment(6) %}
	{% set seg6 = craft.request.segment(7) %}

	<div class="page-header">
		<h1>Calendars</h1>
		<p class="lead">Below is an overview over your site's calendars and events.</p>
	</div>

	<div class="row">
		<div class="col-sm-4 col-md-3">

			<h3>Events by Month</h3>
			<div class="list-group">
				{% set month = craft.calendar.month %}
				{% for date in month.dateRange(6, 6) %}
					<a href="{{ siteUrl }}calendar_demo/month/{{ date.format('Y/m') }}/"
					   class="list-group-item {{ date == month.date ? "list-group-item-warning" }}">
						{{ date.format('M Y') }}
					</a>
				{% endfor %}
			</div>

		</div>

		<div class="col-sm-8 col-md-6">

			<h3>Events by Calendar</h3>
            {% set calendarHandle = seg2 ? seg2 : null %}
            {% set calendars = craft.calendar.calendars({
                handle: calendarHandle,
                orderBy: "name",
                sort: "asc"
            }) %}

            {% for calendar in calendars %}
                <div class="panel" style="border-color: {{ calendar.color }};">
                    <div class="panel-heading" style="background-color: {{ calendar.lighterColor }};">
                        <h3 class="panel-title" style="color: {{ calendar.contrastColor }} !important;">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;
                            <a href="{{ siteUrl }}calendar_demo/calendars/{{ calendar.handle }}">{{ calendar.name }}</a>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <a href="{{ siteUrl }}calendar_demo/export/calendar/{{ calendar.id }}" class="btn btn-default btn-sm pull-right" role="button">
                            <span class="glyphicon glyphicon-export" aria-hidden="true"></span>&nbsp;
                            Export Events
                        </a>
                        <h5>Description:</h5>
                        {{ calendar.description }}
                        <h5>
                            View events for this calendar by: &nbsp;
                            <a href="{{ siteUrl }}calendar_demo/month/calendar/{{ calendar.handle }}" class="label" style="background-color: {{ calendar.color }}; color: {{ calendar.contrastColor }} !important;">Month</a>
                            <a href="{{ siteUrl }}calendar_demo/week/calendar/{{ calendar.handle }}" class="label" style="background-color: {{ calendar.color }}; color: {{ calendar.contrastColor }} !important;">Week</a>
                            <a href="{{ siteUrl }}calendar_demo/day/calendar/{{ calendar.handle }}" class="label" style="background-color: {{ calendar.color }}; color: {{ calendar.contrastColor }} !important;">Day</a>
                        </h5>
                        <h5>Upcoming Events:</h5>
                        <ul>
                            {% set events = craft.calendar.events({
                                dateRangeStart: "today",
                                dateRangeEnd: "6 months",
                                calendarId: calendar.id,
                                limit: seg2 ? 20 : 5
                            }) %}

                            {% include "calendar_demo/layouts/_calendar_events.html" %}
                        </ul>
                    </div>
                </div>
            {% else %}
				<div class="alert alert-danger" role="alert">
					<p class="lead">
                        Sorry, no calendars were found.
					</p>
				</div>
            {% endfor %}

            {% if seg2 %}
                <div class="list-group">
                    <h3 class="list-group-item">Other Calendars</h3>
                    {% set otherCalendars = craft.calendar.calendars({
                        handle: "!= "~seg2,
                        orderBy: "name",
                        sort: "asc"
                    }) %}

                    {% for calendar in otherCalendars %}
						<span class="list-group-item">
							<a href="{{ siteUrl }}calendar_demo/calendars/{{ calendar.handle }}" style="color: {{ calendar.color }};">
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;
                                <b>{{ calendar.name }}</b>
                            </a> &nbsp; &nbsp;
							View events for this calendar by: &nbsp;
							<a href="{{ siteUrl }}calendar_demo/month/calendar/{{ calendar.handle }}" class="label" style="background-color: {{ calendar.color }}; color: {{ calendar.contrastColor }} !important;">Month</a>
							<a href="{{ siteUrl }}calendar_demo/week/calendar/{{ calendar.handle }}" class="label" style="background-color: {{ calendar.color }}; color: {{ calendar.contrastColor }} !important;">Week</a>
							<a href="{{ siteUrl }}calendar_demo/day/calendar/{{ calendar.handle }}" class="label" style="background-color: {{ calendar.color }}; color: {{ calendar.contrastColor }} !important;">Day</a>
						</span>
                    {% else %}
                        No other Calendars found for this site.
                    {% endfor %}
                </div>
            {% endif %}

		</div>

		<div class="col-sm-12 col-md-3">
			{% include "calendar_demo/layouts/_sidebar.html" %}
		</div>

    </div>

{% endblock %}
