{% extends "calendar_demo/layouts/_layout.html" %}

{% set pageTitle = "Day" %}
{% set page = "day" %}

{% block content %}

    {# Acquire URL segments #}
    {% set seg1 = craft.request.segment(2) %}
    {% set seg2 = craft.request.segment(3) %}
    {% set seg3 = craft.request.segment(4) %}
    {% set seg4 = craft.request.segment(5) %}
    {% set seg5 = craft.request.segment(6) %}
    {% set seg6 = craft.request.segment(7) %}

    <div class="page-header">
        <h1>Day View</h1>
        <p class="lead">
            Below is full day calendar view, which allows you to see all your event occurrences by the hour.
        </p>
    </div>

    {% set targetDate = "today" %}
    {% set calendarHandle = null %}
    {% if seg2 == "calendar" %}
        {% set calendarHandle = seg3 %}
        {% if seg4 %}
            {% set targetDate = seg4~"-"~seg5~"-"~seg6 %}
        {% endif %}
    {% elseif seg2 is not empty %}
        {% set targetDate = seg2~"-"~seg3~"-"~seg4 %}
    {% endif %}

    <div class="row">
        <div class="col-md-9">

            {% include "calendar_demo/layouts/_calendar_banner.html" %}

            {% set day = craft.calendar.day({
            date: targetDate,
            calendar: calendarHandle
            }) %}

            <div id="day_calendar">
                <div class="header clearfix">
                    <div class="left">
                        <ul class="pager">
                            <li>
                                <a href="{{ siteUrl }}calendar_demo/day/{{ seg2 == "calendar" ? "calendar/"~seg3~"/" }}{{ day.previousDate.format('Y/m/d') }}">
                                    &larr; Previous
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="center">
                        <h3>
                            {{ day.date.format('l, F j, Y') }} &nbsp;
							<span class="label {{ day.eventCount ? "label-warning" : "label-default" }}">
								{{ day.eventCount }} event{{ day.eventCount > 1 or day.eventCount == 0 ? "s" }}
							</span>
                        </h3>
                    </div>
                    <div class="right">
                        <ul class="pager">
                            <li>
                                <a href="{{ siteUrl }}calendar_demo/day/{{ seg2 == "calendar" ? "calendar/"~seg3~"/" }}{{ day.nextDate.format('Y/m/d') }}">
                                    Next &rarr;
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <td style="width:15%;">
                                {% if day.allDayEventCount %}
                                    <strong>All Day</strong>
                                    <span class="label pull-right label-warning">
                                        {{ day.allDayEventCount }}
                                    </span>
                                {% else %}
                                    All Day
                                {% endif %}
                            </td>
                            <td>
                                {% for event in day.allDayEvents %}
                                    {% if loop.index == 1 %}<ul class="list-group">{% endif %}
                                    <li class="list-group-item" style="background-color: {{ event.calendar.lighterColor }}; border-left: 5px solid {{ event.calendar.color }};">
                                        <a href="{{ siteUrl }}calendar_demo/calendars/{{ event.calendar.handle }}/"
                                           class="badge"
                                           style="background-color: {{ event.calendar.color }};">
                                            {{ event.calendar.name }}
                                        </a>
                                        <b>
                                            <a href="{{ siteUrl }}calendar_demo/event/{{ event.id }}/{{ event.repeating ? event.startDate.format('Y/m/d') }}"
                                               style="color: {{ event.calendar.contrastColor }} !important;">
                                                {{ event.title }}
                                            </a>
                                        </b>

                                        {% if event.location is defined %}
                                            <i>{{ event.location }}</i>
                                        {% endif %}
                                    </li>
                                    {% if loop.index == day.allDayEventCount %}</ul>{% endif %}
                                {% endfor %}
                            </td>
                        </tr>

                        {% for hour in day %}
                            <tr>
                                <td>
                                    {% if hour.eventCount %}
                                        <strong>{{ hour.date.format('g a') }}</strong>
                                        <span class="label pull-right label-warning">
                                            {{ hour.eventCount }}
                                        </span>
                                    {% else %}
                                        {{ hour.date.format('g a') }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% for event in hour.events %}
                                        {% if loop.index == 1 %}<ul class="list-group">{% endif %}
                                        <li class="list-group-item" style="border-left: 5px solid {{ event.calendar.color }};">
                                            <a href="{{ siteUrl }}calendar_demo/calendars/{{ event.calendar.handle }}/"
                                               class="badge"
                                               style="background-color: {{ event.calendar.color }};">
                                                {{ event.calendar.name }}
                                            </a>
                                            <span class="glyphicon glyphicon-time"></span>

                                            {% if event.multiDay %}
                                                {% if day.containsDate(event.startDate) %}
                                                    Starts {{ event.startDate.format('g:ia') }} ({{ event.duration.humanReadable }})
                                                {% elseif day.containsDate(event.endDate) %}
                                                    Ends {{ event.endDate.format('g:ia') }} ({{ event.duration.humanReadable }})
                                                {% endif %}
                                            {% else %}
                                                {{ event.startDate.format('g:ia') }} - {{ event.endDate.format('g:ia') }}
                                            {% endif %}
                                            &nbsp;
                                            <b>
                                                <a href="{{ siteUrl }}calendar_demo/event/{{ event.id }}/{{ event.repeating ? event.startDate.format('Y/m/d') }}"
                                                   class="calendar_event_title">
                                                    {{ event.title }}
                                                </a>
                                            </b>

                                            {% if event.location is defined %}
                                                <i>{{ event.location }}</i>
                                            {% endif %}
                                        </li>
                                        {% if loop.index == hour.eventCount %}</ul>{% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            {% include "calendar_demo/layouts/_sidebar.html" %}
        </div>

    </div>

{% endblock %}
