{% extends "calendar_demo/layouts/_layout.html" %}

{% set pageTitle = "Event" %}
{% set page = "event" %}

{% block content %}

    {# Acquire URL segments #}
    {% set seg1 = craft.request.segment(2) %}
    {% set seg2 = craft.request.segment(3) %}
    {% set seg3 = craft.request.segment(4) %}
    {% set seg4 = craft.request.segment(5) %}
    {% set seg5 = craft.request.segment(6) %}
    {% set seg6 = craft.request.segment(7) %}

	<div class="page-header">
		<h1>Event View</h1>
		<p class="lead">
			Below is an individual event view, which allows you to see full details and occurrences for the given event.
		</p>
	</div>

	<div class="row">
		<div class="col-md-9">
			<div id="events_calendar">

                {% set occurrenceDate = null %}
                {% if seg3 and seg4 and seg5 %}
                    {% set occurrenceDate = seg3~"-"~seg4~"-"~seg5 %}
                {% endif %}

                {% set event = craft.calendar.event(seg2, {
                    occurrenceDate: occurrenceDate,
                    occurrenceRangeStart: "today",
                    occurrenceRangeEnd: "6 months",
                    occurrenceLimit: 10
                }) %}

                {% if event %}

                    <a href="{{ siteUrl }}calendar_demo/export/event/{{ seg2 }}" class="btn btn-default btn-sm pull-right" role="button">
                        <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
                        &nbsp; Export Event
                    </a>

                    <h3>{{ event.title }}</h3>
                    <table class="table table-striped" style="margin-top: 20px;">
                        <tr>
                            <th style="width: 20%;">Calendar</th>
                            <td>
                                <span class="glyphicon glyphicon-calendar" style="color: {{ event.calendar.color }};"></span>&nbsp;
                                <a href="{{ siteUrl }}calendar_demo/calendars/{{ event.calendar.handle }}" style="color: {{ event.calendar.color }};">
                                    {{ event.calendar.name }}
                                </a>
                            </td>
                        </tr>
                        {% if event.location is defined %}
                            <tr>
                                <th>Location</th>
                                <td>
                                    {{ event.location }}
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th>Date</th>
                            <td>
                                {{ event.startDate.format('l, F j, Y') }}

                                {% if event.allDay %}
                                    (all day)
                                {% else %}
                                    at {{ event.startDate.format("g:ia") }} -
                                    {% if event.multiDay %}
                                        <br />{{ event.endDate.format("l, F j, Y \\a\\t g:ia") }}
                                    {% else %}
                                        {{ event.endDate.format("g:ia") }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Duration</th>
                            <td>
                                <span class="glyphicon glyphicon-time"></span>&nbsp;
                                {{ event.duration.humanReadable }}
                            </td>
                        </tr>
                        {% if event.description is defined %}
                            <tr>
                                <th>Details</th>
                                <td>{{ event.description }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th>Repeats?</th>
                            <td>
                                {% if event.repeating %}
                                    <span class="glyphicon glyphicon-repeat"></span>&nbsp;
                                    Repeats {{ event.readableRepeatRule }}
                                {% else %}
                                    No
                                {% endif %}
                            </td>
                        </tr>

                        {% if event.repeating %}
                        <tr>
                            <th>Upcoming Recurrences</th>
                            <td>
                                {% for occurrence in event.occurrences %}
                                    {{ loop.index == 1 ? '<ul class="list-group">' }}

                                    <li class="list-group-item" style="border-left: 5px solid {{ occurrence.calendar.color }};">
                                        <a href="{{ siteUrl }}calendar_demo/event/{{ occurrence.id }}/{{ occurrence.startDate.format("Y/m/d") }}"
                                           class="badge"
                                           style="background-color: {{ occurrence.calendar.color }}; color: {{ occurrence.calendar.contrastColor }} !important;">
                                            View Recurrence
                                        </a>
                                        <a href="{{ siteUrl }}calendar_demo/day/{{ occurrence.startDate.format("Y/m/d") }}" class="badge">
                                            View Day in Calendar
                                        </a>
                                        <span class="glyphicon glyphicon-time"></span>&nbsp;
                                        {{ occurrence.startDate.format("l, F j, Y") }}
                                        {% if occurrence.allDay %}
                                            (all day)
                                        {% else %}
                                            at {{ occurrence.startDate.format("g:ia") }}
                                            {% if occurrence.multiDay %}
                                                <br />{{ occurrence.endDate.format("l, F j, Y \\a\\t g:ia") }}
                                            {% else %}
                                                {{ occurrence.endDate.format("g:ia") }}
                                            {% endif %}
                                        {% endif %}
                                    </li>

                                    {{ loop.index == event.occurrenceCount ? '</ul>' }}
                                {% else %}
                                    <p>No occurrences found for this timeframe (next 6 months from today).</p>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endif %}
                    </table>

                {% else %}
                    <div class="alert alert-danger" role="alert">
                        <p class="lead">
                            Sorry, no event was found.
                        </p>
                    </div>
                {% endif %}
			</div>

		</div>

		<div class="col-md-3">
            {% include "calendar_demo/layouts/_sidebar.html" %}
		</div>

    </div>

{% endblock %}
