{% extends "calendar_demo/layouts/_layout.html" %}

{% set pageTitle = "Month" %}
{% set page = "month" %}

{% block content %}

    {# Acquire URL segments #}
    {% set seg1 = craft.request.segment(2) %}
    {% set seg2 = craft.request.segment(3) %}
    {% set seg3 = craft.request.segment(4) %}
    {% set seg4 = craft.request.segment(5) %}
    {% set seg5 = craft.request.segment(6) %}

    <div class="page-header">
        <h1>Month View</h1>
        <p class="lead">Below is full month calendar view, which allows you to see all your event occurrences.</p>
    </div>

    {% set targetDate = "today" %}
    {% set calendarHandle = null %}
    {% if seg2 == "calendar" %}
        {% set calendarHandle = seg3 %}
        {% if seg4 %}
            {% set targetDate = seg4~"-"~seg5~"-01" %}
        {% endif %}
    {% elseif seg2 is not empty %}
        {% set targetDate = seg2~"-"~seg3~"-01" %}
    {% endif %}

    <div class="row">
        <div class="col-md-9">
            {% if seg2 == "calendar" %}
                {% set calendar = craft.calendar.calendar({handle: seg3}) %}
                {% if calendar %}
                    <div class="alert" role="alert" style="background-color: {{ calendar.lighterColor }}; border-color: {{ calendar.color }};">
                        <p class="lead" style="color: {{ calendar.contrastColor }} !important;">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            Events for <strong>{{ calendar.name }}</strong> calendar
                        </p>
                    </div>
                {% endif %}
            {% endif %}

            <div id="month_calendar">
                {% set month = craft.calendar.month({
                    date: targetDate,
                    calendar: calendarHandle
                }) %}

                <table id="month_calendar_outer">
                    <thead>
                    <tr id="month_year">
                        <th class="left">
                            <ul class="pager">
                                <li>
                                    <a href="{{ siteUrl }}calendar_demo/month/{{ seg2 == "calendar" ? "calendar/"~seg3~"/" }}{{ month.previousDate.format('Y/m') }}">
                                        &larr; {{ month.previousDate.format('F') }}
                                    </a>
                                </li>
                            </ul>
                        </th>
                        <th class="center" colspan="3">
                            <h3>
                                {% include "calendar_demo/layouts/_month_heading.html" with {month: month} only %} &nbsp;
                                <span class="label {{ month.eventCount ? "label-warning" : "label-default" }}">
								    {{ month.eventCount }} event{{ month.eventCount > 1 or month.eventCount == 0 ? "s" }}
							    </span>
                            </h3>
                        </th>
                        <th class="right">
                            <ul class="pager">
                                <li>
                                    <a href="{{ siteUrl }}calendar_demo/month/{{ seg2 == "calendar" ? "calendar/"~seg3~"/" }}{{ month.nextDate.format('Y/m') }}">
                                        {{ month.nextDate.format('F') }} &rarr;
                                    </a>
                                </li>
                            </ul>
                        </th>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <table id="month_calendar_inner" class="table table-bordered">
                                <thead>
                                <tr id="days_of_week" class="active">
                                    {% for day in month|first %}
                                        <th class="day_of_week">
                                            {{ day.date.format('l') }}
                                        </th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for week in month %}
                                    <tr>
                                        {% for day in week %}
                                            {% if month.containsDate(day.date) %}
                                            <td class="day_cell{{ day.date.isToday ? " today" }}">
                                                <div class="date{{ day.eventCount ? " has_events" }}">
                                                    <a class="num" href="{{ siteUrl }}calendar_demo/day/{{ seg2 == 'calendar' ? "calendar/"~seg3~"/" }}{{ day.date.format('Y/m/d') }}">
                                                        {{ day.date.format('j') }}
                                                    </a>
                                                </div>
                                            {% else %}
                                                <td class="day_cell out_of_range">
                                                <div class="date">
                                                        <span class="num">
                                                            {{ day.date.format('j') }}
                                                        </span>
                                                </div>
                                            {% endif %}

                                            {% for event in day.events %}
                                                {% include "calendar_demo/layouts/_event.html" %}
                                            {% endfor %}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div class="col-md-3">
            {% include "calendar_demo/layouts/_sidebar.html" %}
        </div>
    </div>

{% endblock %}
